In [1]:
import os
import glob
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
source_path = "./All/DPRD TK I/*.csv"
files = glob.glob(source_path)
len(files)

29

In [3]:
# def save_data(file):
#     df = pd.read_csv(file)
#     name = file.split("\\")[1].split(".cs")[0]
#     df.to_excel("All/DPRD TK I/clean_data/{}.xlsx".format(name), index=False)
#     print("sucess...")

In [4]:
# for idx,file in enumerate(files):
#     df = pd.read_csv(file)
#     if idx == 1:
#         cols = ["Nama", "Partai Politik", "DaerahPemilihan", "Fraksi", "SuaraSah", "Keterangan"]
#         df = df[cols]
#     else:
#         df = df.rename(columns={"nama" : "Nama"})
#         df = df.rename(columns={"Anggota" : "Nama"})
#         df = df.rename(columns={"Nama Anggota" : "Nama"})
#         df = df.rename(columns={"Nama Lengkap" : "Nama"})
#     name = file.split("\\")[1].split(".cs")[0]
#     df.to_excel("All/DPRD TK I/clean_data/{}.xlsx".format(name), index=False)
# #     display(df.head())    
# #     save_data(file)

# Concat nama column

In [68]:
source_path = "./All/DPRD TK I/clean_data/*.xlsx"
files = glob.glob(source_path)

In [69]:
li = []
for file in tqdm(files):
    df = pd.read_excel(file)
    df = df [["Nama"]]
    li.append(df)
len(li)

100%|██████████████████████████████████████████████████████████████████████████████████| 29/29 [00:00<00:00, 43.20it/s]

29

In [70]:
df_nama = pd.concat(li).reset_index(drop=True)
df_nama["Nama"] = df_nama["Nama"].str.lower()
df_nama

                                             Nama
0                    anak agung gede agung suyoga
1                            ni wayan sari galung
2                           i gusti putu budiarta
3                                i wayan kariarta
4                  anak agung ngurah adhi ardhana
...                                           ...
2056                      ir. widi sutikno. m.si.
2057                       heri dwi haryono, s,h,
2058                         hj. erlia risti, se.
2059                      h. muhammad yazid, s.ag
2060  dr. stevanus christian handoko, s.kom., mm.

[2061 rows x 1 columns]

In [71]:
df_nama.to_excel("dummy_dprd_1_nama.xlsx", index=False)

# Filter

In [20]:
df_nama = pd.read_excel("./DPRD TK I/dummy_dprd_1_nama.xlsx")
df_nama

                                   Nama
0         anak agung gede agung suyoga
1                 ni wayan sari galung
2                i gusti putu budiarta
3                     i wayan kariarta
4       anak agung ngurah adhi ardhana
...                                 ...
2056                   widi sutikno
2057              heri dwi haryono  s
2058                    erlia risti
2059                  muhammad yazid
2060     evanus christian handoko

[2061 rows x 1 columns]

In [21]:
df_nama["Nama"] = df_nama["Nama"].str.rjust(1, " ")
df_nama["Nama"] = df_nama["Nama"].str.replace(",", " ")
df_nama["Nama"] = df_nama["Nama"].str.replace(".", " ")
df_nama["Nama"] = df_nama["Nama"].str.replace("(", "")
df_nama["Nama"] = df_nama["Nama"].str.replace(")", "")

In [22]:
df_nama['Nama'] = ' ' + df_nama['Nama'].astype(str)
df_nama['Nama'] = df_nama['Nama'].astype(str) + " "

In [23]:
df_nama.loc[[73]]

                       Nama
73     m  imron rosyadi

In [ ]:
dr agus

In [ ]:
" s ag " --> dans agus
dan us

In [24]:
list_filter = [" s h i ", " s h m kn ", " stp ", " s pd i ", " s sos i ", " sh i ", " s psi ", " 2019-2020 ", " belum diusulkan ", " belum ditetapkan ", " h ", " s pd ", " sh ",
                " mh ", " se ", " si kom ", " m kom ", " s ag ", " ir ", " s si ", " m si ", " s ip ", " mm ", " ba ", " m ag ", " apt ", " s a p ", " sm hk ", " s ab ",
                " s i kom ", " m sc ", " drs ", " hj ", " kh ", " m m ", " sp m ", " mayjen tni purn ", " stp ", " s tp ", " s kom ", " lc ", " skm ", " ss ", " mt ",
                " dr ", " ak mm ", " s sos ", " s sos i ", " sp og ", " se ", " m ec dev ", " s ap ", " msi ", " skom ", " spsi ", " bcomm ",
              " s m m si ", " s sos i ", "  ll ciarb ", " s p ", " cpa ma ", " st ", ":", " am kep ", " s pd i ", " s ikom ", " m hum ",
              " s ap ", " m pd ", "<br/ketua dprd", "<br/wakil ketua 2", "<br/wakil ketua 1", "<br/wakil ketua 3 ",
              " msi  ak ", " b comm ", " lc ma ", " b buss ", " dra ", " a md ", " s h", " spd " ]

filter_str = '|'.join(list_filter)
df_nama['Nama'] = df_nama['Nama'].str.replace(filter_str, ' ')
df_nama

                                     Nama
0          anak agung gede agung suyoga
1                  ni wayan sari galung
2                 i gusti putu budiarta
3                      i wayan kariarta
4        anak agung ngurah adhi ardhana
...                                   ...
2056                    widi sutikno
2057               heri dwi haryono  s
2058                     erlia risti
2059                   muhammad yazid
2060      evanus christian handoko

[2061 rows x 1 columns]

In [25]:
# df_nama.to_excel("./DPRD TK I/dummy_dprd_1_nama.xlsx", index=False)

# Preparation for tanggal lahir, tempat lahir, alamat

In [ ]:
gelar_depan = ["h ", "hj ", "h. ", "hj. ", "prof ", "drs ", "drs. ", "prof. ", "dr.", "dr ", "ir. ", "ir ", "prof."]
gelar_militer = ["letjen", "mayjen", "brigen"]

In [15]:
source_path = "./All/DPRD TK I/clean_data/*.xlsx"
files = glob.glob(source_path)

In [20]:
file = files[2] 
print(file)
df = pd.read_excel(file)
df

./All/DPRD TK I/clean_data\DKI_Jakarta.xlsx

,Nama,list_lahir
0,h mohammad arifin,"Tempat/tgl. lahir: Jakarta, 21 Oktober 1963"
1,yusriah dzinnun s pd,"Tempat/tgl. lahir:Jakarta, 23 Maret 1970"
2,justin adrian untayana sh mh,"Tempat/tgl. lahir: Jakarta, 3 Juli 1980"
3,h jamaluddin lamanda sh mh,"Tempat/tgl. lahir: Tolitoli, 5 Mei 1970"
4,h lukmanul hakim se,"Tempat/tgl. lahir: Jakarta, 11 Oktober 1975"
...,...,...
101,h iman satria,"Tempat/tgl. lahir:Jakarta, 7 Juli 1963"
102,hj zita anjani s sos m sc,"Tempat/tgl. lahir:Jakarta, 12 Maret 1990"
103,dr ir h rasyidi hy mm cpa ma,"Tempat/tgl. lahir:P. Beringin, 10 November 1951"
104,h ismail s pd,"Tempat/tgl. lahir:Jakarta, 31 Januari 1972"
105,pandapotan sinaga se mm,"Tempat/tgl. lahir:Pematang Siantar, 11 Oktober..."

In [22]:
df["list_lahir"][0]

'Tempat/tgl. lahir: Jakarta, 21 Oktober 1963'

In [34]:
def get_ttl(x):
    print(x)
    ttl = x.split(":")[1]
    tempat = ttl.split(",")[0]
    tanggal = ttl.split(",")[1]
    
    return tempat, tanggal

In [35]:
list_tempat = []
list_tanggal = []

for idx in range(df.shape[0]):
    tempat, tanggal = get_ttl(df["list_lahir"][idx])
    list_tempat.append(tempat)
    list_tanggal.append(tanggal)

Tempat/tgl. lahir: Jakarta, 21 Oktober 1963
Tempat/tgl. lahir:Jakarta, 23 Maret 1970
Tempat/tgl. lahir: Jakarta, 3 Juli 1980
Tempat/tgl. lahir: Tolitoli, 5 Mei 1970
Tempat/tgl. lahir: Jakarta, 11 Oktober 1975
Tempat/tgl. lahir:Medan, 21 Oktober 1962
Tempat/tgl. lahir:Jakarta, 23 Juli 1992
Tempat/tgl. lahir:Surabaya, 25 November 1985
Tempat/tgl. lahir:Jakarta, 8 Maret 1974
Tempat/tgl. lahir:Jakarta, 2 Mei 1996
Tempat/tgl. lahir: Tanjung Pandan, 22 Mei 1987
Tempat/tgl. lahir: Jakarta, 7 Juli 1971
Tempat/tgl. lahir: Jakarta, 3 Januari 1957
Tempat/tgl. lahir: Jakarta, 19 Juni 1991
Tempat/tgl. lahir: Jakarta, 10 Maret 1970
Tempat/tgl. lahir: Jakarta, 6 Maret 1979
Tempat/tgl. lahir: Pandeglang, 21 April 1979
Tempat/tgl. lahir:Bandung, 6 September 1967
Tempat/tgl. lahir:Jakarta, 30 Mei 1973
Tempat/tgl. lahir:Jakarta, 28 April 1968
Tempat/tgl. lahir:Jakarta, 23 Juni 1991
Tempat/tgl. lahir:Jakarta, 11 November 1976
Tempat/tgl. lahir: Jakarta, 16 Agustus 1968
Tempat/tgl. lahir: Makasar, 16 Agustus 1970
Tempat/tgl. lahir: Jakarta, 25 Februari 1972
Tempat/tgl. lahir:Jakarta, 8 Mei 1989
Tempat/tgl. lahir:Jakarta

IndexError: list index out of range