In [1]:
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen, urlretrieve, quote
from urllib.parse import urljoin
import pandas as pd
import csv
from tqdm import tqdm

# Function

In [2]:
def get_url(url):
    headers = {
         'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36'
     }
    r = requests.get(url, headers=headers)  # Using the custom headers we defined above
    soup = BeautifulSoup(r.content, 'lxml') 
    return soup

# 1. Aceh

### a. Kabupaten Aceh Barat

In [3]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Aceh_Barat"

In [4]:
df = pd.read_html(url)[5]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Hermanto,Gerindra,ACEH BARAT 1,1.655,NaN
1,Ade Dahmayanti,Gerindra,ACEH BARAT 2,1.187,NaN
2,Ahmad Yani,Gerindra,ACEH BARAT 3,1.515,NaN
3,Samsu Rizal,Gerindra,ACEH BARAT 4,1.594,NaN
4,Said Rizqi Saifan,Golkar,ACEH BARAT 1,1.134,NaN
5,Ali Hasyimi,Golkar,ACEH BARAT 3,1.159,NaN
6,H. Kamaruddin,Golkar,ACEH BARAT 4,2.234,Wakil Ketua DPRK
7,Zulfikar,Golkar,ACEH BARAT 5,975.000,NaN
8,Masrizal,PKS,ACEH BARAT 1,711.000,NaN
9,Teungku H. Mawardi Basyah,PPP,ACEH BARAT 3,2.197,NaN
10,Asrial Gutama,PPP,ACEH BARAT 5,1.296,NaN
11,Medradia Yugistira,PAN,ACEH BARAT 1,1.221,NaN
12,Nasruddin,PAN,ACEH BARAT 2,1.903,NaN
13,Ramli,PAN,ACEH BARAT 4,2.415,Wakil Ketua DPRK
14,Abdul Rauf,PAN,ACEH BARAT 5,683.000,NaN
15,Mawardi,Demokrat,ACEH BARAT 1,1.313,NaN
16,Nurdin,Demokrat,ACEH BARAT 2,742.000,NaN
17,Dahlan,Demokrat,ACEH BARAT 4,2.492,NaN
18,Samsi Barmi,PA,ACEH BARAT 1,979.000,Ketua DPRK
19,H. Tarmizi,PA,ACEH BARAT 1,964.000,NaN
20,Dahlan,PA,ACEH BARAT 2,1.841,NaN
21,Hamdan,PA,ACEH BARAT 3,2.494,NaN
22,Abubakar,PA,ACEH BARAT 4,1.502,NaN
23,Muhammad,PA,ACEH BARAT 5,1.151,NaN
24,Bustamam,PNA,ACEH BARAT 1,863.000,NaN

In [5]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                         nama   alamat
0                    Hermanto  No Data
1              Ade Dahmayanti  No Data
2                  Ahmad Yani  No Data
3                 Samsu Rizal  No Data
4           Said Rizqi Saifan  No Data
5                 Ali Hasyimi  No Data
6               H. Kamaruddin  No Data
7                    Zulfikar  No Data
8                    Masrizal  No Data
9   Teungku H. Mawardi Basyah  No Data
10              Asrial Gutama  No Data
11         Medradia Yugistira  No Data
12                  Nasruddin  No Data
13                      Ramli  No Data
14                 Abdul Rauf  No Data
15                    Mawardi  No Data
16                     Nurdin  No Data
17                     Dahlan  No Data
18                Samsi Barmi  No Data
19                 H. Tarmizi  No Data
20                     Dahlan  No Data
21                     Hamdan  No Data
22                   Abubakar  No Data
23                   Muhammad  No Data
24                   Bustamam  No Data

In [6]:
df.to_csv("./DPRD TK II/Aceh/Aceh_barat.csv", index=False)

### b. Kabupaten Aceh Barat Daya

In [7]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Aceh_Barat_Daya"

In [8]:
df = pd.read_html(url)[6]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Zul Ilfan,NaN,PKB,ACEH BARAT DAYA 1,1.031,NaN
1,Teuku Junardi,NaN,PKB,ACEH BARAT DAYA 2,1.187,NaN
2,Yulizar,NaN,Gerindra,ACEH BARAT DAYA 1,795.000,NaN
3,Zulfan,NaN,Gerindra,ACEH BARAT DAYA 3,855.000,NaN
4,Justar Y. S.,NaN,Golkar,ACEH BARAT DAYA 1,501.000,NaN
5,Agusri Samhadi,NaN,Golkar,ACEH BARAT DAYA 2,926.000,NaN
6,H. Munir H. Ubit,NaN,Golkar,ACEH BARAT DAYA 3,609.000,NaN
7,Muslim,NaN,NasDem,ACEH BARAT DAYA 1,1.253,NaN
8,Syamsul Rizal,NaN,NasDem,ACEH BARAT DAYA 2,821.000,NaN
9,Yusran,NaN,NasDem,ACEH BARAT DAYA 3,1.186,NaN
10,Usman I. A.,NaN,PKS,ACEH BARAT DAYA 1,1.097,NaN
11,Hamdani J. B.,NaN,PPP,ACEH BARAT DAYA 2,1.016,NaN
12,Munandar,NaN,PAN,ACEH BARAT DAYA 1,558.000,NaN
13,Said Abbas,NaN,PAN,ACEH BARAT DAYA 2,1.213,NaN
14,Ikhsan,NaN,PAN,ACEH BARAT DAYA 3,771.000,NaN
15,Julinardi,NaN,Hanura,ACEH BARAT DAYA 1,875.000,NaN
16,Syarifuddin,NaN,Demokrat,ACEH BARAT DAYA 1,1.041,NaN
17,Nurdianto,NaN,Demokrat,ACEH BARAT DAYA 2,1.462,Ketua DPRK
18,Syarkawi,NaN,Demokrat,ACEH BARAT DAYA 3,2.080,NaN
19,Dina Afridha,NaN,Partai Aceh,ACEH BARAT DAYA 1,520.000,NaN
20,Sardiman,NaN,Partai Aceh,ACEH BARAT DAYA 2,840.000,NaN
21,Hendra Fadhli,NaN,Partai Aceh,ACEH BARAT DAYA 3,809.000,Wakil Ketua DPRK
22,Anton Sumarno,NaN,PNA,ACEH BARAT DAYA 1,1.221,NaN
23,Teuku Cut Rahman,NaN,PNA,ACEH BARAT DAYA 2,1.147,NaN
24,Syarifuddin,NaN,PNA,ACEH BARAT DAYA 3,1.270,Wakil Ketua DPRK

In [9]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                nama   alamat
0          Zul Ilfan  No Data
1      Teuku Junardi  No Data
2            Yulizar  No Data
3             Zulfan  No Data
4       Justar Y. S.  No Data
5     Agusri Samhadi  No Data
6   H. Munir H. Ubit  No Data
7             Muslim  No Data
8      Syamsul Rizal  No Data
9             Yusran  No Data
10       Usman I. A.  No Data
11     Hamdani J. B.  No Data
12          Munandar  No Data
13        Said Abbas  No Data
14            Ikhsan  No Data
15         Julinardi  No Data
16       Syarifuddin  No Data
17         Nurdianto  No Data
18          Syarkawi  No Data
19      Dina Afridha  No Data
20          Sardiman  No Data
21     Hendra Fadhli  No Data
22     Anton Sumarno  No Data
23  Teuku Cut Rahman  No Data
24       Syarifuddin  No Data

In [10]:
df.to_csv("./DPRD TK II/Aceh/Aceh_barat_daya.csv", index=False)

### c. Kabupaten Aceh Besar

In [11]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Aceh_Besar"

In [12]:
df = pd.read_html(url)[6]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Syahrizal,NaN,PKB,ACEH BESAR 5,1.787,NaN
1,Nabhani,NaN,Gerindra,ACEH BESAR 1,1.411,NaN
2,Zulfahmi,NaN,Gerindra,ACEH BESAR 3,1.581,NaN
3,Khubbie El Risal,NaN,Gerindra,ACEH BESAR 5,1.875,NaN
4,Saifuddin,NaN,Golkar,ACEH BESAR 3,2.117,NaN
5,Muhibuddin Ucok,NaN,Golkar,ACEH BESAR 4,2.453,NaN
6,Usman A.R.,NaN,Golkar,ACEH BESAR 5,1.422,NaN
7,Zulfikar,NaN,NasDem,ACEH BESAR 4,2.013,NaN
8,Hanifullah,NaN,PKS,ACEH BESAR 1,1.373,NaN
9,Eka Rizkina,NaN,PKS,ACEH BESAR 2,1.063,NaN
10,Ruslan Effendi,NaN,PKS,ACEH BESAR 3,871.000,NaN
11,Mursalin,NaN,PKS,ACEH BESAR 4,1.029,NaN
12,Zulfikar Aziz,NaN,PKS,ACEH BESAR 5,1.908,Wakil Ketua DPRK
13,Muhsinir Marzuki,NaN,PAN,ACEH BESAR 1,1.208,NaN
14,Abdul Muchti,NaN,PAN,ACEH BESAR 2,2.014,NaN
15,Yusran,NaN,PAN,ACEH BESAR 2,1.805,NaN
16,Mahdi Basyah,NaN,PAN,ACEH BESAR 3,1.842,NaN
17,Fahrizal,NaN,PAN,ACEH BESAR 4,2.254,NaN
18,Rahmat Aulia,NaN,PAN,ACEH BESAR 4,1.624,NaN
19,Iskandar Ali,NaN,PAN,ACEH BESAR 5,2.370,Ketua DPRK
20,Zarwatun Niam,NaN,Demokrat,ACEH BESAR 3,1.265,NaN
21,Yuhelmi,NaN,Demokrat,ACEH BESAR 4,936.000,NaN
22,Firdaus Armia,NaN,Demokrat,ACEH BESAR 5,1.459,NaN
23,Zulfikri,NaN,Partai Aceh,ACEH BESAR 1,2.421,NaN
24,Gunawan,NaN,Partai Aceh,ACEH BESAR 2,2.203,NaN
25,Saifuddin,NaN,Partai Aceh,ACEH BESAR 3,1.077,NaN
26,Juanda Djamal,NaN,Partai Aceh,ACEH BESAR 4,1.541,NaN
27,Bakhtiar,NaN,Partai Aceh,ACEH BESAR 5,1.307,Wakil Ketua DPRK
28,Nasruddin M. Daud,NaN,PDA,ACEH BESAR 1,1.329,NaN
29,Tgk. Mahyuddin,NaN,PDA,ACEH BESAR 2,1.389,NaN
30,Muslem M. Asyek,NaN,PDA,ACEH BESAR 4,1.911,NaN
31,Tgk. Mufaddhal Zakaria,NaN,PDA,ACEH BESAR 5,2.309,NaN
32,Mustafa,NaN,PNA,ACEH BESAR 1,2.071,NaN
33,Arfiansyah,NaN,PNA,ACEH BESAR 5,734.000,NaN
34,Firdaus,NaN,PBB,ACEH BESAR 1,2.912,NaN

In [13]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                      nama   alamat
0                Syahrizal  No Data
1                  Nabhani  No Data
2                 Zulfahmi  No Data
3         Khubbie El Risal  No Data
4                Saifuddin  No Data
5          Muhibuddin Ucok  No Data
6               Usman A.R.  No Data
7                 Zulfikar  No Data
8               Hanifullah  No Data
9              Eka Rizkina  No Data
10          Ruslan Effendi  No Data
11                Mursalin  No Data
12           Zulfikar Aziz  No Data
13        Muhsinir Marzuki  No Data
14            Abdul Muchti  No Data
15                  Yusran  No Data
16            Mahdi Basyah  No Data
17                Fahrizal  No Data
18            Rahmat Aulia  No Data
19            Iskandar Ali  No Data
20           Zarwatun Niam  No Data
21                 Yuhelmi  No Data
22           Firdaus Armia  No Data
23                Zulfikri  No Data
24                 Gunawan  No Data
25               Saifuddin  No Data
26           Juanda Djamal  No Data
27                Bakhtiar  No Data
28       Nasruddin M. Daud  No Data
29          Tgk. Mahyuddin  No Data
30         Muslem M. Asyek  No Data
31  Tgk. Mufaddhal Zakaria  No Data
32                 Mustafa  No Data
33              Arfiansyah  No Data
34                 Firdaus  No Data

In [14]:
df.to_csv("./DPRD TK II/Aceh/Aceh_besar.csv", index=False)

### d. Kabupaten Aceh Jaya

In [15]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Aceh_Jaya"

In [16]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Fitra Akhyar,Gerindra,ACEH JAYA 4,972.000,NaN
1,Aizuddin,Golkar,ACEH JAYA 1,968.000,NaN
2,Ayudi Ilham,Golkar,ACEH JAYA 2,1.517,NaN
3,Teuku Asrizal,Golkar,ACEH JAYA 4,921.000,Wakil Ketua DPRK
4,Amiruddin Z.,PPP,ACEH JAYA 3,504.000,NaN
5,Muslim,PAN,ACEH JAYA 3,882.000,NaN
6,Hanasri,Demokrat,ACEH JAYA 1,1.782,NaN
7,Azhar,Demokrat,ACEH JAYA 4,1.021,NaN
8,Safwandi,PA,ACEH JAYA 1,2.246,NaN
9,Fitri Maya Lisa,PA,ACEH JAYA 1,1.141,NaN
10,Muhammad Diah,PA,ACEH JAYA 1,566.000,NaN
11,Mawardi Wahid,PA,ACEH JAYA 2,1.517,NaN
12,Muhammad Ali,PA,ACEH JAYA 3,1.150,NaN
13,Muslem D.,PA,ACEH JAYA 4,2.275,Ketua DPRK
14,Usman I.D.,PA,ACEH JAYA 4,998.000,NaN
15,Dasril Arahman,PD Aceh,ACEH JAYA 2,1.504,NaN
16,Syamsuddin Yahya,PD Aceh,ACEH JAYA 3,640.000,NaN
17,Marwan Basyah,PNA,ACEH JAYA 1,898.000,NaN
18,Irwanto N.P.,PNA,ACEH JAYA 2,931.000,Wakil Ketua DPRK
19,Hazami,PNA,ACEH JAYA 3,699.000,NaN

In [17]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                nama   alamat
0       Fitra Akhyar  No Data
1           Aizuddin  No Data
2        Ayudi Ilham  No Data
3      Teuku Asrizal  No Data
4       Amiruddin Z.  No Data
5             Muslim  No Data
6            Hanasri  No Data
7              Azhar  No Data
8           Safwandi  No Data
9    Fitri Maya Lisa  No Data
10     Muhammad Diah  No Data
11     Mawardi Wahid  No Data
12      Muhammad Ali  No Data
13         Muslem D.  No Data
14        Usman I.D.  No Data
15    Dasril Arahman  No Data
16  Syamsuddin Yahya  No Data
17     Marwan Basyah  No Data
18      Irwanto N.P.  No Data
19            Hazami  No Data

In [18]:
df.to_csv("./DPRD TK II/Aceh/Aceh_jaya.csv", index=False)

### e. Kabupaten Aceh Selatan

In [19]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Aceh_Selatan"

In [20]:
df = pd.read_html(url)[5]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Hernanda Thahir,NaN,PKB,ACEH SELATAN 1,1.074,NaN
1,Mirwan,NaN,PKB,ACEH SELATAN 4,1.221,NaN
2,Hadi Surya,NaN,Gerindra,ACEH SELATAN 3,1.875,NaN
3,Darman,NaN,Gerindra,ACEH SELATAN 4,571.000,NaN
4,Siska Elviadi Rajo Evi,NaN,Golkar,ACEH SELATAN 3,1.334,NaN
5,Muntasir,NaN,NasDem,ACEH SELATAN 1,1.315,NaN
6,Feri Harianto,NaN,NasDem,ACEH SELATAN 4,792.000,NaN
7,Awaludin,NaN,NasDem,ACEH SELATAN 5,2.041,NaN
8,Yenni Rosnizar,NaN,PPP,ACEH SELATAN 3,1.223,NaN
9,Teuku Irwandi,NaN,PAN,ACEH SELATAN 2,1.471,NaN
10,Amir Mulliadi,NaN,PAN,ACEH SELATAN 4,1.134,NaN
11,Asmara,NaN,Hanura,ACEH SELATAN 4,677.000,NaN
12,Velly Hidayat,NaN,Demokrat,ACEH SELATAN 1,1.215,NaN
13,Helmi,NaN,Demokrat,ACEH SELATAN 3,1.257,NaN
14,Baital Mukadis,NaN,Demokrat,ACEH SELATAN 4,1.277,NaN
15,Teuku Bustami,NaN,Demokrat,ACEH SELATAN 5,1.270,Wakil Ketua DPRK
16,Lisa Elfirasman,NaN,Partai Aceh,ACEH SELATAN 1,1.450,NaN
17,Ridwan,NaN,Partai Aceh,ACEH SELATAN 4,1.108,Wakil Ketua DPRK
18,Adi Samridha,NaN,Partai Aceh,ACEH SELATAN 5,1.089,NaN
19,Murhaban,NaN,PDA,ACEH SELATAN 2,1.058,NaN
20,Martunis,NaN,PDA,ACEH SELATAN 4,810.000,NaN
21,Hasbullah,NaN,PNA,ACEH SELATAN 1,1.466,NaN
22,Wali Puadi,NaN,PNA,ACEH SELATAN 2,915.000,NaN
23,Rema Mishul Azwa,NaN,PNA,ACEH SELATAN 3,1.382,NaN
24,Darmi,NaN,PNA,ACEH SELATAN 4,926.000,NaN
25,Amiruddin,NaN,PNA,ACEH SELATAN 5,1.467,Ketua DPRK
26,Dailami I.S.,NaN,PNA,ACEH SELATAN 5,1.316,NaN
27,Mulyadi,NaN,PBB,ACEH SELATAN 2,939.000,NaN
28,Zamzami,NaN,PKPI,ACEH SELATAN 2,2.237,NaN
29,Masridha,NaN,PKPI,ACEH SELATAN 4,909.000,NaN

In [21]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                      nama   alamat
0          Hernanda Thahir  No Data
1                   Mirwan  No Data
2               Hadi Surya  No Data
3                   Darman  No Data
4   Siska Elviadi Rajo Evi  No Data
5                 Muntasir  No Data
6            Feri Harianto  No Data
7                 Awaludin  No Data
8           Yenni Rosnizar  No Data
9            Teuku Irwandi  No Data
10           Amir Mulliadi  No Data
11                  Asmara  No Data
12           Velly Hidayat  No Data
13                   Helmi  No Data
14          Baital Mukadis  No Data
15           Teuku Bustami  No Data
16         Lisa Elfirasman  No Data
17                  Ridwan  No Data
18            Adi Samridha  No Data
19                Murhaban  No Data
20                Martunis  No Data
21               Hasbullah  No Data
22              Wali Puadi  No Data
23        Rema Mishul Azwa  No Data
24                   Darmi  No Data
25               Amiruddin  No Data
26            Dailami I.S.  No Data
27                 Mulyadi  No Data
28                 Zamzami  No Data
29                Masridha  No Data

In [22]:
df.to_csv("./DPRD TK II/Aceh/Aceh_selatan.csv", index=False)

### f. Kabupaten Aceh Singkil

In [23]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Aceh_Singkil"

In [24]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Sadri,NaN,PKB,ACEH SINGKIL 4,1.024,NaN
1,Bainuddin Ondo,NaN,Gerindra,ACEH SINGKIL 1,425.000,NaN
2,Erpan Suri Limbong,NaN,Gerindra,ACEH SINGKIL 4,922.000,NaN
3,Taufik,NaN,PDI-P,ACEH SINGKIL 1,614.000,NaN
4,Jaimar Tumangger,NaN,PDI-P,ACEH SINGKIL 3,861.000,NaN
5,Ade Dwi Sintiya,NaN,Golkar,ACEH SINGKIL 1,1.165,NaN
6,Andri Juliswan Limbong,NaN,Golkar,ACEH SINGKIL 1,1.145,NaN
7,Sarbaini,NaN,Golkar,ACEH SINGKIL 2,1.803,NaN
8,Dewi Sartika Ana,NaN,Golkar,ACEH SINGKIL 2,807.000,NaN
9,Hasanuddin Aritonang,NaN,Golkar,ACEH SINGKIL 3,1.003,Ketua DPRK
10,Surianto,NaN,Golkar,ACEH SINGKIL 4,1.284,NaN
11,H. Amaliun,NaN,NasDem,ACEH SINGKIL 2,1.435,Wakil Ketua DPRK
12,Sahman,NaN,NasDem,ACEH SINGKIL 3,1.798,NaN
13,Ahmad Fadhli,NaN,NasDem,ACEH SINGKIL 4,767.000,NaN
14,Ramli Boga,NaN,PPP,ACEH SINGKIL 1,1.492,NaN
15,Yulihardin,NaN,PAN,ACEH SINGKIL 1,1.649,NaN
16,Lesdin Tumangger,NaN,Hanura,ACEH SINGKIL 3,1.411,NaN
17,Fairuz Akhyar,NaN,Demokrat,ACEH SINGKIL 1,561.000,NaN
18,Asmawati,NaN,Demokrat,ACEH SINGKIL 4,991.000,NaN
19,Aminullah Sagala,NaN,Partai Aceh,ACEH SINGKIL 2,723.000,NaN
20,Amran Sidik,NaN,PNA,ACEH SINGKIL 1,1.052,NaN
21,H. Safriadi Manik,NaN,PNA,ACEH SINGKIL 4,1.333,Wakil Ketua DPRK
22,Al Hidayat,NaN,PBB,ACEH SINGKIL 4,1.216,NaN
23,Mairaya,NaN,PKPI,ACEH SINGKIL 3,1.255,NaN
24,Fakhrudin Pardosi,NaN,PKPI,ACEH SINGKIL 4,907.000,NaN

In [25]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                      nama   alamat
0                    Sadri  No Data
1           Bainuddin Ondo  No Data
2       Erpan Suri Limbong  No Data
3                   Taufik  No Data
4         Jaimar Tumangger  No Data
5          Ade Dwi Sintiya  No Data
6   Andri Juliswan Limbong  No Data
7                 Sarbaini  No Data
8         Dewi Sartika Ana  No Data
9     Hasanuddin Aritonang  No Data
10                Surianto  No Data
11              H. Amaliun  No Data
12                  Sahman  No Data
13            Ahmad Fadhli  No Data
14              Ramli Boga  No Data
15              Yulihardin  No Data
16        Lesdin Tumangger  No Data
17           Fairuz Akhyar  No Data
18                Asmawati  No Data
19        Aminullah Sagala  No Data
20             Amran Sidik  No Data
21       H. Safriadi Manik  No Data
22              Al Hidayat  No Data
23                 Mairaya  No Data
24       Fakhrudin Pardosi  No Data

In [26]:
df.to_csv("./DPRD TK II/Aceh/Aceh_singkil.csv", index=False)

### g. Kabupaten Aceh Tamiang

In [27]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Aceh_Tamiang"

In [28]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Muhammad Irwan,NaN,Gerindra,ACEH TAMIANG 1,4.460,NaN
1,Salbiah,NaN,Gerindra,ACEH TAMIANG 1,1.262,NaN
2,Sugiono Sukandar,NaN,Gerindra,ACEH TAMIANG 2,2.436,NaN
3,Suprianto,NaN,Gerindra,ACEH TAMIANG 2,2.051,Ketua DPRK
4,Sarhadi,NaN,Gerindra,ACEH TAMIANG 3,2.887,NaN
5,Fitriadi,NaN,Gerindra,ACEH TAMIANG 3,1.932,NaN
6,Tengku Rusli,NaN,PDI-P,ACEH TAMIANG 3,1.216,NaN
7,Rosmalina,NaN,Golkar,ACEH TAMIANG 1,2.374,NaN
8,Erawati I.S.,NaN,Golkar,ACEH TAMIANG 2,1.342,NaN
9,Tri Astuti,NaN,NasDem,ACEH TAMIANG 1,1.413,NaN
10,Maulizar Zikri,NaN,NasDem,ACEH TAMIANG 2,1.717,NaN
11,Dedi Suriansah,NaN,PKS,ACEH TAMIANG 1,1.614,NaN
12,Jayanti Sari,NaN,PKS,ACEH TAMIANG 2,2.216,NaN
13,Muhammad Saman,NaN,PKS,ACEH TAMIANG 3,1.175,NaN
14,Purwati,NaN,PPP,ACEH TAMIANG 1,1.579,NaN
15,Tgk. Irsyadul Afkar,NaN,PPP,ACEH TAMIANG 2,1.778,NaN
16,Siti Zaleha,NaN,PPP,ACEH TAMIANG 3,2.012,NaN
17,Zulfidar,NaN,PAN,ACEH TAMIANG 1,1.104,NaN
18,Desi Amelia,NaN,PAN,ACEH TAMIANG 3,1.731,NaN
19,Muhammad Nur,NaN,Demokrat,ACEH TAMIANG 1,2.541,Wakil Ketua DPRK
20,Saiful Sofyan,NaN,Demokrat,ACEH TAMIANG 2,2.333,NaN
21,Syamsul Bahri,NaN,Demokrat,ACEH TAMIANG 3,1.377,NaN
22,Fadlon,NaN,Partai Aceh,ACEH TAMIANG 1,3.703,Wakil Ketua DPRK
23,Juniati,NaN,Partai Aceh,ACEH TAMIANG 2,1.534,NaN
24,Ngatiyem,NaN,Partai Aceh,ACEH TAMIANG 2,1.334,NaN
25,Miswanto,NaN,Partai Aceh,ACEH TAMIANG 3,1.190,NaN
26,Irwan Effendi,NaN,PNA,ACEH TAMIANG 1,1.058,NaN
27,M. Nasir,NaN,PNA,ACEH TAMIANG 2,1.220,NaN
28,Samuri,NaN,PNA,ACEH TAMIANG 3,2.700,NaN
29,Rahmad Syafrial,NaN,PBB,ACEH TAMIANG 1,855.000,NaN

In [29]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                   nama   alamat
0        Muhammad Irwan  No Data
1               Salbiah  No Data
2      Sugiono Sukandar  No Data
3             Suprianto  No Data
4               Sarhadi  No Data
5              Fitriadi  No Data
6          Tengku Rusli  No Data
7             Rosmalina  No Data
8          Erawati I.S.  No Data
9            Tri Astuti  No Data
10       Maulizar Zikri  No Data
11       Dedi Suriansah  No Data
12         Jayanti Sari  No Data
13       Muhammad Saman  No Data
14              Purwati  No Data
15  Tgk. Irsyadul Afkar  No Data
16          Siti Zaleha  No Data
17             Zulfidar  No Data
18          Desi Amelia  No Data
19         Muhammad Nur  No Data
20        Saiful Sofyan  No Data
21        Syamsul Bahri  No Data
22               Fadlon  No Data
23              Juniati  No Data
24             Ngatiyem  No Data
25             Miswanto  No Data
26        Irwan Effendi  No Data
27             M. Nasir  No Data
28               Samuri  No Data
29      Rahmad Syafrial  No Data

In [30]:
df.to_csv("./DPRD TK II/Aceh/Aceh_tamiang.csv", index=False)

### h. Kabupaten Aceh Tengah

In [31]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Aceh_Tengah"

In [32]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Muhammad Abdi Nasution,NaN,PKB,Aceh Tengah 2,1.456,NaN
1,Gimin,NaN,PKB,Aceh Tengah 3,1.903,NaN
2,Januar Effendi,NaN,Gerindra,Aceh Tengah 1,1.344,NaN
3,Edi Kurniawan,NaN,Gerindra,Aceh Tengah 2,1.453,Wakil Ketua DPRK
4,Muhammad Syahrul,NaN,Gerindra,Aceh Tengah 3,830.000,NaN
5,Eka Saputra,NaN,Gerindra,Aceh Tengah 4,1.399,NaN
6,Ichwan Mulyadi,NaN,PDI-P,Aceh Tengah 1,1.062,NaN
7,Suryati Waas,NaN,PDI-P,Aceh Tengah 2,2.172,NaN
8,Jihar Firdaus,NaN,PDI-P,Aceh Tengah 2,1.715,NaN
9,Samsuddin,NaN,PDI-P,Aceh Tengah 3,1.995,NaN
10,Arwin Mega,NaN,PDI-P,Aceh Tengah 4,2.203,Ketua DPRK
11,Ansari,NaN,Golkar,Aceh Tengah 1,1.053,Wakil Ketua DPRK
12,Ansaruddin Sarifuddin Naldin,NaN,Golkar,Aceh Tengah 2,1.110,NaN
13,Mukhlis,NaN,Golkar,Aceh Tengah 3,1.398,NaN
14,Muchsin Hasan,NaN,Golkar,Aceh Tengah 4,2.074,NaN
15,Win Konadi,NaN,NasDem,Aceh Tengah 1,1.274,NaN
16,Joharsyah,NaN,NasDem,Aceh Tengah 2,1.582,NaN
17,H. Hamdan,NaN,NasDem,Aceh Tengah 4,1.554,NaN
18,Khairul Ahadian,NaN,Berkarya,Aceh Tengah 1,2.598,NaN
19,Susilawati,NaN,PKS,Aceh Tengah 3,1.330,NaN
20,Muzakir,NaN,PKS,Aceh Tengah 4,878.000,NaN
21,Desy Novita Andriany,NaN,PPP,Aceh Tengah 1,714.000,NaN
22,Fauzan,NaN,PPP,Aceh Tengah 3,707.000,NaN
23,Ilhamuddin,NaN,PAN,Aceh Tengah 2,1.839,NaN
24,Salman,NaN,PAN,Aceh Tengah 4,1.790,NaN
25,Abadi Ayus,NaN,Hanura,Aceh Tengah 4,630.000,NaN
26,Zulkarnain,NaN,Demokrat,Aceh Tengah 1,1.310,NaN
27,Tarmina,NaN,Demokrat,Aceh Tengah 3,1.486,NaN
28,Sukurdi Iska,NaN,Demokrat,Aceh Tengah 4,1.205,NaN
29,Ismail,NaN,Partai Aceh,Aceh Tengah 3,1.209,NaN

In [33]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                            nama   alamat
0         Muhammad Abdi Nasution  No Data
1                          Gimin  No Data
2                 Januar Effendi  No Data
3                  Edi Kurniawan  No Data
4               Muhammad Syahrul  No Data
5                    Eka Saputra  No Data
6                 Ichwan Mulyadi  No Data
7                   Suryati Waas  No Data
8                  Jihar Firdaus  No Data
9                      Samsuddin  No Data
10                    Arwin Mega  No Data
11                        Ansari  No Data
12  Ansaruddin Sarifuddin Naldin  No Data
13                       Mukhlis  No Data
14                 Muchsin Hasan  No Data
15                    Win Konadi  No Data
16                     Joharsyah  No Data
17                     H. Hamdan  No Data
18               Khairul Ahadian  No Data
19                    Susilawati  No Data
20                       Muzakir  No Data
21          Desy Novita Andriany  No Data
22                        Fauzan  No Data
23                    Ilhamuddin  No Data
24                        Salman  No Data
25                    Abadi Ayus  No Data
26                    Zulkarnain  No Data
27                       Tarmina  No Data
28                  Sukurdi Iska  No Data
29                        Ismail  No Data

In [34]:
df.to_csv("./DPRD TK II/Aceh/Aceh_tengah.csv", index=False)

### i. Kabupaten Aceh Tenggara

In [35]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Aceh_Tenggara"

In [36]:
df = pd.read_html(url)[5]
df

,Nama,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Tomi Selian,NaN,PKB,Aceh Tenggara 5,1.649,NaN
1,H. Bustami Ramud,NaN,Gerindra,Aceh Tenggara 1,2.294,NaN
2,Riyanto,NaN,Gerindra,Aceh Tenggara 3,1.717,NaN
3,Luhut Simanjuntak,NaN,Gerindra,Aceh Tenggara 4,2.928,NaN
4,Zaini Selian,NaN,Gerindra,Aceh Tenggara 4,2.546,NaN
5,Marwan Hanafi,NaN,Gerindra,Aceh Tenggara 5,2.516,Wakil Ketua DPRK
6,Timbul Hasudungan Samosir,NaN,PDI-P,Aceh Tenggara 4,2.243,NaN
7,Rita Muliati,NaN,Golkar,Aceh Tenggara 1,2.445,NaN
8,Sarlinawati,NaN,Golkar,Aceh Tenggara 1,2.071,NaN
9,Irwandi Desky,NaN,Golkar,Aceh Tenggara 1,1.665,NaN
10,Denny Febrian Roza,NaN,Golkar,Aceh Tenggara 2,4.305,Ketua DPRK
11,Gabe Martua Tambunan,NaN,Golkar,Aceh Tenggara 3,3.071,NaN
12,H. Suhailudin,NaN,Golkar,Aceh Tenggara 3,1.577,NaN
13,Arnold Napitupulu,NaN,Golkar,Aceh Tenggara 4,2.957,NaN
14,Hasanusi Sekedang,NaN,Golkar,Aceh Tenggara 4,2.690,NaN
15,Samsuariadi,NaN,Golkar,Aceh Tenggara 5,3.554,NaN
16,Hj. Julia Susanti,NaN,Golkar,Aceh Tenggara 5,2.416,NaN
17,Rudi Desky,NaN,NasDem,Aceh Tenggara 1,1.480,NaN
18,H. Marwan Husni,NaN,PAN,Aceh Tenggara 2,1.945,NaN
19,Muhammad Mufti Desky,NaN,Hanura,Aceh Tenggara 1,2.529,NaN
20,Jamudin Selian,NaN,Hanura,Aceh Tenggara 1,2.379,Wakil Ketua DPRK
21,Kasri Selian,NaN,Hanura,Aceh Tenggara 2,2.886,NaN
22,Sukri Win Bungsu,NaN,Hanura,Aceh Tenggara 2,2.136,NaN
23,Rajuandi Jenggot,NaN,Hanura,Aceh Tenggara 3,3.349,NaN
24,Roy Hendra Purnomo,NaN,Hanura,Aceh Tenggara 3,2.421,NaN
25,Musyadi,NaN,Hanura,Aceh Tenggara 4,2.300,NaN
26,Jumatun,NaN,Hanura,Aceh Tenggara 4,1.852,NaN
27,Elpizen,NaN,Hanura,Aceh Tenggara 5,2.288,NaN
28,Supian,NaN,Demokrat,Aceh Tenggara 2,1.825,NaN
29,Teuku Dedi Faisal Selian,NaN,Partai Aceh,Aceh Tenggara 1,1.396,NaN

In [37]:
df = df.rename(columns={"Nama" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                         nama   alamat
0                 Tomi Selian  No Data
1            H. Bustami Ramud  No Data
2                     Riyanto  No Data
3           Luhut Simanjuntak  No Data
4                Zaini Selian  No Data
5               Marwan Hanafi  No Data
6   Timbul Hasudungan Samosir  No Data
7                Rita Muliati  No Data
8                 Sarlinawati  No Data
9               Irwandi Desky  No Data
10         Denny Febrian Roza  No Data
11       Gabe Martua Tambunan  No Data
12              H. Suhailudin  No Data
13          Arnold Napitupulu  No Data
14          Hasanusi Sekedang  No Data
15                Samsuariadi  No Data
16          Hj. Julia Susanti  No Data
17                 Rudi Desky  No Data
18            H. Marwan Husni  No Data
19       Muhammad Mufti Desky  No Data
20             Jamudin Selian  No Data
21               Kasri Selian  No Data
22           Sukri Win Bungsu  No Data
23           Rajuandi Jenggot  No Data
24         Roy Hendra Purnomo  No Data
25                    Musyadi  No Data
26                    Jumatun  No Data
27                    Elpizen  No Data
28                     Supian  No Data
29   Teuku Dedi Faisal Selian  No Data

In [38]:
df.to_csv("./DPRD TK II/Aceh/Aceh_tenggara.csv", index=False)

### j. Kabupaten Aceh Timur

In [39]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Aceh_Timur"

In [40]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Muhammad Nur,NaN,Gerindra,Aceh Timur 1,1.973,Wakil Ketua DPRK
1,Hamdani A. Gani,NaN,Gerindra,Aceh Timur 2,782.000,NaN
2,Edi Darmansyah,NaN,Gerindra,Aceh Timur 3,1.453,NaN
3,Muhammad Abdul Samad,NaN,Gerindra,Aceh Timur 4,1.360,NaN
4,Fachrul Rizal,NaN,Gerindra,Aceh Timur 5,1.084,NaN
5,H. Samsul Bahri Hasan,NaN,Golkar,Aceh Timur 1,1.174,NaN
6,Dedi Syahputra,NaN,Golkar,Aceh Timur 2,1.289,NaN
7,Zulfadli,NaN,NasDem,Aceh Timur 1,1.273,NaN
8,Muhammad Adam,NaN,NasDem,Aceh Timur 2,968.000,Wakil Ketua DPRK
9,Suyanto,NaN,NasDem,Aceh Timur 3,922.000,NaN
10,H. Tarmizi Daud,NaN,NasDem,Aceh Timur 4,730.000,NaN
11,Sartiman,NaN,NasDem,Aceh Timur 5,1.309,NaN
12,Syahrul A.G.,NaN,PKS,Aceh Timur 2,863.000,NaN
13,Nawawi,NaN,PKS,Aceh Timur 5,754.000,NaN
14,Junaidi,NaN,PPP,Aceh Timur 4,1.526,NaN
15,Tgk. Mudawali Ibrahim,NaN,PPP,Aceh Timur 5,1.059,NaN
16,Firdaus,NaN,Demokrat,Aceh Timur 1,825.000,NaN
17,Rasyidin,NaN,Demokrat,Aceh Timur 2,808.000,NaN
18,Elma Zalmi,NaN,Demokrat,Aceh Timur 3,532.000,NaN
19,Ibrahim,NaN,Partai Aceh,Aceh Timur 1,2.424,NaN
20,Nurul Akla,NaN,Partai Aceh,Aceh Timur 1,1.892,NaN
21,M. Yahya Y.S.,NaN,Partai Aceh,Aceh Timur 1,1.422,NaN
22,Fattah Fikri,NaN,Partai Aceh,Aceh Timur 2,2.849,NaN
23,Irwanda,NaN,Partai Aceh,Aceh Timur 2,2.804,NaN
24,Azhari,NaN,Partai Aceh,Aceh Timur 2,2.618,NaN
25,Ihsani,NaN,Partai Aceh,Aceh Timur 2,2.215,NaN
26,Muhammad (Ahmad Leumbeng),NaN,Partai Aceh,Aceh Timur 2,1.813,NaN
27,Kasat Arina,NaN,Partai Aceh,Aceh Timur 3,2.496,NaN
28,Junaidi,NaN,Partai Aceh,Aceh Timur 3,2.358,NaN
29,Marzuki Ajad,NaN,Partai Aceh,Aceh Timur 4,2.134,NaN
30,Muhammad Daud,NaN,Partai Aceh,Aceh Timur 4,1.829,Ketua DPRK
31,Rusli,NaN,Partai Aceh,Aceh Timur 4,1.576,NaN
32,Mariana,NaN,Partai Aceh,Aceh Timur 5,3.049,NaN
33,Tarmizi,NaN,Partai Aceh,Aceh Timur 5,2.082,NaN
34,Suriadi,NaN,Partai Aceh,Aceh Timur 5,1.710,NaN
35,Salman,NaN,PDA,Aceh Timur 3,1.348,NaN
36,Ismail,NaN,PDA,Aceh Timur 4,1.219,NaN
37,Salahuddin,NaN,PNA,Aceh Timur 1,999.000,NaN
38,Asnawi,NaN,PNA,Aceh Timur 2,926.000,NaN
39,Iskandar,NaN,PNA,Aceh Timur 5,1.047,NaN

In [41]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                         nama   alamat
0                Muhammad Nur  No Data
1             Hamdani A. Gani  No Data
2              Edi Darmansyah  No Data
3        Muhammad Abdul Samad  No Data
4               Fachrul Rizal  No Data
5       H. Samsul Bahri Hasan  No Data
6              Dedi Syahputra  No Data
7                    Zulfadli  No Data
8               Muhammad Adam  No Data
9                     Suyanto  No Data
10            H. Tarmizi Daud  No Data
11                   Sartiman  No Data
12               Syahrul A.G.  No Data
13                     Nawawi  No Data
14                    Junaidi  No Data
15      Tgk. Mudawali Ibrahim  No Data
16                    Firdaus  No Data
17                   Rasyidin  No Data
18                 Elma Zalmi  No Data
19                    Ibrahim  No Data
20                 Nurul Akla  No Data
21              M. Yahya Y.S.  No Data
22               Fattah Fikri  No Data
23                    Irwanda  No Data
24                     Azhari  No Data
25                     Ihsani  No Data
26  Muhammad (Ahmad Leumbeng)  No Data
27                Kasat Arina  No Data
28                    Junaidi  No Data
29               Marzuki Ajad  No Data
30              Muhammad Daud  No Data
31                      Rusli  No Data
32                    Mariana  No Data
33                    Tarmizi  No Data
34                    Suriadi  No Data
35                     Salman  No Data
36                     Ismail  No Data
37                 Salahuddin  No Data
38                     Asnawi  No Data
39                   Iskandar  No Data

In [42]:
df.to_csv("./DPRD TK II/Aceh/Aceh_timur.csv", index=False)

### k. Kabupaten Aceh Utara

In [43]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Aceh_Utara"

In [44]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Muhammad Wali,NaN,PKB,ACEH UTARA 3,2.642,NaN
1,Drs. H. Azalifuazi,NaN,Gerindra,ACEH UTARA 1,981.000,NaN
2,"Jufri Sulaiman,S.Sos., M.A.P.",NaN,Gerindra,ACEH UTARA 4,2.242,NaN
3,Terpiadi,NaN,Gerindra,ACEH UTARA 5,2.050,NaN
4,H. Ahmad Risyen,NaN,Gerindra,ACEH UTARA 6,1.517,NaN
5,Drs. As'adi,NaN,Golkar,ACEH UTARA 2,2.637,NaN
6,H.Saifuddin,NaN,Golkar,ACEH UTARA 3,1.759,NaN
7,"Hedra Supriadi, S.E.",NaN,Golkar,ACEH UTARA 6,1.936,NaN
8,Iskandar,NaN,NasDem,ACEH UTARA 1,1.017,NaN
9,Zubir,NaN,NasDem,ACEH UTARA 2,1.739,NaN
10,"Anzir, S.H.",NaN,NasDem,ACEH UTARA 5,3.315,NaN
11,Ridwan M. Yunus,NaN,NasDem,ACEH UTARA 6,1.293,NaN
12,Zulkarnen,NaN,PKS,ACEH UTARA 1,776.000,NaN
13,"Saifuddin, S.Sos.,M.A.P.",NaN,PKS,ACEH UTARA 4,1.263,NaN
14,Zulkifli,NaN,PKS,ACEH UTARA 6,738.000,NaN
15,"H. Ismed Nur Aj Hasan, S.Sos.",NaN,PPP,ACEH UTARA 2,1.479,NaN
16,"Khairuddin, S.T.",NaN,PPP,ACEH UTARA 3,1.381,NaN
17,Tgk. H. Saifannur H. Cut,NaN,PPP,ACEH UTARA 4,2.255,NaN
18,"Zulfadli A. Taleb, S.E.",NaN,PPP,ACEH UTARA 5,2.522,NaN
19,H. Mulyadi C. H.,NaN,PPP,ACEH UTARA 6,1.252,Wakil Ketua DPRK
20,Saifuddin,NaN,PAN,ACEH UTARA 5,1.888,NaN
21,"Hendra Yuliansyah, S.Sos.",NaN,Demokrat,ACEH UTARA 1,1.962,Wakil Ketua DPRK
22,Rian Abadi,NaN,Demokrat,ACEH UTARA 2,1.878,NaN
23,Nazir Abubakar A.R.,NaN,Demokrat,ACEH UTARA 4,1.480,NaN
24,"Mulyadi, A.Md.",NaN,Demokrat,ACEH UTARA 5,2.155,NaN
25,T. Zulkhaidir,NaN,Demokrat,ACEH UTARA 6,1.717,NaN
26,Nazrizal (Cek Bay),NaN,Partai Aceh,ACEH UTARA 1,3.859,NaN
27,"Muktar, S.E.",NaN,Partai Aceh,ACEH UTARA 1,3.298,NaN
28,Arahman,NaN,Partai Aceh,ACEH UTARA 1,3.013,NaN
29,"Muhammad Yusuf, S.Pd.",NaN,Partai Aceh,ACEH UTARA 2,2.584,NaN
30,Arafat Ali,NaN,Partai Aceh,ACEH UTARA 3,5.231,Ketua DPRK
31,Jirwani,NaN,Partai Aceh,ACEH UTARA 3,5.070,NaN
32,"Tgk. Nazaruddin, S.Sos.I., M.Ag.",NaN,Partai Aceh,ACEH UTARA 3,4.593,NaN
33,Hasanuddin,NaN,Partai Aceh,ACEH UTARA 3,2.693,NaN
34,"H. Anwar Sanusi, S.Pd.I., M.SM.",NaN,Partai Aceh,ACEH UTARA 4,3.182,NaN
35,"Fauzi, S.Mn.",NaN,Partai Aceh,ACEH UTARA 4,1.955,NaN
36,Razali (Abu),NaN,Partai Aceh,ACEH UTARA 5,3.169,NaN
37,Azwir (Tgk. Aceh),NaN,Partai Aceh,ACEH UTARA 6,2.973,NaN
38,Teuku Otman,NaN,Partai Aceh,ACEH UTARA 6,2.645,NaN
39,Tgk. Azhari Abdul Manan,NaN,Partai Aceh,ACEH UTARA 6,2.348,NaN
40,Algazali,NaN,SIRA,ACEH UTARA 4,1.305,NaN
41,"Hj. Nurmalia, S.Pd.I.",NaN,PNA,ACEH UTARA 2,1.308,NaN
42,"Misbahul Munir, S.T.",NaN,PNA,ACEH UTARA 3,1.789,Wakil Ketua DPRK
43,Sofyan Hanafiah,NaN,PNA,ACEH UTARA 4,771.000,NaN
44,T. Nurdin,NaN,PNA,ACEH UTARA 6,3.076,NaN

In [45]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                nama   alamat
0                      Muhammad Wali  No Data
1                 Drs. H. Azalifuazi  No Data
2      Jufri Sulaiman,S.Sos., M.A.P.  No Data
3                           Terpiadi  No Data
4                    H. Ahmad Risyen  No Data
5                        Drs. As'adi  No Data
6                        H.Saifuddin  No Data
7               Hedra Supriadi, S.E.  No Data
8                           Iskandar  No Data
9                              Zubir  No Data
10                       Anzir, S.H.  No Data
11                   Ridwan M. Yunus  No Data
12                         Zulkarnen  No Data
13          Saifuddin, S.Sos.,M.A.P.  No Data
14                          Zulkifli  No Data
15     H. Ismed Nur Aj Hasan, S.Sos.  No Data
16                  Khairuddin, S.T.  No Data
17          Tgk. H. Saifannur H. Cut  No Data
18           Zulfadli A. Taleb, S.E.  No Data
19                  H. Mulyadi C. H.  No Data
20                         Saifuddin  No Data
21         Hendra Yuliansyah, S.Sos.  No Data
22                        Rian Abadi  No Data
23               Nazir Abubakar A.R.  No Data
24                    Mulyadi, A.Md.  No Data
25                     T. Zulkhaidir  No Data
26                Nazrizal (Cek Bay)  No Data
27                      Muktar, S.E.  No Data
28                           Arahman  No Data
29             Muhammad Yusuf, S.Pd.  No Data
30                        Arafat Ali  No Data
31                           Jirwani  No Data
32  Tgk. Nazaruddin, S.Sos.I., M.Ag.  No Data
33                        Hasanuddin  No Data
34   H. Anwar Sanusi, S.Pd.I., M.SM.  No Data
35                      Fauzi, S.Mn.  No Data
36                      Razali (Abu)  No Data
37                 Azwir (Tgk. Aceh)  No Data
38                       Teuku Otman  No Data
39           Tgk. Azhari Abdul Manan  No Data
40                          Algazali  No Data
41             Hj. Nurmalia, S.Pd.I.  No Data
42              Misbahul Munir, S.T.  No Data
43                   Sofyan Hanafiah  No Data
44                         T. Nurdin  No Data

In [46]:
df.to_csv("./DPRD TK II/Aceh/Aceh_utara.csv", index=False)

### l. Kabupaten Bener Meriah

In [47]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Bener_Meriah"

In [48]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Guntur Alamsyah,NaN,PKB,Bener Meriah 1,1.400,NaN
1,Zulham,NaN,PKB,Bener Meriah 1,1.253,NaN
2,Sofyan,NaN,PKB,Bener Meriah 2,839.000,NaN
3,Teungku Husnul Ilmi,NaN,PKB,Bener Meriah 3,1.279,Wakil Ketua DPRK
4,Kasim,NaN,PKB,Bener Meriah 3,1.262,NaN
5,Suhaini,NaN,Gerindra,Bener Meriah 1,1.003,NaN
6,Anwar,NaN,Gerindra,Bener Meriah 2,1.630,Wakil Ketua DPRK
7,Muhammad,NaN,Gerindra,Bener Meriah 3,971.000,NaN
8,Zetmen,NaN,PDI-P,Bener Meriah 1,1.168,NaN
9,Salwani,NaN,PDI-P,Bener Meriah 3,2.465,NaN
10,Darwinsyah,NaN,Golkar,Bener Meriah 1,1.891,NaN
11,Herman Ramli,NaN,Golkar,Bener Meriah 2,2.229,NaN
12,Falgunari,NaN,Golkar,Bener Meriah 2,1.971,NaN
13,Muhammad Saleh,NaN,Golkar,Bener Meriah 3,2.842,Ketua DPRK
14,Baitul Hakim,NaN,Golkar,Bener Meriah 3,1.447,NaN
15,Abubakar,NaN,NasDem,Bener Meriah 1,1.240,NaN
16,Wein Kusumandana Mimija,NaN,NasDem,Bener Meriah 3,1.855,NaN
17,Junaidi,NaN,Hanura,Bener Meriah 1,1.027,NaN
18,Syafri Kaharuddin,NaN,Hanura,Bener Meriah 2,1.751,NaN
19,Andi Sastra,NaN,Hanura,Bener Meriah 3,1.589,NaN
20,Sapri Gumara,NaN,Demokrat,Bener Meriah 2,1.302,NaN
21,Darussalam,NaN,Demokrat,Bener Meriah 3,1.498,NaN
22,Yuzmuha,NaN,Partai Aceh,Bener Meriah 1,746.000,NaN
23,Saipul Bahri,NaN,PNA,Bener Meriah 1,1.251,NaN
24,Edi Zulkifli,NaN,PNA,Bener Meriah 2,1.425,NaN

In [49]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                       nama   alamat
0           Guntur Alamsyah  No Data
1                    Zulham  No Data
2                    Sofyan  No Data
3       Teungku Husnul Ilmi  No Data
4                     Kasim  No Data
5                   Suhaini  No Data
6                     Anwar  No Data
7                  Muhammad  No Data
8                    Zetmen  No Data
9                   Salwani  No Data
10               Darwinsyah  No Data
11             Herman Ramli  No Data
12                Falgunari  No Data
13           Muhammad Saleh  No Data
14             Baitul Hakim  No Data
15                 Abubakar  No Data
16  Wein Kusumandana Mimija  No Data
17                  Junaidi  No Data
18        Syafri Kaharuddin  No Data
19              Andi Sastra  No Data
20             Sapri Gumara  No Data
21               Darussalam  No Data
22                  Yuzmuha  No Data
23             Saipul Bahri  No Data
24             Edi Zulkifli  No Data

In [50]:
df.to_csv("./DPRD TK II/Aceh/Aceh_bener_meriah.csv", index=False)

### m. Kabupaten Bireuen

In [51]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Bireuen"

In [52]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Usman,NaN,PKB,Bireuen 1,1.494,NaN
1,Faisal Hasballah,NaN,Gerindra,Bireuen 2,2.235,NaN
2,Muhammad Amin A. R.,NaN,Golkar,Bireuen 1,897.000,NaN
3,Juniadi,NaN,Golkar,Bireuen 2,3.396,NaN
4,Fajri Fauzan,NaN,Golkar,Bireuen 2,2.486,NaN
5,Iskandar Is,NaN,Golkar,Bireuen 3,1.300,NaN
6,Syauqi Futaqi,NaN,Golkar,Bireuen 4,2.189,Wakil Ketua DPRK
7,Rosmani,NaN,Golkar,Bireuen 5,878.000,NaN
8,Teuku Muhammad Mubaraq,NaN,Golkar,Bireuen 6,2.588,NaN
9,M. Yusuf,NaN,NasDem,Bireuen 3,1.831,NaN
10,Zainal Abidin,NaN,NasDem,Bireuen 5,1.721,NaN
11,Yusriadi,NaN,PKS,Bireuen 1,2.219,NaN
12,Zulfahmi,NaN,PKS,Bireuen 2,1.829,NaN
13,H. Ismail Adam,NaN,PKS,Bireuen 3,1.768,NaN
14,Hasanuddin,NaN,PKS,Bireuen 6,1.355,NaN
15,Abdullah Amin,NaN,PPP,Bireuen 1,1.428,NaN
16,Murdani Banta Ali,NaN,PPP,Bireuen 2,2.170,NaN
17,Athahillah M. Saleh,NaN,PPP,Bireuen 3,2.485,NaN
18,Isnaini,NaN,PPP,Bireuen 4,1.926,NaN
19,Suriya Yunus,NaN,PAN,Bireuen 5,2.145,NaN
20,Muchlis R.,NaN,PAN,Bireuen 6,2.219,NaN
21,Zulfikar,NaN,Demokrat,Bireuen 1,1.408,NaN
22,Jasman,NaN,Demokrat,Bireuen 2,1.235,NaN
23,Mudassir,NaN,Demokrat,Bireuen 3,2.401,NaN
24,Sayuti,NaN,Demokrat,Bireuen 4,1.381,NaN
25,Amryadi,NaN,Partai Aceh,Bireuen 1,1.514,NaN
26,Rusyidi Mukhtar,NaN,Partai Aceh,Bireuen 2,3.221,Ketua DPRK
27,Munazir Nurdin,NaN,Partai Aceh,Bireuen 2,1.825,NaN
28,Salwa Hanum,NaN,Partai Aceh,Bireuen 2,1.481,NaN
29,Zulkarnaini,NaN,Partai Aceh,Bireuen 3,1.288,NaN
30,Muslem Abdullah,NaN,Partai Aceh,Bireuen 4,2.115,NaN
31,M. Nasir,NaN,Partai Aceh,Bireuen 5,2.381,NaN
32,Yufaidir,NaN,Partai Aceh,Bireuen 6,3.159,NaN
33,Sufyannur,NaN,Partai Aceh,Bireuen 6,2.141,NaN
34,M. Jafar,NaN,PDA,Bireuen 4,1.946,NaN
35,Teungku Razali Nurdin,NaN,PDA,Bireuen 5,2.950,NaN
36,Aida Fitria,NaN,PNA,Bireuen 2,2.191,NaN
37,Suhaimi Hamid,NaN,PNA,Bireuen 4,1.429,Wakil Ketua DPRK
38,Taufiq Ridha,NaN,PNA,Bireuen 5,2.324,NaN
39,Amartana Pusri,NaN,PNA,Bireuen 6,1.309,NaN

In [53]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                      nama   alamat
0                    Usman  No Data
1         Faisal Hasballah  No Data
2      Muhammad Amin A. R.  No Data
3                  Juniadi  No Data
4             Fajri Fauzan  No Data
5              Iskandar Is  No Data
6            Syauqi Futaqi  No Data
7                  Rosmani  No Data
8   Teuku Muhammad Mubaraq  No Data
9                 M. Yusuf  No Data
10           Zainal Abidin  No Data
11                Yusriadi  No Data
12                Zulfahmi  No Data
13          H. Ismail Adam  No Data
14              Hasanuddin  No Data
15           Abdullah Amin  No Data
16       Murdani Banta Ali  No Data
17     Athahillah M. Saleh  No Data
18                 Isnaini  No Data
19            Suriya Yunus  No Data
20              Muchlis R.  No Data
21                Zulfikar  No Data
22                  Jasman  No Data
23                Mudassir  No Data
24                  Sayuti  No Data
25                 Amryadi  No Data
26         Rusyidi Mukhtar  No Data
27          Munazir Nurdin  No Data
28             Salwa Hanum  No Data
29             Zulkarnaini  No Data
30         Muslem Abdullah  No Data
31                M. Nasir  No Data
32                Yufaidir  No Data
33               Sufyannur  No Data
34                M. Jafar  No Data
35   Teungku Razali Nurdin  No Data
36             Aida Fitria  No Data
37           Suhaimi Hamid  No Data
38            Taufiq Ridha  No Data
39          Amartana Pusri  No Data

In [54]:
df.to_csv("./DPRD TK II/Aceh/Aceh_bener_bireuen.csv", index=False)

### n. Kabupaten Gayo Lues

In [55]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Gayo_Lues"

In [56]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,H. Muhammad Rauh (Abdul Rauh),NaN,PKB,Gayo Lues 1,1.709,Wakil Ketua DPRK
1,Khalidin,NaN,PKB,Gayo Lues 3,874.000,NaN
2,Iskandar,NaN,Gerindra,Gayo Lues 1,1.413,NaN
3,Ridwansyah,NaN,Gerindra,Gayo Lues 3,1.014,NaN
4,Abdussalam,NaN,PDI-P,Gayo Lues 2,1.005,NaN
5,Rajali,NaN,Golkar,Gayo Lues 1,1.436,NaN
6,M. Yusuf HS,NaN,Golkar,Gayo Lues 1,1.371,NaN
7,H. Ali Husin,NaN,Golkar,Gayo Lues 2,2.336,Ketua DPRK
8,Ali Amran,NaN,Golkar,Gayo Lues 2,1.501,NaN
9,Deddy Yopiansyah,NaN,Golkar,Gayo Lues 3,982.000,NaN
10,Muhammad El Amin,NaN,NasDem,Gayo Lues 1,1.353,NaN
11,Mardin,NaN,NasDem,Gayo Lues 2,777.000,NaN
12,Ibrahim,NaN,Hanura,Gayo Lues 2,994.000,NaN
13,H. Idris Arlem,NaN,Demokrat,Gayo Lues 1,1.399,NaN
14,Hj. Salamah,NaN,Demokrat,Gayo Lues 1,1.104,NaN
15,H. Ibnu Hasyim,NaN,Demokrat,Gayo Lues 2,1.868,Wakil Ketua DPRK
16,Jafar,NaN,Partai Aceh,Gayo Lues 1,937.000,NaN
17,Said Ahmad,NaN,Partai Aceh,Gayo Lues 2,699.000,NaN
18,Ilyas,NaN,PBB,Gayo Lues 1,1.171,NaN
19,H. Abdul Karim,NaN,PKPI,Gayo Lues 3,610.000,NaN

In [57]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                             nama   alamat
0   H. Muhammad Rauh (Abdul Rauh)  No Data
1                        Khalidin  No Data
2                        Iskandar  No Data
3                      Ridwansyah  No Data
4                      Abdussalam  No Data
5                          Rajali  No Data
6                     M. Yusuf HS  No Data
7                    H. Ali Husin  No Data
8                       Ali Amran  No Data
9                Deddy Yopiansyah  No Data
10               Muhammad El Amin  No Data
11                         Mardin  No Data
12                        Ibrahim  No Data
13                 H. Idris Arlem  No Data
14                    Hj. Salamah  No Data
15                 H. Ibnu Hasyim  No Data
16                          Jafar  No Data
17                     Said Ahmad  No Data
18                          Ilyas  No Data
19                 H. Abdul Karim  No Data

In [58]:
df.to_csv("./DPRD TK II/Aceh/Aceh_gayo_lues.csv", index=False)

### o. Kabupaten Nagan Raya

In [59]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Nagan_Raya"

In [60]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Saiful Bahri,PKB,Nagan Raya 1,1.399,NaN
1,Sugianto,Gerindra,Nagan Raya 2,1.494,NaN
2,Annisa Paradisa,Gerindra,Nagan Raya 3,1.726,NaN
3,Dedy Irmayanda,Golkar,Nagan Raya 1,1.467,Wakil Ketua DPRK
4,Saimin,Golkar,Nagan Raya 2,1.507,NaN
5,Sigid Winarno,Golkar,Nagan Raya 3,1.118,NaN
6,M. Zaini,NasDem,Nagan Raya 2,1.407,NaN
7,Teuku Bustaman,NasDem,Nagan Raya 3,1.703,NaN
8,Syahrizal,PAN,Nagan Raya 1,1.626,NaN
9,Evan Adris,PAN,Nagan Raya 2,1.380,NaN
10,Hasan Mashuri,Demokrat,Nagan Raya 1,3.058,NaN
11,Teuku Idris,Demokrat,Nagan Raya 1,2.314,NaN
12,Jonniadi,Demokrat,Nagan Raya 2,3.218,Ketua DPRK
13,Sulaiman T.,Demokrat,Nagan Raya 2,1.049,NaN
14,Zulkarnain,Demokrat,Nagan Raya 3,2.110,NaN
15,Ubit Yahya,Demokrat,Nagan Raya 3,2.107,NaN
16,Zahara Asma,Demokrat,Nagan Raya 3,1.732,NaN
17,Ayu Sri Dewi,PA,Nagan Raya 1,1.473,NaN
18,M. Thaleb B.,PA,Nagan Raya 2,1.162,NaN
19,Junid Adrianto,PA,Nagan Raya 3,1.303,NaN
20,Puji Hartini,Partai SIRA,Nagan Raya 1,1.352,Wakil Ketua DPRK
21,Raja Sayang,Partai SIRA,Nagan Raya 2,1.193,NaN
22,T. Abdul Rasyid,Partai SIRA,Nagan Raya 3,986.000,NaN
23,Said Alwi Arief,PNA,Nagan Raya 1,724.000,NaN
24,Ibrahim Idham,PBB,Nagan Raya 2,1.284,NaN

In [61]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

               nama   alamat
0      Saiful Bahri  No Data
1          Sugianto  No Data
2   Annisa Paradisa  No Data
3    Dedy Irmayanda  No Data
4            Saimin  No Data
5     Sigid Winarno  No Data
6          M. Zaini  No Data
7    Teuku Bustaman  No Data
8         Syahrizal  No Data
9        Evan Adris  No Data
10    Hasan Mashuri  No Data
11      Teuku Idris  No Data
12         Jonniadi  No Data
13      Sulaiman T.  No Data
14       Zulkarnain  No Data
15       Ubit Yahya  No Data
16      Zahara Asma  No Data
17     Ayu Sri Dewi  No Data
18     M. Thaleb B.  No Data
19   Junid Adrianto  No Data
20     Puji Hartini  No Data
21      Raja Sayang  No Data
22  T. Abdul Rasyid  No Data
23  Said Alwi Arief  No Data
24    Ibrahim Idham  No Data

In [62]:
df.to_csv("./DPRD TK II/Aceh/Aceh_nagan_raya.csv", index=False)

### p. Kabupaten Pidie

In [63]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Pidie"

In [64]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Fauziah,NaN,PKB,Pidie 1,1.122,NaN
1,T. Zulkarnaini,NaN,Gerindra,Pidie 1,2.440,NaN
2,Zufrizal,NaN,Gerindra,Pidie 2,1.611,NaN
3,Muhammad Saleh,NaN,Gerindra,Pidie 3,2.916,Wakil Ketua DPRK
4,Teuku Mirza Jamil,NaN,Gerindra,Pidie 4,2.350,NaN
5,Rustina,NaN,Gerindra,Pidie 5,1.368,NaN
6,T. Saifullah,NaN,Golkar,Pidie 1,1.817,NaN
7,Ida Susanti,NaN,Golkar,Pidie 2,1.718,NaN
8,Fadhli A. Hamid,NaN,Golkar,Pidie 3,1.422,Wakil Ketua DPRK
9,Asnawati,NaN,Golkar,Pidie 4,917.000,NaN
10,Syarifuddin,NaN,Golkar,Pidie 5,2.829,NaN
11,Fauzi Jamil,NaN,NasDem,Pidie 3,998.000,NaN
12,Abdullah Ali,NaN,NasDem,Pidie 5,1.578,NaN
13,Awaluddin,NaN,PAN,Pidie 1,889.000,NaN
14,Nasrul Syam,NaN,PAN,Pidie 2,2.128,NaN
15,Mahdi,NaN,PAN,Pidie 3,1.108,NaN
16,Hizbullah,NaN,PAN,Pidie 4,1.867,NaN
17,Cut Nur Azizah,NaN,Demokrat,Pidie 1,2.456,NaN
18,Rachmat Anshar,NaN,Demokrat,Pidie 2,1.625,NaN
19,Erlinawati,NaN,Demokrat,Pidie 3,817.000,NaN
20,Alwi,NaN,Demokrat,Pidie 4,1.176,NaN
21,Abdullah,NaN,Demokrat,Pidie 5,1.823,NaN
22,Jailani M. Yacob,NaN,Partai Aceh,Pidie 1,1.554,NaN
23,Anwar Sastra Putra,NaN,Partai Aceh,Pidie 2,3.349,NaN
24,Muhammad,NaN,Partai Aceh,Pidie 2,1.366,NaN
25,Mahfuddin Ismail,NaN,Partai Aceh,Pidie 3,2.418,Ketua DPRK
26,Ibrahim,NaN,Partai Aceh,Pidie 3,2.013,NaN
27,Muhammad,NaN,Partai Aceh,Pidie 4,1.572,NaN
28,Al Hadi Agani,NaN,Partai Aceh,Pidie 4,1.097,NaN
29,Elidawati,NaN,Partai Aceh,Pidie 5,1.544,NaN
30,Abdul Rauf,NaN,Partai Aceh,Pidie 5,1.471,NaN
31,Sayed Muhammad Fakhran,NaN,PDA,Pidie 1,515.000,NaN
32,Jawakir,NaN,PDA,Pidie 2,1.270,NaN
33,Kurniada,NaN,PDA,Pidie 3,1.904,NaN
34,Zamzami,NaN,PDA,Pidie 4,954.000,NaN
35,Muhifuddin,NaN,PDA,Pidie 5,1.414,NaN
36,Zulfazli,NaN,PNA,Pidie 1,1.225,NaN
37,Tgk. Muhammad Nur,NaN,PNA,Pidie 2,1.661,NaN
38,Mansur,NaN,PNA,Pidie 4,1.001,NaN
39,Muhammad Khaizir,NaN,PNA,Pidie 5,1.131,NaN

In [65]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                      nama   alamat
0                  Fauziah  No Data
1           T. Zulkarnaini  No Data
2                 Zufrizal  No Data
3           Muhammad Saleh  No Data
4        Teuku Mirza Jamil  No Data
5                  Rustina  No Data
6             T. Saifullah  No Data
7              Ida Susanti  No Data
8          Fadhli A. Hamid  No Data
9                 Asnawati  No Data
10             Syarifuddin  No Data
11             Fauzi Jamil  No Data
12            Abdullah Ali  No Data
13               Awaluddin  No Data
14             Nasrul Syam  No Data
15                   Mahdi  No Data
16               Hizbullah  No Data
17          Cut Nur Azizah  No Data
18          Rachmat Anshar  No Data
19              Erlinawati  No Data
20                    Alwi  No Data
21                Abdullah  No Data
22        Jailani M. Yacob  No Data
23      Anwar Sastra Putra  No Data
24                Muhammad  No Data
25        Mahfuddin Ismail  No Data
26                 Ibrahim  No Data
27                Muhammad  No Data
28           Al Hadi Agani  No Data
29               Elidawati  No Data
30              Abdul Rauf  No Data
31  Sayed Muhammad Fakhran  No Data
32                 Jawakir  No Data
33                Kurniada  No Data
34                 Zamzami  No Data
35              Muhifuddin  No Data
36                Zulfazli  No Data
37       Tgk. Muhammad Nur  No Data
38                  Mansur  No Data
39        Muhammad Khaizir  No Data

In [66]:
df.to_csv("./DPRD TK II/Aceh/Aceh_pidie.csv", index=False)

### q. Kabupaten Pidie Jaya

In [67]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Pidie_Jaya"

In [68]:
df = pd.read_html(url)[4]
df

,Nama,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Heri Ahmadi,NaN,PKB,Pidie Jaya 1,1.602,NaN
1,T. Zulfan,NaN,Gerindra,Pidie Jaya 1,909.000,NaN
2,Fakhrurrazi,NaN,Gerindra,Pidie Jaya 2,1.738,NaN
3,Muhammad Luthfi,NaN,Gerindra,Pidie Jaya 3,1.654,NaN
4,Teuku Zikri,NaN,Golkar,Pidie Jaya 1,858.000,NaN
5,Syahrul Nurfa,NaN,NasDem,Pidie Jaya 2,1.138,Wakil Ketua DPRK
6,Bustami HS,NaN,NasDem,Pidie Jaya 3,878.000,NaN
7,Muslim M. Adam,NaN,NasDem,Pidie Jaya 4,1.548,NaN
8,Munawar,NaN,PPP,Pidie Jaya 1,1.044,NaN
9,Okti Fauzi,NaN,PPP,Pidie Jaya 2,999.000,NaN
10,Yusril Abdullah,NaN,PAN,Pidie Jaya 1,1.183,NaN
11,Fakruzzaman Hasballah,NaN,PAN,Pidie Jaya 2,793.000,NaN
12,Mahlil,NaN,PAN,Pidie Jaya 3,1.654,NaN
13,Hasan Basri,NaN,PAN,Pidie Jaya 4,2.524,Wakil Ketua DPRK
14,Teuku Guntara,NaN,Demokrat,Pidie Jaya 3,770.000,NaN
15,Saifullah,NaN,Partai Aceh,Pidie Jaya 1,1.715,NaN
16,Abdul Kadir Jailani,NaN,Partai Aceh,Pidie Jaya 1,1.713,Ketua DPRK
17,Edi Saputra,NaN,Partai Aceh,Pidie Jaya 2,1.401,NaN
18,Hasnita,NaN,Partai Aceh,Pidie Jaya 2,1.090,NaN
19,Saiful Anwar,NaN,Partai Aceh,Pidie Jaya 3,2.081,NaN
20,Misdar,NaN,Partai Aceh,Pidie Jaya 3,1.436,NaN
21,Abdul Muthalib,NaN,Partai Aceh,Pidie Jaya 4,1.649,NaN
22,Fadlillah,NaN,Partai Aceh,Pidie Jaya 4,1.197,NaN
23,Muhammad SE,NaN,PNA,Pidie Jaya 1,1.475,NaN
24,Nazaruddin Ismail,NaN,PNA,Pidie Jaya 4,1.323,NaN

In [69]:
df = df.rename(columns={"Nama" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                     nama   alamat
0             Heri Ahmadi  No Data
1               T. Zulfan  No Data
2             Fakhrurrazi  No Data
3         Muhammad Luthfi  No Data
4             Teuku Zikri  No Data
5           Syahrul Nurfa  No Data
6              Bustami HS  No Data
7          Muslim M. Adam  No Data
8                 Munawar  No Data
9              Okti Fauzi  No Data
10        Yusril Abdullah  No Data
11  Fakruzzaman Hasballah  No Data
12                 Mahlil  No Data
13            Hasan Basri  No Data
14          Teuku Guntara  No Data
15              Saifullah  No Data
16    Abdul Kadir Jailani  No Data
17            Edi Saputra  No Data
18                Hasnita  No Data
19           Saiful Anwar  No Data
20                 Misdar  No Data
21         Abdul Muthalib  No Data
22              Fadlillah  No Data
23            Muhammad SE  No Data
24      Nazaruddin Ismail  No Data

In [70]:
df.to_csv("./DPRD TK II/Aceh/Aceh_pidie_jaya.csv", index=False)

### r. Kabupaten Simeulue

In [71]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kabupaten_Simeulue"

In [72]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Nurnihayati,PKB,Simeulue 1,845.000,NaN
1,Amsarudin,Gerindra,Simeulue 4,975.000,NaN
2,Andi Milian,Golkar,Simeulue 2,1.026,NaN
3,Haili,NasDem,Simeulue 2,1.531,NaN
4,Nusar Amin,NasDem,Simeulue 4,1.347,NaN
5,Irawan Rudiono,PKS,Simeulue 2,1.057,NaN
6,Ihya Ulumuddin,PKS,Simeulue 3,1.304,NaN
7,Ugek Farlian,PPP,Simeulue 1,847.000,NaN
8,T. Syamsardin,PPP,Simeulue 3,675.000,NaN
9,Sunardi,PAN,Simeulue 1,992.000,Wakil Ketua DPRK
10,Sardinsyah,PAN,Simeulue 3,654.000,NaN
11,Rita Diana,Hanura,Simeulue 1,502.000,NaN
12,Rosnidar Mahlil,Hanura,Simeulue 2,1.190,NaN
13,Poni Harjo,Hanura,Simeulue 3,888.000,Wakil Ketua DPRK
14,Syahrian,Demokrat,Simeulue 1,528.000,NaN
15,Raduin,Demokrat,Simeulue 4,915.000,NaN
16,Hamsipar,PBB,Simeulue 1,816.000,NaN
17,Hj. Mirati,PBB,Simeulue 2,506.000,NaN
18,Irwan Suharmi,PBB,Simeulue 3,1.021,Ketua DPRK
19,Jul Akmal,PBB,Simeulue 4,923.000,NaN

In [73]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

               nama   alamat
0       Nurnihayati  No Data
1         Amsarudin  No Data
2       Andi Milian  No Data
3             Haili  No Data
4        Nusar Amin  No Data
5    Irawan Rudiono  No Data
6    Ihya Ulumuddin  No Data
7      Ugek Farlian  No Data
8     T. Syamsardin  No Data
9           Sunardi  No Data
10       Sardinsyah  No Data
11       Rita Diana  No Data
12  Rosnidar Mahlil  No Data
13       Poni Harjo  No Data
14         Syahrian  No Data
15           Raduin  No Data
16         Hamsipar  No Data
17       Hj. Mirati  No Data
18    Irwan Suharmi  No Data
19        Jul Akmal  No Data

In [74]:
df.to_csv("./DPRD TK II/Aceh/Simeulue.csv", index=False)

### s. Kota Banda Aceh

In [75]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kota_Banda_Aceh"

In [76]:
df = pd.read_html(url)[5]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Teuku Arief Khalifah,NaN,Gerindra,KOTA BANDA ACEH 1,1.231,NaN
1,Safni,NaN,Gerindra,KOTA BANDA ACEH 2,1.388,NaN
2,Irwansyah,NaN,Gerindra,KOTA BANDA ACEH 3,815,NaN
3,Ramza Harli,NaN,Gerindra,KOTA BANDA ACEH 4,2.665,NaN
4,H. Iskandar Mahmud,NaN,Golkar,KOTA BANDA ACEH 1,919,NaN
5,Sabri Badruddin,NaN,Golkar,KOTA BANDA ACEH 2,1.121,NaN
6,Hj. Kasumi Sulaiman,NaN,Golkar,KOTA BANDA ACEH 3,492,NaN
7,Abdul Rafur,NaN,NasDem,KOTA BANDA ACEH 1,2.342,NaN
8,H. Heri Julius,NaN,NasDem,KOTA BANDA ACEH 3,2.211,NaN
9,Daniel Abdul Wahab,NaN,NasDem,KOTA BANDA ACEH 5,1.580,NaN
10,Devi Yunita,NaN,PKS,KOTA BANDA ACEH 1,1.545,NaN
11,Farid Nyak Umar,NaN,PKS,KOTA BANDA ACEH 2,1.267,Ketua DPRK
12,Tuanku Muhammad,NaN,PKS,KOTA BANDA ACEH 3,1.110,NaN
13,Tati Meutia Asmara,NaN,PKS,KOTA BANDA ACEH 4,3.138,NaN
14,Irwansyah,NaN,PKS,KOTA BANDA ACEH 4,2.235,NaN
15,Syarifah Munirah,NaN,PPP,KOTA BANDA ACEH 1,915,NaN
16,H. Ilmiza Sa'aduddin Djamal,NaN,PPP,KOTA BANDA ACEH 4,898,NaN
17,Sofyan Helmi,NaN,PAN,KOTA BANDA ACEH 1,1.166,NaN
18,Usman,NaN,PAN,KOTA BANDA ACEH 2,940,Wakil Ketua DPRK
19,Musriadi,NaN,PAN,KOTA BANDA ACEH 3,1.158,NaN
20,Aulia Afridzal,NaN,PAN,KOTA BANDA ACEH 4,983,NaN
21,Ismawardi,NaN,PAN,KOTA BANDA ACEH 5,1.346,NaN
22,Royes Ruslan,NaN,Demokrat,KOTA BANDA ACEH 1,1.328,NaN
23,Aiyub Bukhari,NaN,Demokrat,KOTA BANDA ACEH 2,1.470,NaN
24,Isnaini Husda,NaN,Demokrat,KOTA BANDA ACEH 3,1.300,Wakil Ketua DPRK
25,M. Arifin,NaN,Demokrat,KOTA BANDA ACEH 4,918,NaN
26,Teungku Januar Hasan,NaN,Demokrat,KOTA BANDA ACEH 5,1.693,NaN
27,Teuku Hendra Budiansyah,NaN,Partai Aceh,KOTA BANDA ACEH 2,1.427,NaN
28,Bunyamin,NaN,Partai Aceh,KOTA BANDA ACEH 3,2.115,NaN
29,Husaini,NaN,PNA,KOTA BANDA ACEH 5,785,NaN
30,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...

In [77]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                                 nama   alamat
0                                Teuku Arief Khalifah  No Data
1                                               Safni  No Data
2                                           Irwansyah  No Data
3                                         Ramza Harli  No Data
4                                  H. Iskandar Mahmud  No Data
5                                     Sabri Badruddin  No Data
6                                 Hj. Kasumi Sulaiman  No Data
7                                         Abdul Rafur  No Data
8                                      H. Heri Julius  No Data
9                                  Daniel Abdul Wahab  No Data
10                                        Devi Yunita  No Data
11                                    Farid Nyak Umar  No Data
12                                    Tuanku Muhammad  No Data
13                                 Tati Meutia Asmara  No Data
14                                          Irwansyah  No Data
15                                   Syarifah Munirah  No Data
16                        H. Ilmiza Sa'aduddin Djamal  No Data
17                                       Sofyan Helmi  No Data
18                                              Usman  No Data
19                                           Musriadi  No Data
20                                     Aulia Afridzal  No Data
21                                          Ismawardi  No Data
22                                       Royes Ruslan  No Data
23                                      Aiyub Bukhari  No Data
24                                      Isnaini Husda  No Data
25                                          M. Arifin  No Data
26                               Teungku Januar Hasan  No Data
27                            Teuku Hendra Budiansyah  No Data
28                                           Bunyamin  No Data
29                                            Husaini  No Data
30  Catatan: Nama anggota yang dicetak miring mena...  No Data

In [78]:
df.to_csv("./DPRD TK II/Aceh/Banda_Aceh.csv", index=False)

### t. Kota Langsa

In [79]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kota_Langsa"

In [80]:
df = pd.read_html(url)[6]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Jeffry Sentana S. Putra,NaN,Gerindra,KOTA LANGSA 1,1.252,NaN
1,Melvita Sari,NaN,Gerindra,KOTA LANGSA 2,1.403,NaN
2,Irwanto,NaN,Gerindra,KOTA LANGSA 3,1.607,NaN
3,Muhammad Ali,NaN,PDI-P,KOTA LANGSA 3,855,NaN
4,Teuku Hidayat,NaN,Golkar,KOTA LANGSA 1,1.094,NaN
5,Rosmaliah,NaN,Golkar,KOTA LANGSA 2,1.141,NaN
6,Saifullah,NaN,Golkar,KOTA LANGSA 3,1.391,Wakil Ketua DPRK
7,Rubian Harja,NaN,Golkar,KOTA LANGSA 3,1.276,NaN
8,Sri Keumala Nurli,NaN,NasDem,KOTA LANGSA 3,966,NaN
9,Zulfahmi,NaN,PKS,KOTA LANGSA 1,1.893,NaN
10,Noma Khairil,NaN,PKS,KOTA LANGSA 3,1.190,NaN
11,Pangian Widodo Siregar,NaN,Hanura,KOTA LANGSA 1,707,NaN
12,Dedi Saputra,NaN,Hanura,KOTA LANGSA 2,984,NaN
13,Faisal,NaN,Hanura,KOTA LANGSA 3,1.166,NaN
14,Joni,NaN,Demokrat,KOTA LANGSA 1,1.514,Wakil Ketua DPRK
15,Zulfikar,NaN,Demokrat,KOTA LANGSA 2,947,NaN
16,Ferizal Amri,NaN,Demokrat,KOTA LANGSA 3,1.547,NaN
17,Teuku Ratna Laila Sari,NaN,Demokrat,KOTA LANGSA 3,1.499,NaN
18,Zulkifli Latief,NaN,Partai Aceh,KOTA LANGSA 1,1.092,Ketua DPRK
19,Syamsul Bahri,NaN,Partai Aceh,KOTA LANGSA 2,1.806,NaN
20,Rosmawati,NaN,Partai Aceh,KOTA LANGSA 2,1.777,NaN
21,Maimul Mahdi,NaN,Partai Aceh,KOTA LANGSA 3,3.069,NaN
22,Burhansyah,NaN,Partai Aceh,KOTA LANGSA 3,2.300,NaN
23,Fajri,NaN,PNA,KOTA LANGSA 2,938,NaN
24,Teuku Helmi Mirza,NaN,PNA,KOTA LANGSA 3,1.377,NaN
25,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...

In [81]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                                 nama   alamat
0                             Jeffry Sentana S. Putra  No Data
1                                        Melvita Sari  No Data
2                                             Irwanto  No Data
3                                        Muhammad Ali  No Data
4                                       Teuku Hidayat  No Data
5                                           Rosmaliah  No Data
6                                           Saifullah  No Data
7                                        Rubian Harja  No Data
8                                   Sri Keumala Nurli  No Data
9                                            Zulfahmi  No Data
10                                       Noma Khairil  No Data
11                             Pangian Widodo Siregar  No Data
12                                       Dedi Saputra  No Data
13                                             Faisal  No Data
14                                               Joni  No Data
15                                           Zulfikar  No Data
16                                       Ferizal Amri  No Data
17                             Teuku Ratna Laila Sari  No Data
18                                    Zulkifli Latief  No Data
19                                      Syamsul Bahri  No Data
20                                          Rosmawati  No Data
21                                       Maimul Mahdi  No Data
22                                         Burhansyah  No Data
23                                              Fajri  No Data
24                                  Teuku Helmi Mirza  No Data
25  Catatan: Nama anggota yang dicetak miring mena...  No Data

In [82]:
df.to_csv("./DPRD TK II/Aceh/Kota_Langsa.csv", index=False)

### u. Kota Lhokseumawe

In [83]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kota_Lhokseumawe"

In [84]:
df = pd.read_html(url)[7]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Taslim A. Rani,NaN,Partai Aceh,KOTA LHOKSEUMAWE 1,1.226,NaN
1,Faisal Rasyidis,NaN,Partai Aceh,KOTA LHOKSEUMAWE 1,943.000,NaN
2,Ardiansyah,NaN,Partai Aceh,KOTA LHOKSEUMAWE 1,939.000,NaN
3,M. Yasir Umar,NaN,Partai Aceh,KOTA LHOKSEUMAWE 2,3.324,Ketua DPRK
4,Jamaluddin,NaN,Partai Aceh,KOTA LHOKSEUMAWE 2,1.583,NaN
5,Budy Karma Bakti,NaN,Partai Aceh,KOTA LHOKSEUMAWE 2,1.147,NaN
6,Muhammad Daud,NaN,Partai Aceh,KOTA LHOKSEUMAWE 3,1.901,NaN
7,Teungku Syuib,NaN,Partai Aceh,KOTA LHOKSEUMAWE 3,1.858,NaN
8,Tarmizi A. Wahab,NaN,Partai Aceh,KOTA LHOKSEUMAWE 4,1.452,NaN
9,Ishak Ismail,NaN,Partai Aceh,KOTA LHOKSEUMAWE 4,1.080,NaN
10,Azhar Mahmud,NaN,NasDem,KOTA LHOKSEUMAWE 1,1.226,NaN
11,Sudirman Amin,NaN,NasDem,KOTA LHOKSEUMAWE 4,507.000,NaN
12,Dicky Saputra,NaN,PKS,KOTA LHOKSEUMAWE 1,479.000,NaN
13,Yusrizal,NaN,PKS,KOTA LHOKSEUMAWE 4,575.000,NaN
14,Nurul Akbari,NaN,Gerindra,KOTA LHOKSEUMAWE 1,560.000,NaN
15,Irwan Yusuf,NaN,Gerindra,KOTA LHOKSEUMAWE 2,732.000,NaN
16,Teuku Sofianus,NaN,Demokrat,KOTA LHOKSEUMAWE 1,813.000,Wakil Ketua DPRK
17,Muhammad Hasbi,NaN,Demokrat,KOTA LHOKSEUMAWE 2,848.000,NaN
18,Roslina,NaN,Demokrat,KOTA LHOKSEUMAWE 3,555.000,NaN
19,Zainuddin Umar,NaN,PAN,KOTA LHOKSEUMAWE 1,639.000,NaN
20,Faisal,NaN,PAN,KOTA LHOKSEUMAWE 2,615.000,NaN
21,Suryadi,NaN,PAN,KOTA LHOKSEUMAWE 4,987.000,Wakil Ketua DPRK
22,Mukhlis Azhar,NaN,Hanura,KOTA LHOKSEUMAWE 1,379.000,NaN
23,Jailani Usman,NaN,Golkar,KOTA LHOKSEUMAWE 1,1.044,NaN
24,Abdul Manan Jalil,NaN,PKB,KOTA LHOKSEUMAWE 1,365.000,NaN

In [85]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                 nama   alamat
0      Taslim A. Rani  No Data
1     Faisal Rasyidis  No Data
2          Ardiansyah  No Data
3       M. Yasir Umar  No Data
4          Jamaluddin  No Data
5    Budy Karma Bakti  No Data
6       Muhammad Daud  No Data
7       Teungku Syuib  No Data
8    Tarmizi A. Wahab  No Data
9        Ishak Ismail  No Data
10       Azhar Mahmud  No Data
11      Sudirman Amin  No Data
12      Dicky Saputra  No Data
13           Yusrizal  No Data
14       Nurul Akbari  No Data
15        Irwan Yusuf  No Data
16     Teuku Sofianus  No Data
17     Muhammad Hasbi  No Data
18            Roslina  No Data
19     Zainuddin Umar  No Data
20             Faisal  No Data
21            Suryadi  No Data
22      Mukhlis Azhar  No Data
23      Jailani Usman  No Data
24  Abdul Manan Jalil  No Data

In [86]:
df.to_csv("./DPRD TK II/Aceh/Kota_Lhokseumawe.csv", index=False)

### v. Kota Sabang

In [87]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kota_Sabang"

In [88]:
df = pd.read_html(url)[6]
df

,Nama Anggota,Partai Politik,Partai Politik.1,Daerah Pemilihan,Suara Sah,Keterangan
0,Ria Indriani,NaN,Golkar,KOTA SABANG 1,335,NaN
1,Ferdiansyah,NaN,Golkar,KOTA SABANG 2,576,Wakil Ketua DPRK
2,Marwan,NaN,NasDem,KOTA SABANG 1,549,NaN
3,Maulizar,NaN,PKS,KOTA SABANG 2,343,NaN
4,M. Rizki Setiawan,NaN,PAN,KOTA SABANG 2,370,NaN
5,Ryani Mutia Rahman,NaN,Demokrat,KOTA SABANG 1,526,NaN
6,Armadi,NaN,Demokrat,KOTA SABANG 1,351,Wakil Ketua DPRK
7,Muhammad Isa,NaN,Partai Aceh,KOTA SABANG 1,1.481,NaN
8,Risa Nirmala,NaN,Partai Aceh,KOTA SABANG 1,566,NaN
9,Muhammad Nasir,NaN,Partai Aceh,KOTA SABANG 1,474,Ketua DPRK
10,Erika Tanty Siregar,NaN,Partai Aceh,KOTA SABANG 1,469,NaN
11,Wahyu Ramadhan,NaN,Partai Aceh,KOTA SABANG 1,454,NaN
12,Magdalaina,NaN,Partai Aceh,KOTA SABANG 2,1.003,NaN
13,Agus Adhiyatsyah,NaN,Partai Aceh,KOTA SABANG 2,796,NaN
14,A.Q. Jaelani,NaN,Partai Aceh,KOTA SABANG 2,618,NaN
15,Muhammad Isa,NaN,Partai Aceh,KOTA SABANG 2,600,NaN
16,Hamdani,NaN,Partai Aceh,KOTA SABANG 2,553,NaN
17,Abdul Muthalib Rahman,NaN,Partai Aceh,KOTA SABANG 2,509,NaN
18,Samsul Bahri,NaN,PBB,KOTA SABANG 1,205,NaN
19,Darmawan,NaN,PBB,KOTA SABANG 2,577,NaN
20,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...,Catatan: Nama anggota yang dicetak miring mena...

In [89]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                                 nama   alamat
0                                        Ria Indriani  No Data
1                                         Ferdiansyah  No Data
2                                              Marwan  No Data
3                                            Maulizar  No Data
4                                   M. Rizki Setiawan  No Data
5                                  Ryani Mutia Rahman  No Data
6                                              Armadi  No Data
7                                        Muhammad Isa  No Data
8                                        Risa Nirmala  No Data
9                                      Muhammad Nasir  No Data
10                                Erika Tanty Siregar  No Data
11                                     Wahyu Ramadhan  No Data
12                                         Magdalaina  No Data
13                                   Agus Adhiyatsyah  No Data
14                                       A.Q. Jaelani  No Data
15                                       Muhammad Isa  No Data
16                                            Hamdani  No Data
17                              Abdul Muthalib Rahman  No Data
18                                       Samsul Bahri  No Data
19                                           Darmawan  No Data
20  Catatan: Nama anggota yang dicetak miring mena...  No Data

In [90]:
df.to_csv("./DPRD TK II/Aceh/Kota_Sabang.csv", index=False)

### w. Kota Subulussalam

In [91]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Kota_Subulussalam"

In [92]:
df = pd.read_html(url)[5]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Ari Afriadi,Gerindra,KOTA SUBULUSSALAM 1,669.000,NaN
1,Fajri Munthe,Golkar,KOTA SUBULUSSALAM 1,1.030,Wakil Ketua DPRK
2,S. Saddam Ali Husein Tumangger,Golkar,KOTA SUBULUSSALAM 2,1.186,NaN
3,Mukmin Pardosi,Golkar,KOTA SUBULUSSALAM 4,749.000,NaN
4,Dedy,PKS,KOTA SUBULUSSALAM 1,514.000,NaN
5,Jefri Husni M.,PAN,KOTA SUBULUSSALAM 1,437.000,NaN
6,Bahagia Maha,PAN,KOTA SUBULUSSALAM 3,610.000,NaN
7,Dewita Karya,PAN,KOTA SUBULUSSALAM 4,732.000,Wakil Ketua DPRK
8,Ade Fadly Pranata Bintang,Hanura,KOTA SUBULUSSALAM 1,1.487,Ketua DPRK
9,M.Z.A Ridho Bancin,Hanura,KOTA SUBULUSSALAM 2,1.277,NaN
10,Khalidin,Hanura,KOTA SUBULUSSALAM 3,596.000,NaN
11,Ade Rizky Br. Bintang,Hanura,KOTA SUBULUSSALAM 4,1.033,NaN
12,Dolly S. Cibro,Demokrat,KOTA SUBULUSSALAM 3,711.000,NaN
13,Zainuddin,Demokrat,KOTA SUBULUSSALAM 4,566.000,NaN
14,Salehati,PA,KOTA SUBULUSSALAM 1,802.000,NaN
15,Hariansyah,PA,KOTA SUBULUSSALAM 3,821.000,NaN
16,Samiun,PNA,KOTA SUBULUSSALAM 1,652.000,NaN
17,Ridwan,PNA,KOTA SUBULUSSALAM 3,716.000,NaN
18,Karlinus,PBB,KOTA SUBULUSSALAM 2,1.185,NaN
19,Gusfri Maha Putra Pinem,PKPI,KOTA SUBULUSSALAM 1,845.000,NaN

In [93]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                              nama   alamat
0                      Ari Afriadi  No Data
1                     Fajri Munthe  No Data
2   S. Saddam Ali Husein Tumangger  No Data
3                   Mukmin Pardosi  No Data
4                             Dedy  No Data
5                   Jefri Husni M.  No Data
6                     Bahagia Maha  No Data
7                     Dewita Karya  No Data
8        Ade Fadly Pranata Bintang  No Data
9               M.Z.A Ridho Bancin  No Data
10                        Khalidin  No Data
11           Ade Rizky Br. Bintang  No Data
12                  Dolly S. Cibro  No Data
13                       Zainuddin  No Data
14                        Salehati  No Data
15                      Hariansyah  No Data
16                          Samiun  No Data
17                          Ridwan  No Data
18                        Karlinus  No Data
19         Gusfri Maha Putra Pinem  No Data

In [94]:
df.to_csv("./DPRD TK II/Aceh/Kota_Subulussalam.csv", index=False)

# 2. Sumatra Utara

### a. Kabupaten Asahan

In [95]:
url_1 = "https://dprd.asahankab.go.id/index.php/pages/fraksi-gerindra"
url_2 = "https://dprd.asahankab.go.id/index.php/pages/fraksi-pdip"

urls = [url_1]

In [96]:
li = []

for url in tqdm(urls):
    df = pd.read_html(url)[0]
    print(df.shape)
    li.append(df)

df = pd.concat(li)
df

100%|████████████████████████████████████████████| 1/1 [00:00<00:00,  1.90it/s]

(11, 3)

      0                              1            2
0    NO                           NAMA      JABATAN
1    1.           BAMBANG RUSMANTO, SP        KETUA
2    2.              FEBRIANDI SARAGIH  WAKIL KETUA
3    3.                         WAGINI   SEKRETARIS
4    4.  H. BAHARUDDIN HARAHAP, SH, MH      ANGGOTA
5    5.       Drs. MANSUR MARPAUNG, MM      ANGGOTA
6    6.              IRWANSYAH SIREGAR      ANGGOTA
7    7.   MUHAMMAD REZA ANDHIKA, S.AGT      ANGGOTA
8    8.                      NURHAYATI      ANGGOTA
9    9.                 TRI ASTUTI, SE      ANGGOTA
10  10.                     ABD. RAZAQ      ANGGOTA

In [97]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df

0    NO                           NAMA      JABATAN
1    1.           BAMBANG RUSMANTO, SP        KETUA
2    2.              FEBRIANDI SARAGIH  WAKIL KETUA
3    3.                         WAGINI   SEKRETARIS
4    4.  H. BAHARUDDIN HARAHAP, SH, MH      ANGGOTA
5    5.       Drs. MANSUR MARPAUNG, MM      ANGGOTA
6    6.              IRWANSYAH SIREGAR      ANGGOTA
7    7.   MUHAMMAD REZA ANDHIKA, S.AGT      ANGGOTA
8    8.                      NURHAYATI      ANGGOTA
9    9.                 TRI ASTUTI, SE      ANGGOTA
10  10.                     ABD. RAZAQ      ANGGOTA

In [98]:
df = df.rename(columns={"NAMA" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

0                            nama   alamat
1            BAMBANG RUSMANTO, SP  No Data
2               FEBRIANDI SARAGIH  No Data
3                          WAGINI  No Data
4   H. BAHARUDDIN HARAHAP, SH, MH  No Data
5        Drs. MANSUR MARPAUNG, MM  No Data
6               IRWANSYAH SIREGAR  No Data
7    MUHAMMAD REZA ANDHIKA, S.AGT  No Data
8                       NURHAYATI  No Data
9                  TRI ASTUTI, SE  No Data
10                     ABD. RAZAQ  No Data

In [99]:
df.to_csv("./DPRD TK II/Sumut/Asahan.csv", index=False)

### b. Kabupaten Batubara

In [3]:
url_1 = "https://setwan.batubarakab.go.id/fraksi/fraksi-partai-demokrasi-indonesia-perjuangan-pdip"
url_2 = "https://setwan.batubarakab.go.id/fraksi/fraksi-partai-golongan-karya-golkar"
url_3 = "https://setwan.batubarakab.go.id/fraksi/fraksi-partai-gerakan-indonesia-raya-gerindra"
url_4 = "https://setwan.batubarakab.go.id/fraksi/fraksi-partai-amanat-nasional-pan"
url_5 = "https://setwan.batubarakab.go.id/fraksi/fraksi-partai-keadilan-sejahtera-pks"
url_6 = "https://setwan.batubarakab.go.id/fraksi/fraksi-partai-demokrat"
url_7 = "https://setwan.batubarakab.go.id/fraksi/fraksi-partai-nasional-demokrat-nasdem"
url_8 = "https://setwan.batubarakab.go.id/fraksi/fraksi-partai-persatuan-pembangunan-ppp"
url_9 = "https://setwan.batubarakab.go.id/fraksi/fraksi-partai-bulan-bintang-pbb"
url_10 = "https://setwan.batubarakab.go.id/fraksi/fraksi-nurani-karya-bangsa-nkb"

urls = [url_1, url_2, url_3, url_4, url_5, url_6, url_7, url_8, url_9, url_10]

In [4]:
list_nama = []
for url in urls:
    soup = get_url(url)
    spans = soup.find_all("span", {"class" : "thumb-info-inner"})
    for span in spans:
        list_nama.append(span.string)

In [5]:
df = pd.DataFrame({"nama" : list_nama})
df["alamat"] = "No Data"
df

                          nama   alamat
0               Drs. Suwarsono  No Data
1               Dian Suwartono  No Data
2                  Ruslan, SH.  No Data
3               M. Safi'i, SH.  No Data
4          M. Ali Hatta, S.Sos  No Data
5      Fahri Iswahyudi, S.Sos.  No Data
6                       Rohadi  No Data
7            Ismar Khomri, SS.  No Data
8   Ahmad Fahri Meliala, A.Md.  No Data
9                 Drs. Sahroni  No Data
10             Adriansyah, SH.  No Data
11        Syafrizal, SE. M.AP.  No Data
12              Chairul Bariah  No Data
13                     Hamdani  No Data
14                  Suprayitno  No Data
15                Amat Mukhtas  No Data
16  M. Abduh A. Marpaung, SKM.  No Data
17   Citra Muliadi Bangun, SE.  No Data
18                 Sri Wahyuni  No Data
19                 Syahril, SH  No Data
20      Azuar Simanjuntak, SE.  No Data
21               H. Abdul Aziz  No Data
22     Dra. Tiurlan Napitupulu  No Data
23                     Mukhsin  No Data
24            Ahmad Badri, SH.  No Data
25          Heri Suhandani, SE  No Data
26          H. Darius, SH. MH.  No Data
27             Azhar Amri, AMK  No Data
28           Andi Lestari, SKG  No Data
29          Edi Syahputra, ST.  No Data
30       Sarianto Damanik, SE.  No Data
31             Usman, SE. M.Si  No Data
32              H. Rohadi, SP.  No Data
33                   Muklis BN  No Data
34                Ir. Edi Noor  No Data

In [6]:
df.to_csv("./DPRD TK II/Sumut/Batubara.csv", index=False)

### c. Kabupaten Dairi

In [104]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Dairi"

In [105]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Alfriyansah Ujung,PKB,Dairi 1,2.894,NaN
1,Markus H. E. Sinaga,Gerindra,Dairi 1,1.140,NaN
2,Rade Pandapotan Simamora,Gerindra,Dairi 2,1.914,NaN
3,Rasiden Damanik,Gerindra,Dairi 3,2.513,NaN
4,Batara Armin Steve Sinaga,PDI-P,Dairi 1,2.149,NaN
5,Hendra Christian Parlinggoman Tambunan,PDI-P,Dairi 2,2.374,NaN
6,Idul Fitri Tarigan,PDI-P,Dairi 3,3.294,NaN
7,Halvensius Tondang,PDI-P,Dairi 4,2.541,Wakil Ketua DPRD
8,Lamhot Edward Munthe,PDI-P,Dairi 4,2.114,NaN
9,Depriwanto Sitohang,Golkar,Dairi 1,3.317,NaN
10,Lamasi Saut Martua Simamora,Golkar,Dairi 1,2.732,NaN
11,Johanson Manik,Golkar,Dairi 1,2.129,NaN
12,Sabam Sibarani,Golkar,Dairi 2,3.947,Ketua DPRD
13,Nurlinda Angkat,Golkar,Dairi 2,2.381,NaN
14,Lisbet Lumban Tobing,Golkar,Dairi 2,2.259,NaN
15,Carles Tamba,Golkar,Dairi 3,3.251,NaN
16,Robianto Barus,Golkar,Dairi 3,2.706,NaN
17,Jonnes Gurning,Golkar,Dairi 4,1.284,NaN
18,Nasib M. Sihombing,NasDem,Dairi 1,2.076,NaN
19,Juangga Silaban,NasDem,Dairi 2,1.853,NaN
20,J. Putra Ginting,NasDem,Dairi 3,1.970,NaN
21,Kian Munthe,NasDem,Dairi 4,3.086,NaN
22,Jono Pasi,PKS,Dairi 2,1.902,NaN
23,Radeanto Banjarnahor,Perindo,Dairi 1,2.707,NaN
24,Erwin Reiden Lumban Gaol,Perindo,Dairi 4,2.128,NaN
25,Riduan Hasbi Sagala,PAN,Dairi 1,2.381,NaN
26,Manat Sigalingging,Hanura,Dairi 1,1.639,NaN
27,Togar Pasaribu,Hanura,Dairi 1,1.510,NaN
28,Hadiswarno Panjaitan,Hanura,Dairi 2,1.872,NaN
29,Osman Sihombing,Hanura,Dairi 3,2.056,NaN
30,Bonar Hasudungan Sitindaon,Demokrat,Dairi 1,1.130,NaN
31,Cipta Karo-Karo,Demokrat,Dairi 3,1.964,NaN
32,Wanseptember Situmorang,Demokrat,Dairi 4,3.547,Wakil Ketua DPRD
33,Rukiatno Nainggolan,Demokrat,Dairi 4,3.427,NaN
34,Mardaulat Girsang,Demokrat,Dairi 4,2.421,NaN

In [106]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                      nama   alamat
0                        Alfriyansah Ujung  No Data
1                      Markus H. E. Sinaga  No Data
2                 Rade Pandapotan Simamora  No Data
3                          Rasiden Damanik  No Data
4                Batara Armin Steve Sinaga  No Data
5   Hendra Christian Parlinggoman Tambunan  No Data
6                       Idul Fitri Tarigan  No Data
7                       Halvensius Tondang  No Data
8                     Lamhot Edward Munthe  No Data
9                      Depriwanto Sitohang  No Data
10             Lamasi Saut Martua Simamora  No Data
11                          Johanson Manik  No Data
12                          Sabam Sibarani  No Data
13                         Nurlinda Angkat  No Data
14                    Lisbet Lumban Tobing  No Data
15                            Carles Tamba  No Data
16                          Robianto Barus  No Data
17                          Jonnes Gurning  No Data
18                      Nasib M. Sihombing  No Data
19                         Juangga Silaban  No Data
20                        J. Putra Ginting  No Data
21                             Kian Munthe  No Data
22                               Jono Pasi  No Data
23                    Radeanto Banjarnahor  No Data
24                Erwin Reiden Lumban Gaol  No Data
25                     Riduan Hasbi Sagala  No Data
26                      Manat Sigalingging  No Data
27                          Togar Pasaribu  No Data
28                    Hadiswarno Panjaitan  No Data
29                         Osman Sihombing  No Data
30              Bonar Hasudungan Sitindaon  No Data
31                         Cipta Karo-Karo  No Data
32                 Wanseptember Situmorang  No Data
33                     Rukiatno Nainggolan  No Data
34                       Mardaulat Girsang  No Data

In [107]:
df.to_csv("./DPRD TK II/Sumut/Dairi.csv", index=False)

### d. Kabupaten Deli Serdang

In [108]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Deli_Serdang"

In [109]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,H. Said Hadi,PKB,Deli Serdang 2,4.715,NaN
1,Rakhmadsyah,PKB,Deli Serdang 6,4.829,NaN
2,Dedi Syahputra,Gerindra,Deli Serdang 1,6.599,NaN
3,Hairul Sani,Gerindra,Deli Serdang 2,4.022,NaN
4,Kustomo,Gerindra,Deli Serdang 3,5.440,NaN
5,Simon Sembiring,Gerindra,Deli Serdang 4,7.496,NaN
6,Mangadar Marpaung,Gerindra,Deli Serdang 4,5.194,NaN
7,Zakky Shahri,Gerindra,Deli Serdang 5,2.447,Ketua DPRD
8,Kamaruzzaman,Gerindra,Deli Serdang 6,10.422,NaN
9,H. Maha Dani,Gerindra,Deli Serdang 6,5.038,NaN
10,Henry Dumanter Tampubolon,PDI-P,Deli Serdang 1,5.005,NaN
11,Agus Tiawan,PDI-P,Deli Serdang 2,6.113,NaN
12,Ronaldta Tarigan,PDI-P,Deli Serdang 3,10.295,NaN
13,Antony Napitupulu,PDI-P,Deli Serdang 4,6.864,NaN
14,Joni Hendri,PDI-P,Deli Serdang 4,4.415,NaN
15,Amit Damanik,PDI-P,Deli Serdang 5,6.425,Wakil Ketua DPRD
16,Syahminan Nasution,PDI-P,Deli Serdang 6,3.090,NaN
17,Mikail T. Parlindungan Purba,Golkar,Deli Serdang 1,11.175,NaN
18,T. Akhmad Thala'a,Golkar,Deli Serdang 1,4.428,Wakil Ketua DPRD
19,Siswo Adi Suwito,Golkar,Deli Serdang 2,5.194,NaN
20,Thomas Darwin Sembiring,Golkar,Deli Serdang 3,10.543,NaN
21,Zul Amri,Golkar,Deli Serdang 4,8.645,NaN
22,Rahman,Golkar,Deli Serdang 5,3.006,NaN
23,Arwindo,Golkar,Deli Serdang 6,3.117,NaN
24,Bongotan Siburian,NasDem,Deli Serdang 1,8.234,NaN
25,H. Nusantara Tarigan Silangit,NasDem,Deli Serdang 2,4.664,Wakil Ketua DPRD
26,Antonius Ginting,NasDem,Deli Serdang 3,4.796,NaN
27,Maya Shynta Sianturi,NasDem,Deli Serdang 4,3.313,NaN
28,Legimun,NasDem,Deli Serdang 5,3.456,NaN
29,Dosiraja Simarmata,NasDem,Deli Serdang 6,4.726,NaN
30,Muhammad Darwis Batubara,PKS,Deli Serdang 1,3.601,NaN
31,H. Abdul Rahman,PKS,Deli Serdang 3,5.053,NaN
32,Cece Mohammad Romli,PKS,Deli Serdang 4,4.017,NaN
33,H. Syaiful Tanjung,PKS,Deli Serdang 6,6.553,NaN
34,Darwis,PKS,Deli Serdang 6,4.835,NaN
35,Gunung,Perindo,Deli Serdang 2,4.995,NaN
36,Hj. Saadah Lubis,PPP,Deli Serdang 2,5.385,NaN
37,Muhammad Adami Sulaeman,PPP,Deli Serdang 5,4.249,NaN
38,Misnan Al Jawi,PPP,Deli Serdang 6,8.128,NaN
39,Bayu Sumantri Agung,PAN,Deli Serdang 1,7.294,NaN
40,Imran Obos,PAN,Deli Serdang 2,6.939,NaN
41,Wahyu Danin,PAN,Deli Serdang 4,3.615,NaN
42,Irawan,PAN,Deli Serdang 6,6.745,NaN
43,Berngap,Hanura,Deli Serdang 4,6.904,NaN
44,Wastianna Harahap,Demokrat,Deli Serdang 1,4.675,NaN
45,Gambo Tarigan,Demokrat,Deli Serdang 3,7.121,NaN
46,Abdul Hakim Keliat,Demokrat,Deli Serdang 4,2.556,NaN
47,H. Syoufi Rizal Husni,Demokrat,Deli Serdang 5,7.825,NaN
48,H. Ismayadi,Demokrat,Deli Serdang 6,5.439,NaN
49,Muhammad Darbani Dalimunthe,PBB,Deli Serdang 1,6.580,NaN

In [110]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                             nama   alamat
0                    H. Said Hadi  No Data
1                     Rakhmadsyah  No Data
2                  Dedi Syahputra  No Data
3                     Hairul Sani  No Data
4                         Kustomo  No Data
5                 Simon Sembiring  No Data
6               Mangadar Marpaung  No Data
7                    Zakky Shahri  No Data
8                    Kamaruzzaman  No Data
9                    H. Maha Dani  No Data
10      Henry Dumanter Tampubolon  No Data
11                    Agus Tiawan  No Data
12               Ronaldta Tarigan  No Data
13              Antony Napitupulu  No Data
14                    Joni Hendri  No Data
15                   Amit Damanik  No Data
16             Syahminan Nasution  No Data
17   Mikail T. Parlindungan Purba  No Data
18              T. Akhmad Thala'a  No Data
19               Siswo Adi Suwito  No Data
20        Thomas Darwin Sembiring  No Data
21                       Zul Amri  No Data
22                         Rahman  No Data
23                        Arwindo  No Data
24              Bongotan Siburian  No Data
25  H. Nusantara Tarigan Silangit  No Data
26               Antonius Ginting  No Data
27           Maya Shynta Sianturi  No Data
28                        Legimun  No Data
29             Dosiraja Simarmata  No Data
30       Muhammad Darwis Batubara  No Data
31                H. Abdul Rahman  No Data
32            Cece Mohammad Romli  No Data
33             H. Syaiful Tanjung  No Data
34                         Darwis  No Data
35                         Gunung  No Data
36               Hj. Saadah Lubis  No Data
37        Muhammad Adami Sulaeman  No Data
38                 Misnan Al Jawi  No Data
39            Bayu Sumantri Agung  No Data
40                     Imran Obos  No Data
41                    Wahyu Danin  No Data
42                         Irawan  No Data
43                        Berngap  No Data
44              Wastianna Harahap  No Data
45                  Gambo Tarigan  No Data
46             Abdul Hakim Keliat  No Data
47          H. Syoufi Rizal Husni  No Data
48                    H. Ismayadi  No Data
49    Muhammad Darbani Dalimunthe  No Data

In [111]:
df.to_csv("./DPRD TK II/Sumut/Deli_Serdang.csv", index=False)

### e. Kabupaten Humbang Hasundutan

In [112]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Humbang_Hasundutan"

In [113]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,"Jimmy Togu Hamonangan Purba, S.E., M.M.",Gerindra,HUMBANG HASUNDUTAN 1,2.142,NaN
1,"Drs. Moratua Gajah, M.M.",Gerindra,HUMBANG HASUNDUTAN 3,1.468,NaN
2,Daniel Banjarnahor,PDI-P,HUMBANG HASUNDUTAN 1,5.127,NaN
3,"Ramses Lumban Gaol, S.H.",PDI-P,HUMBANG HASUNDUTAN 1,2.338,Ketua DPRD
4,Jamanat Sihite,PDI-P,HUMBANG HASUNDUTAN 1,2.126,NaN
5,"Tingkos S. Martua Silaban, A.Md.",PDI-P,HUMBANG HASUNDUTAN 2,2.891,NaN
6,"Kepler Torang Sianturi, S.P., M.M.",PDI-P,HUMBANG HASUNDUTAN 2,2.717,NaN
7,Masria Sinaga,PDI-P,HUMBANG HASUNDUTAN 3,2.935,NaN
8,Minter Hulman Tumanggor,PDI-P,HUMBANG HASUNDUTAN 3,2.013,NaN
9,Marolop Manik,Golkar,HUMBANG HASUNDUTAN 1,3.606,Wakil Ketua I DPRD
10,Marolop Situmorang,Golkar,HUMBANG HASUNDUTAN 1,2.640,NaN
11,Bantu Tambunan,Golkar,HUMBANG HASUNDUTAN 2,3.226,NaN
12,"Manaek Hutasoit, A.Md.",Golkar,HUMBANG HASUNDUTAN 2,2.718,NaN
13,Laston Sinaga,Golkar,HUMBANG HASUNDUTAN 3,2.131,NaN
14,Marsono Simamora,NasDem,HUMBANG HASUNDUTAN 1,2.793,NaN
15,Normauli Simarmata,NasDem,HUMBANG HASUNDUTAN 2,1.993,NaN
16,Ir. Mutiha Hasugian,NasDem,HUMBANG HASUNDUTAN 3,1.684,NaN
17,"Charles Ary Heryanto, S.H.",Perindo,HUMBANG HASUNDUTAN 1,1.435,NaN
18,"Guntur Sariaman, S.T.",Perindo,HUMBANG HASUNDUTAN 3,1.557,NaN
19,"Poltak Purba, S.T.",PSI,HUMBANG HASUNDUTAN 1,1.257,NaN
20,Robertho Simanullang,Hanura,HUMBANG HASUNDUTAN 1,2.528,NaN
21,Sanggul Rosdiana Manalu,Hanura,HUMBANG HASUNDUTAN 1,2.218,NaN
22,Labuan Sihombing,Hanura,HUMBANG HASUNDUTAN 2,3.022,Wakil Ketua II DPRD
23,"Martini Purba, S.E.",Hanura,HUMBANG HASUNDUTAN 3,1.327,NaN
24,"Bresman Sianturi, S.H.",Demokrat,HUMBANG HASUNDUTAN 1,2.106,NaN

In [114]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                       nama   alamat
0   Jimmy Togu Hamonangan Purba, S.E., M.M.  No Data
1                  Drs. Moratua Gajah, M.M.  No Data
2                        Daniel Banjarnahor  No Data
3                  Ramses Lumban Gaol, S.H.  No Data
4                            Jamanat Sihite  No Data
5          Tingkos S. Martua Silaban, A.Md.  No Data
6        Kepler Torang Sianturi, S.P., M.M.  No Data
7                             Masria Sinaga  No Data
8                   Minter Hulman Tumanggor  No Data
9                             Marolop Manik  No Data
10                       Marolop Situmorang  No Data
11                           Bantu Tambunan  No Data
12                   Manaek Hutasoit, A.Md.  No Data
13                            Laston Sinaga  No Data
14                         Marsono Simamora  No Data
15                       Normauli Simarmata  No Data
16                      Ir. Mutiha Hasugian  No Data
17               Charles Ary Heryanto, S.H.  No Data
18                    Guntur Sariaman, S.T.  No Data
19                       Poltak Purba, S.T.  No Data
20                     Robertho Simanullang  No Data
21                  Sanggul Rosdiana Manalu  No Data
22                         Labuan Sihombing  No Data
23                      Martini Purba, S.E.  No Data
24                   Bresman Sianturi, S.H.  No Data

In [115]:
df.to_csv("./DPRD TK II/Sumut/Humbang_Hasundutan.csv", index=False)

### f. Kabupaten Karo

In [116]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Karo"

In [117]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Sudarta Bukit,Gerindra,Karo 1,2.621,Wakil Ketua DPRD
1,Kelvin Barus,Gerindra,Karo 2,2.429,NaN
2,Yudi Yahya Ginting,Gerindra,Karo 3,3.636,NaN
3,Inolia Br. Ginting,Gerindra,Karo 4,3.636,NaN
4,Korindo Sembiring Milala,Gerindra,Karo 5,1.611,NaN
5,Purnama Monicilia Mas Tua Br. Sagala,PDI-P,Karo 1,3.347,NaN
6,Eldy Corona Barus,PDI-P,Karo 2,3.802,NaN
7,Darin Seven Simanjorang,PDI-P,Karo 2,3.626,NaN
8,Iriani Br. Tarigan,PDI-P,Karo 3,4.454,Ketua DPRD
9,Peri Edisonta Milala,PDI-P,Karo 4,3.695,NaN
10,Lusia Sukatendel,PDI-P,Karo 4,2.534,NaN
11,Pujiati,PDI-P,Karo 5,4.788,NaN
12,Dodi Sinuhaji,PDI-P,Karo 5,1.386,NaN
13,Ferianta Purba,Golkar,Karo 1,3.442,NaN
14,Firman Firdaus Sitepu,Golkar,Karo 2,3.614,NaN
15,Sipken Ginting,Golkar,Karo 3,2.309,NaN
16,Jun Adi Arief Bangun,Golkar,Karo 5,3.180,NaN
17,Rehulina Br. Tarigan,NasDem,Karo 1,3.593,NaN
18,Davit Kristian Sitepu,NasDem,Karo 2,2.934,Wakil Ketua DPRD
19,Diana Malona Matondang,NasDem,Karo 3,4.079,NaN
20,Imanuel Sembiring,NasDem,Karo 4,5.559,NaN
21,Mardi Barus,Perindo,Karo 2,1.656,NaN
22,Edi Ulina Ginting,Perindo,Karo 3,2.037,NaN
23,Abdi S. Depari,PAN,Karo 2,3.396,NaN
24,M. Rapi Ginting,PAN,Karo 3,2.736,NaN
25,Jani,PAN,Karo 5,3.002,NaN
26,Agra Reynold Gurning,Hanura,Karo 1,2.697,NaN
27,Perdata Ginting,Hanura,Karo 2,2.396,NaN
28,Eko Afrianta Sitepu,Hanura,Karo 4,6.027,NaN
29,Herty Delima Purba,Hanura,Karo 5,3.002,NaN
30,Raja Urung Mahesa Tarigan,Demokrat,Karo 3,2.917,NaN
31,Leny Putri Chlefes,Demokrat,Karo 4,3.405,NaN
32,Nora Else,Demokrat,Karo 5,3.230,NaN
33,Mansyur Ginting,PKPI,Karo 1,2.723,NaN
34,Onasis Sitepu,PKPI,Karo 4,2.546,NaN

In [118]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                    nama   alamat
0                          Sudarta Bukit  No Data
1                           Kelvin Barus  No Data
2                     Yudi Yahya Ginting  No Data
3                     Inolia Br. Ginting  No Data
4               Korindo Sembiring Milala  No Data
5   Purnama Monicilia Mas Tua Br. Sagala  No Data
6                      Eldy Corona Barus  No Data
7                Darin Seven Simanjorang  No Data
8                     Iriani Br. Tarigan  No Data
9                   Peri Edisonta Milala  No Data
10                      Lusia Sukatendel  No Data
11                               Pujiati  No Data
12                         Dodi Sinuhaji  No Data
13                        Ferianta Purba  No Data
14                 Firman Firdaus Sitepu  No Data
15                        Sipken Ginting  No Data
16                  Jun Adi Arief Bangun  No Data
17                  Rehulina Br. Tarigan  No Data
18                 Davit Kristian Sitepu  No Data
19                Diana Malona Matondang  No Data
20                     Imanuel Sembiring  No Data
21                           Mardi Barus  No Data
22                     Edi Ulina Ginting  No Data
23                        Abdi S. Depari  No Data
24                       M. Rapi Ginting  No Data
25                                  Jani  No Data
26                  Agra Reynold Gurning  No Data
27                       Perdata Ginting  No Data
28                   Eko Afrianta Sitepu  No Data
29                    Herty Delima Purba  No Data
30             Raja Urung Mahesa Tarigan  No Data
31                    Leny Putri Chlefes  No Data
32                             Nora Else  No Data
33                       Mansyur Ginting  No Data
34                         Onasis Sitepu  No Data

In [119]:
df.to_csv("./DPRD TK II/Sumut/Karo.csv", index=False)

### g. Kabupaten Labuhanbatu

In [120]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Labuhanbatu"

In [121]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Jaimar Nababan,PKB,Labuhanbatu 4,1.992,NaN
1,Maisyarah,Gerindra,Labuhanbatu 1,1.947,NaN
2,H. Sudin Satia Raja Harahap,Gerindra,Labuhanbatu 2,1.927,NaN
3,Dipa Topan,Gerindra,Labuhanbatu 2,1.868,NaN
4,Fauzi,Gerindra,Labuhanbatu 3,1.208,NaN
5,Mas’ud,Gerindra,Labuhanbatu 4,1.903,NaN
6,Abdul Karim Hasibuan,Gerindra,Labuhanbatu 5,2.580,Wakil Ketua DPRD
7,Melisa Anggelina Hutabarat,PDI-P,Labuhanbatu 1,1.278,NaN
8,Sujarwo,PDI-P,Labuhanbatu 3,917.000,NaN
9,Jismer Lumban Batu,PDI-P,Labuhanbatu 4,1.337,NaN
10,Saptono,PDI-P,Labuhanbatu 5,1.442,NaN
11,Hj. Meika Riyanti Siregar,Golkar,Labuhanbatu 1,3.012,Ketua DPRD
12,Poltak Marsada Rambe,Golkar,Labuhanbatu 1,2.098,NaN
13,Truli Simanjuntak,Golkar,Labuhanbatu 2,1.906,NaN
14,Herianto Ritonga,Golkar,Labuhanbatu 2,1.826,NaN
15,David Siregar,Golkar,Labuhanbatu 3,1.910,NaN
16,Mbelin Juahta Tarigan,Golkar,Labuhanbatu 3,1.504,NaN
17,Junaidi Nainggolan,Golkar,Labuhanbatu 4,2.456,NaN
18,Parulian Manik,Golkar,Labuhanbatu 4,2.108,NaN
19,Eko Ardiansyah Hasibuan,Golkar,Labuhanbatu 5,3.090,NaN
20,H. Lukman Hakim Siregar,Golkar,Labuhanbatu 5,2.366,NaN
21,Arzan Priadi Ritonga,NasDem,Labuhanbatu 1,2.170,NaN
22,Josman Sinaga,NasDem,Labuhanbatu 3,3.307,NaN
23,Syauqon Hilali Nur Ritonga,NasDem,Labuhanbatu 4,1.485,NaN
24,H. Muhammad Arsyad Rangkuti,NasDem,Labuhanbatu 5,3.178,Wakil Ketua DPRD
25,St. Ratt Evis Wesli Saragih,Berkarya,Labuhanbatu 5,2.034,NaN
26,Akhir Putra Samosir,Perindo,Labuhanbatu 1,1.403,NaN
27,Rivay Tambunan,Perindo,Labuhanbatu 2,1.073,NaN
28,Indra Riady,Perindo,Labuhanbatu 3,2.233,NaN
29,Sumiati Manurung,Perindo,Labuhanbatu 5,868.000,NaN
30,Hj. Siti Raudoh,PPP,Labuhanbatu 1,2.476,NaN
31,Hj. Siti Rohaiyah,PPP,Labuhanbatu 2,1.397,NaN
32,Azmain,PPP,Labuhanbatu 5,2.761,NaN
33,H. Khojali Nasution,PAN,Labuhanbatu 1,1.283,NaN
34,Mat Noor Ritonga,PAN,Labuhanbatu 2,1.666,NaN
35,Juhartono,PAN,Labuhanbatu 3,1.940,NaN
36,Ponimin,PAN,Labuhanbatu 5,1.328,NaN
37,Hj. Juraidah Harahap,Hanura,Labuhanbatu 1,1.428,Wakil Ketua DPRD
38,H. Burhanuddin Harahap,Hanura,Labuhanbatu 2,1.772,NaN
39,Nurjannah Ritonga,Hanura,Labuhanbatu 3,1.411,NaN
40,Enlanur Batubara,Hanura,Labuhanbatu 4,1.824,NaN
41,Rudi Saragih,Hanura,Labuhanbatu 5,2.816,NaN
42,Rudi Syahputra,PBB,Labuhanbatu 1,2.531,NaN
43,Zungkarnaen Harahap,PBB,Labuhanbatu 2,1.865,NaN
44,Ahmad Khairul,PBB,Labuhanbatu 3,1.607,NaN

In [122]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                           nama   alamat
0                Jaimar Nababan  No Data
1                     Maisyarah  No Data
2   H. Sudin Satia Raja Harahap  No Data
3                    Dipa Topan  No Data
4                         Fauzi  No Data
5                        Mas’ud  No Data
6          Abdul Karim Hasibuan  No Data
7    Melisa Anggelina Hutabarat  No Data
8                       Sujarwo  No Data
9            Jismer Lumban Batu  No Data
10                      Saptono  No Data
11    Hj. Meika Riyanti Siregar  No Data
12         Poltak Marsada Rambe  No Data
13            Truli Simanjuntak  No Data
14             Herianto Ritonga  No Data
15                David Siregar  No Data
16        Mbelin Juahta Tarigan  No Data
17           Junaidi Nainggolan  No Data
18               Parulian Manik  No Data
19      Eko Ardiansyah Hasibuan  No Data
20      H. Lukman Hakim Siregar  No Data
21         Arzan Priadi Ritonga  No Data
22                Josman Sinaga  No Data
23   Syauqon Hilali Nur Ritonga  No Data
24  H. Muhammad Arsyad Rangkuti  No Data
25  St. Ratt Evis Wesli Saragih  No Data
26          Akhir Putra Samosir  No Data
27               Rivay Tambunan  No Data
28                  Indra Riady  No Data
29             Sumiati Manurung  No Data
30              Hj. Siti Raudoh  No Data
31            Hj. Siti Rohaiyah  No Data
32                       Azmain  No Data
33          H. Khojali Nasution  No Data
34             Mat Noor Ritonga  No Data
35                    Juhartono  No Data
36                      Ponimin  No Data
37         Hj. Juraidah Harahap  No Data
38       H. Burhanuddin Harahap  No Data
39            Nurjannah Ritonga  No Data
40             Enlanur Batubara  No Data
41                 Rudi Saragih  No Data
42               Rudi Syahputra  No Data
43          Zungkarnaen Harahap  No Data
44                Ahmad Khairul  No Data

In [123]:
df.to_csv("./DPRD TK II/Sumut/LabuhanBatu.csv", index=False)

### h. Kabupaten Labuhanbatu Selatan

In [124]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Labuhanbatu_Selatan"

In [125]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,H. Efendi,PKB,Labuhanbatu Selatan 1,1.697,NaN
1,Sangkot,PKB,Labuhanbatu Selatan 3,2.860,NaN
2,Lahmuddin,PKB,Labuhanbatu Selatan 5,2.291,NaN
3,Yusmahdi,Gerindra,Labuhanbatu Selatan 1,1.713,NaN
4,Abdul Jubir Siregar,Gerindra,Labuhanbatu Selatan 2,1.388,NaN
5,Syahdian Purba,Gerindra,Labuhanbatu Selatan 3,1.785,Wakil Ketua DPRD
6,Muhammad Amin Batubara,Gerindra,Labuhanbatu Selatan 4,1.135,NaN
7,Armyn Dalimunthe,Gerindra,Labuhanbatu Selatan 5,2.064,NaN
8,Hj. Laila Hanum,PDI-P,Labuhanbatu Selatan 1,1.907,NaN
9,H. Zainal Harahap,PDI-P,Labuhanbatu Selatan 2,2.372,Wakil Ketua DPRD
10,Imam Firmadi,PDI-P,Labuhanbatu Selatan 3,1.226,NaN
11,Mbelamin Surbakti,PDI-P,Labuhanbatu Selatan 4,1.839,NaN
12,Jamal Harahap,PDI-P,Labuhanbatu Selatan 4,1.327,NaN
13,Hajali Sagala,PDI-P,Labuhanbatu Selatan 5,2.032,NaN
14,Muhammad Romadon Nasution,Golkar,Labuhanbatu Selatan 1,1.974,NaN
15,H. Sutiman,Golkar,Labuhanbatu Selatan 2,1.932,NaN
16,Riswanto,Golkar,Labuhanbatu Selatan 3,1.606,NaN
17,Sabit Habib Dasopang,Golkar,Labuhanbatu Selatan 5,3.900,NaN
18,H. Lahmuddin,PKS,Labuhanbatu Selatan 1,1.579,NaN
19,Ginanda Siregar,Perindo,Labuhanbatu Selatan 5,2.224,NaN
20,Ahmad Damhuri Parapat,PPP,Labuhanbatu Selatan 5,2.625,NaN
21,Adelyna,PAN,Labuhanbatu Selatan 1,3.205,NaN
22,Afandi,PAN,Labuhanbatu Selatan 2,2.840,NaN
23,Muhammad Dharma Hakim Nasution,PAN,Labuhanbatu Selatan 3,2.580,NaN
24,Gindo Tongam Pasaribu,PAN,Labuhanbatu Selatan 4,1.158,NaN
25,Eddy Parapat,PAN,Labuhanbatu Selatan 5,5.675,Ketua DPRD
26,Zam Annur,PAN,Labuhanbatu Selatan 5,3.749,NaN
27,H. Jabaluddin,PAN,Labuhanbatu Selatan 5,3.648,NaN
28,H. Edimin,Hanura,Labuhanbatu Selatan 2,3.238,NaN
29,Bak Juang Ginting,Hanura,Labuhanbatu Selatan 3,1.183,NaN
30,Bayanuddin Dalimunthe,Demokrat,Labuhanbatu Selatan 4,801.000,NaN
31,Ayu Safitri,PKPI,Labuhanbatu Selatan 1,983.000,NaN
32,Arwi Winata,PKPI,Labuhanbatu Selatan 2,1.715,NaN
33,H. Zahrul,PKPI,Labuhanbatu Selatan 3,1.242,NaN
34,H. Hefrin Harahap,PKPI,Labuhanbatu Selatan 4,2.093,NaN

In [126]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                              nama   alamat
0                        H. Efendi  No Data
1                          Sangkot  No Data
2                        Lahmuddin  No Data
3                         Yusmahdi  No Data
4              Abdul Jubir Siregar  No Data
5                   Syahdian Purba  No Data
6           Muhammad Amin Batubara  No Data
7                 Armyn Dalimunthe  No Data
8                  Hj. Laila Hanum  No Data
9                H. Zainal Harahap  No Data
10                    Imam Firmadi  No Data
11               Mbelamin Surbakti  No Data
12                   Jamal Harahap  No Data
13                   Hajali Sagala  No Data
14       Muhammad Romadon Nasution  No Data
15                      H. Sutiman  No Data
16                        Riswanto  No Data
17            Sabit Habib Dasopang  No Data
18                    H. Lahmuddin  No Data
19                 Ginanda Siregar  No Data
20           Ahmad Damhuri Parapat  No Data
21                         Adelyna  No Data
22                          Afandi  No Data
23  Muhammad Dharma Hakim Nasution  No Data
24           Gindo Tongam Pasaribu  No Data
25                    Eddy Parapat  No Data
26                       Zam Annur  No Data
27                   H. Jabaluddin  No Data
28                       H. Edimin  No Data
29               Bak Juang Ginting  No Data
30           Bayanuddin Dalimunthe  No Data
31                     Ayu Safitri  No Data
32                     Arwi Winata  No Data
33                       H. Zahrul  No Data
34               H. Hefrin Harahap  No Data

In [127]:
df.to_csv("./DPRD TK II/Sumut/LabuhanBatu_Selatan.csv", index=False)

### i. Kabupaten Labuhanbatu Utara

In [128]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Labuhanbatu_Utara"

In [129]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,"Azwan Hutapea, S.E.",PKB,LABUHANBATU UTARA 1,2.269,NaN
1,Ir. Yusrial Suprianto,PKB,LABUHANBATU UTARA 3,2.934,Wakil Ketua DPRD
2,"Darwin Halomoan Tanjung, S.E.",PKB,LABUHANBATU UTARA 4,4.629,NaN
3,Suherman,PKB,LABUHANBATU UTARA 4,3.548,NaN
4,"Tahan Munthe, S.H.",PKB,LABUHANBATU UTARA 5,2.896,NaN
5,"Afriyanti B.R. Simangunsong, S.ST.",Gerindra,LABUHANBATU UTARA 1,2.777,NaN
6,Doni Anwar Manik,Gerindra,LABUHANBATU UTARA 2,1.742,NaN
7,Wiliater Marpaung,Gerindra,LABUHANBATU UTARA 3,1.684,NaN
8,"Augustinus Simamora, S.H., M.Si.",PDI-P,LABUHANBATU UTARA 1,3.435,NaN
9,"Boyke Simarangkir, S.Pd., M.Pd.",PDI-P,LABUHANBATU UTARA 2,1.402,NaN
10,"Mufti Ahmad, S.E.",PDI-P,LABUHANBATU UTARA 3,1.397,NaN
11,Sahrul Efendi,PDI-P,LABUHANBATU UTARA 4,2.397,NaN
12,Drs. H. Ali Tambunan,Golkar,LABUHANBATU UTARA 1,2.367,NaN
13,"Khoirul Anwar Panjaitan, S.E.",Golkar,LABUHANBATU UTARA 2,2.472,NaN
14,"Hendri Yanto, S.E.",Golkar,LABUHANBATU UTARA 3,7.045,NaN
15,Edi Ahmad Hasibuan,Golkar,LABUHANBATU UTARA 3,1.739,NaN
16,"H. Ridwan Rambe, S.Pd., M.Pd.",Golkar,LABUHANBATU UTARA 4,4.698,NaN
17,"H. Indra Surya Bakti Simatupang, S.H., M.Kn.",Golkar,LABUHANBATU UTARA 4,3.217,Ketua DPRD
18,Amin Makmur,Golkar,LABUHANBATU UTARA 5,3.693,NaN
19,"Arif Ripai, S.P.",NasDem,LABUHANBATU UTARA 1,1.380,NaN
20,Eli Lubis,NasDem,LABUHANBATU UTARA 3,1.557,NaN
21,Tuni Pramono,NasDem,LABUHANBATU UTARA 5,2.464,NaN
22,Hasan Basri Pasaribu,PKS,LABUHANBATU UTARA 4,2.664,NaN
23,Zaharuddin Tambunan,PKS,LABUHANBATU UTARA 5,2.411,NaN
24,"M. Ali Borkat Sinaga, SE.I.",PPP,LABUHANBATU UTARA 4,2.683,NaN
25,"Giat Kurniawan, S.T.",PAN,LABUHANBATU UTARA 1,1.495,NaN
26,"H. Syahrul, S.E.",PAN,LABUHANBATU UTARA 5,2.864,NaN
27,Salmon Sijabat,Hanura,LABUHANBATU UTARA 1,3.567,NaN
28,Febrianto Gultom,Hanura,LABUHANBATU UTARA 2,2.367,NaN
29,Jainal Samosir,Hanura,LABUHANBATU UTARA 2,2.042,NaN
30,Indra Sakti Dasopang,Hanura,LABUHANBATU UTARA 3,1.985,NaN
31,Muhammad Rafiq,Hanura,LABUHANBATU UTARA 4,5.722,NaN
32,H. Amran Pasaribu,Hanura,LABUHANBATU UTARA 5,3.406,Wakil Ketua DPRD
33,"Lumba Munthe, S.E.",Demokrat,LABUHANBATU UTARA 4,2.890,NaN
34,"Perkasa Alamsyah Tanjung, S.H., M.Kn.",PBB,LABUHANBATU UTARA 2,2.664,NaN

In [130]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                            nama   alamat
0                            Azwan Hutapea, S.E.  No Data
1                          Ir. Yusrial Suprianto  No Data
2                  Darwin Halomoan Tanjung, S.E.  No Data
3                                       Suherman  No Data
4                             Tahan Munthe, S.H.  No Data
5             Afriyanti B.R. Simangunsong, S.ST.  No Data
6                               Doni Anwar Manik  No Data
7                              Wiliater Marpaung  No Data
8               Augustinus Simamora, S.H., M.Si.  No Data
9                Boyke Simarangkir, S.Pd., M.Pd.  No Data
10                             Mufti Ahmad, S.E.  No Data
11                                 Sahrul Efendi  No Data
12                          Drs. H. Ali Tambunan  No Data
13                 Khoirul Anwar Panjaitan, S.E.  No Data
14                            Hendri Yanto, S.E.  No Data
15                            Edi Ahmad Hasibuan  No Data
16                 H. Ridwan Rambe, S.Pd., M.Pd.  No Data
17  H. Indra Surya Bakti Simatupang, S.H., M.Kn.  No Data
18                                   Amin Makmur  No Data
19                              Arif Ripai, S.P.  No Data
20                                     Eli Lubis  No Data
21                                  Tuni Pramono  No Data
22                          Hasan Basri Pasaribu  No Data
23                           Zaharuddin Tambunan  No Data
24                   M. Ali Borkat Sinaga, SE.I.  No Data
25                          Giat Kurniawan, S.T.  No Data
26                              H. Syahrul, S.E.  No Data
27                                Salmon Sijabat  No Data
28                              Febrianto Gultom  No Data
29                                Jainal Samosir  No Data
30                          Indra Sakti Dasopang  No Data
31                                Muhammad Rafiq  No Data
32                             H. Amran Pasaribu  No Data
33                            Lumba Munthe, S.E.  No Data
34         Perkasa Alamsyah Tanjung, S.H., M.Kn.  No Data

In [131]:
df.to_csv("./DPRD TK II/Sumut/LabuhanBatu_Utara.csv", index=False)

### j. Kabupaten Langkat

In [132]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Langkat"

In [133]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Arifuddin,PKB,Langkat 4,3.045,NaN
1,Dedi,PKB,Langkat 5,2.954,NaN
2,Dedek Pradesa,Gerindra,Langkat 1,5.618,NaN
3,Agus Salim,Gerindra,Langkat 1,4.630,NaN
4,Azman,Gerindra,Langkat 1,4.194,NaN
5,Zulhijar,Gerindra,Langkat 2,3.975,NaN
6,Rahmanuddin Rangkuti,Gerindra,Langkat 3,4.096,NaN
7,Ismail Fandi,Gerindra,Langkat 4,2.035,NaN
8,Donny Setha,Gerindra,Langkat 5,2.686,Wakil Ketua DPRD
9,Pimanta Ginting,PDI-P,Langkat 1,3.189,NaN
10,Hotland Sitompul,PDI-P,Langkat 2,2.791,NaN
11,Ralin Sinulingga,PDI-P,Langkat 3,7.408,Wakil Ketua DPRD
12,Yusuf Tarigan,PDI-P,Langkat 3,4.329,NaN
13,Romelta Ginting,PDI-P,Langkat 4,4.561,NaN
14,Juriah,PDI-P,Langkat 5,3.465,NaN
15,Sandrak Herman Manurung,PDI-P,Langkat 5,3.181,NaN
16,Pujianto,Golkar,Langkat 1,6.449,NaN
17,Edi Bahagia,Golkar,Langkat 2,11.102,NaN
18,Surialam,Golkar,Langkat 2,6.488,Ketua DPRD
19,Zuhuriah Wista Gurusinga,Golkar,Langkat 2,6.367,NaN
20,Sribana Perangin - Angin,Golkar,Langkat 3,18.793,NaN
21,Johanes Sitepu,Golkar,Langkat 3,4.336,NaN
22,Sedarta Ginting,Golkar,Langkat 3,3.994,NaN
23,Munhasyar,Golkar,Langkat 4,6.352,NaN
24,Sarno,Golkar,Langkat 4,3.731,NaN
25,Ahmad Senang,Golkar,Langkat 5,2.321,NaN
26,Ajai Ismail,NasDem,Langkat 1,3.652,NaN
27,Makmur Ginting,NasDem,Langkat 3,4.491,NaN
28,Zulihartono,NasDem,Langkat 4,4.097,NaN
29,Sukardi,NasDem,Langkat 5,2.524,NaN
30,Fatimah,PKS,Langkat 1,2.953,NaN
31,Aidir Syahputra,PKS,Langkat 4,977.000,NaN
32,Azmaliah,PKS,Langkat 5,3.146,NaN
33,Lucky Saputra,Perindo,Langkat 1,4.575,NaN
34,Kornel Sembiring,Perindo,Langkat 4,3.049,NaN
35,Jenda Kita Tarigan,Perindo,Langkat 5,3.159,NaN
36,Sucipto,PPP,Langkat 1,3.371,NaN
37,Husein Sidik Tarigan,PPP,Langkat 4,2.427,NaN
38,Suwarmin,PPP,Langkat 5,1.723,NaN
39,Sisanol Fahmi,PAN,Langkat 1,3.273,NaN
40,Antoni Ginting,PAN,Langkat 4,4.279,Wakil Ketua DPRD
41,Salam Sembiring,PAN,Langkat 4,2.758,NaN
42,Syamsul Rizal,PAN,Langkat 5,1.326,NaN
43,Agus Salim,Demokrat,Langkat 1,3.971,NaN
44,Simon Predi,Demokrat,Langkat 3,3.703,NaN
45,Johan Wiryawan Bangun,Demokrat,Langkat 4,3.756,NaN
46,Ade Khairina Syahputri,Demokrat,Langkat 5,2.795,NaN
47,Muhammad Bahri,PBB,Langkat 1,4.603,NaN
48,Risna Lela Sari,PBB,Langkat 2,2.808,NaN
49,Siti Nurhayati,PBB,Langkat 5,4.197,NaN

In [134]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                        nama   alamat
0                  Arifuddin  No Data
1                       Dedi  No Data
2              Dedek Pradesa  No Data
3                 Agus Salim  No Data
4                      Azman  No Data
5                   Zulhijar  No Data
6       Rahmanuddin Rangkuti  No Data
7               Ismail Fandi  No Data
8                Donny Setha  No Data
9            Pimanta Ginting  No Data
10          Hotland Sitompul  No Data
11          Ralin Sinulingga  No Data
12             Yusuf Tarigan  No Data
13           Romelta Ginting  No Data
14                    Juriah  No Data
15   Sandrak Herman Manurung  No Data
16                  Pujianto  No Data
17               Edi Bahagia  No Data
18                  Surialam  No Data
19  Zuhuriah Wista Gurusinga  No Data
20  Sribana Perangin - Angin  No Data
21            Johanes Sitepu  No Data
22           Sedarta Ginting  No Data
23                 Munhasyar  No Data
24                     Sarno  No Data
25              Ahmad Senang  No Data
26               Ajai Ismail  No Data
27            Makmur Ginting  No Data
28               Zulihartono  No Data
29                   Sukardi  No Data
30                   Fatimah  No Data
31           Aidir Syahputra  No Data
32                  Azmaliah  No Data
33             Lucky Saputra  No Data
34          Kornel Sembiring  No Data
35        Jenda Kita Tarigan  No Data
36                   Sucipto  No Data
37      Husein Sidik Tarigan  No Data
38                  Suwarmin  No Data
39             Sisanol Fahmi  No Data
40            Antoni Ginting  No Data
41           Salam Sembiring  No Data
42             Syamsul Rizal  No Data
43                Agus Salim  No Data
44               Simon Predi  No Data
45     Johan Wiryawan Bangun  No Data
46    Ade Khairina Syahputri  No Data
47            Muhammad Bahri  No Data
48           Risna Lela Sari  No Data
49            Siti Nurhayati  No Data

In [135]:
df.to_csv("./DPRD TK II/Sumut/Langkat.csv", index=False)

### k. Kabupaten Mandailing Natal

In [136]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Mandailing_Natal"

In [137]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Miftahul Falah,PKB,Mandailing Natal 1,3.037,NaN
1,Zubeir Lubis,PKB,Mandailing Natal 2,2.872,NaN
2,Edi Anwar,PKB,Mandailing Natal 3,3.047,NaN
3,Melatinur,PKB,Mandailing Natal 4,1.926,NaN
4,Erwin Efendi Lubis,Gerindra,Mandailing Natal 1,4.782,Ketua DPRD
5,Zainuddin Nasution,Gerindra,Mandailing Natal 1,3.112,NaN
6,Hidayah Erlina,Gerindra,Mandailing Natal 2,2.297,NaN
7,Syaiful Gozali Lubis,Gerindra,Mandailing Natal 3,2.769,NaN
8,Suhandi,Gerindra,Mandailing Natal 4,1.115,NaN
9,Izhar Helmi,Gerindra,Mandailing Natal 5,2.360,NaN
10,Muhammad Rifaldi Nasution,Gerindra,Mandailing Natal 5,2.234,NaN
11,Teguh Wahyudi Hasahatan Nasution,PDI-P,Mandailing Natal 4,2.391,NaN
12,Sobir Lubis,Golkar,Mandailing Natal 1,2.465,NaN
13,Erwin Efendi Nasution,Golkar,Mandailing Natal 2,3.653,Wakil Ketua DPRD
14,H. Syariful Sarling Lubis,Golkar,Mandailing Natal 3,1.650,NaN
15,Arsidin Batubara,Golkar,Mandailing Natal 4,1.487,NaN
16,Zubaidah Nasution,Golkar,Mandailing Natal 5,1.541,NaN
17,Sainal Abidin Nasution,NasDem,Mandailing Natal 3,2.344,NaN
18,Muharuddin,Berkarya,Mandailing Natal 4,1.140,NaN
19,Ahmad Budiman Borotan,PKS,Mandailing Natal 1,2.190,NaN
20,Awaluddin Nasution,PKS,Mandailing Natal 3,1.840,NaN
21,Sarkawi Ahmad,PKS,Mandailing Natal 4,2.460,NaN
22,Amdani,PKS,Mandailing Natal 5,1.556,NaN
23,Hj. Leli Artati,Perindo,Mandailing Natal 2,2.413,NaN
24,Khoirun,Perindo,Mandailing Natal 5,1.453,NaN
25,H. Zulfahri Batubara,PPP,Mandailing Natal 1,1.559,NaN
26,Muhammad Yasir Nasution,PPP,Mandailing Natal 3,1.764,NaN
27,Safaruddin Ansyari Nasution,PAN,Mandailing Natal 1,4.247,NaN
28,Nis'at Sidik Nasution,PAN,Mandailing Natal 2,2.529,NaN
29,Asmaruddin Nasution,PAN,Mandailing Natal 5,2.118,NaN
30,Irfan Syukri Tanjung,Hanura,Mandailing Natal 1,2.610,NaN
31,Syamsir M. N.,Hanura,Mandailing Natal 2,1.134,NaN
32,Eveline Sago,Hanura,Mandailing Natal 4,2.876,NaN
33,H. Maraganti Batubara,Hanura,Mandailing Natal 5,1.822,NaN
34,Dodi Martua,Demokrat,Mandailing Natal 1,3.771,NaN
35,Rahmad Risky,Demokrat,Mandailing Natal 2,2.999,NaN
36,Harminsyah Batubara,Demokrat,Mandailing Natal 3,2.964,Wakil Ketua DPRD
37,Hj. Juwita Asmara,Demokrat,Mandailing Natal 4,1.659,NaN
38,Syafri Siregar,Demokrat,Mandailing Natal 5,2.797,NaN
39,H. Bakhri Efendi,PKPI,Mandailing Natal 5,2.024,NaN

In [138]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                nama   alamat
0                     Miftahul Falah  No Data
1                       Zubeir Lubis  No Data
2                          Edi Anwar  No Data
3                          Melatinur  No Data
4                 Erwin Efendi Lubis  No Data
5                 Zainuddin Nasution  No Data
6                     Hidayah Erlina  No Data
7               Syaiful Gozali Lubis  No Data
8                            Suhandi  No Data
9                        Izhar Helmi  No Data
10         Muhammad Rifaldi Nasution  No Data
11  Teguh Wahyudi Hasahatan Nasution  No Data
12                       Sobir Lubis  No Data
13             Erwin Efendi Nasution  No Data
14         H. Syariful Sarling Lubis  No Data
15                  Arsidin Batubara  No Data
16                 Zubaidah Nasution  No Data
17            Sainal Abidin Nasution  No Data
18                        Muharuddin  No Data
19             Ahmad Budiman Borotan  No Data
20                Awaluddin Nasution  No Data
21                     Sarkawi Ahmad  No Data
22                            Amdani  No Data
23                   Hj. Leli Artati  No Data
24                           Khoirun  No Data
25              H. Zulfahri Batubara  No Data
26           Muhammad Yasir Nasution  No Data
27       Safaruddin Ansyari Nasution  No Data
28             Nis'at Sidik Nasution  No Data
29               Asmaruddin Nasution  No Data
30              Irfan Syukri Tanjung  No Data
31                     Syamsir M. N.  No Data
32                      Eveline Sago  No Data
33             H. Maraganti Batubara  No Data
34                       Dodi Martua  No Data
35                      Rahmad Risky  No Data
36               Harminsyah Batubara  No Data
37                 Hj. Juwita Asmara  No Data
38                    Syafri Siregar  No Data
39                  H. Bakhri Efendi  No Data

In [139]:
df.to_csv("./DPRD TK II/Sumut/Mandailing_Natal.csv", index=False)

### l. Kabupaten Nias

In [140]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Nias"

In [141]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Yabati Zai,Gerindra,Nias 2,833.000,NaN
1,Dafati Mendrofa,Gerindra,Nias 3,1.263,NaN
2,Dewia Zebua,PDI-P,Nias 1,2.144,NaN
3,Sabayuti Gulo,PDI-P,Nias 1,1.280,Wakil Ketua DPRD
4,Rahmat Ndruru,PDI-P,Nias 2,1.545,NaN
5,April Wansahdan Lase,PDI-P,Nias 3,949.000,NaN
6,Talizamuala Lawolo,Golkar,Nias 1,899.000,NaN
7,Ameyunus Zai,Golkar,Nias 2,1.729,Wakil Ketua DPRD
8,Otoni Gea,Golkar,Nias 3,806.000,NaN
9,Maspena Gulo,NasDem,Nias 1,965.000,NaN
10,Febrianus Gori,NasDem,Nias 2,809.000,NaN
11,Yosafati Waruwu,NasDem,Nias 3,1.037,NaN
12,Amran Abbas Zai,PKS,Nias 2,827.000,NaN
13,Fangalulu Ndruru,Perindo,Nias 2,1.315,NaN
14,Sudirman Ndruru,Hanura,Nias 1,994.000,NaN
15,Elizama Zai,Hanura,Nias 2,826.000,NaN
16,Luterman Waruwu,Hanura,Nias 3,706.000,NaN
17,Alinuru Laoli,Demokrat,Nias 1,3.720,Ketua DPRD
18,Fo'arota Gulo,Demokrat,Nias 1,2.302,NaN
19,Fatouosa Waruwu,Demokrat,Nias 1,1.827,NaN
20,Yusria Zendrato,Demokrat,Nias 2,1.712,NaN
21,Elianus Gea,Demokrat,Nias 2,1.613,NaN
22,Edison Lase,Demokrat,Nias 2,1.523,NaN
23,Yaredi Laoli,Demokrat,Nias 3,1.377,NaN
24,Bowoli Sandroto,PKPI,Nias 1,943.000,NaN

In [142]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                    nama   alamat
0             Yabati Zai  No Data
1        Dafati Mendrofa  No Data
2            Dewia Zebua  No Data
3          Sabayuti Gulo  No Data
4          Rahmat Ndruru  No Data
5   April Wansahdan Lase  No Data
6     Talizamuala Lawolo  No Data
7           Ameyunus Zai  No Data
8              Otoni Gea  No Data
9           Maspena Gulo  No Data
10        Febrianus Gori  No Data
11       Yosafati Waruwu  No Data
12       Amran Abbas Zai  No Data
13      Fangalulu Ndruru  No Data
14       Sudirman Ndruru  No Data
15           Elizama Zai  No Data
16       Luterman Waruwu  No Data
17         Alinuru Laoli  No Data
18         Fo'arota Gulo  No Data
19       Fatouosa Waruwu  No Data
20       Yusria Zendrato  No Data
21           Elianus Gea  No Data
22           Edison Lase  No Data
23          Yaredi Laoli  No Data
24       Bowoli Sandroto  No Data

In [143]:
df.to_csv("./DPRD TK II/Sumut/Nias.csv", index=False)

### m. Kabupaten Nias Barat

In [144]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Nias_Barat"

In [145]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Seti Gulo,PKB,Nias Barat 2,-,NaN
1,Grace Orlon Mafoi Waruwu,Gerindra,Nias Barat 1,-,NaN
2,Abiyudin Waruwu,Gerindra,Nias Barat 2,-,NaN
3,Evolut Zebua,PDI-P,Nias Barat 1,-,Ketua DPRD
4,Fatohu Hia,PDI-P,Nias Barat 1,-,NaN
5,Fiteli Halawa,PDI-P,Nias Barat 2,-,NaN
6,Martinus Gulo,PDI-P,Nias Barat 2,-,NaN
7,Libertini Mendrofa,PDI-P,Nias Barat 2,-,NaN
8,Nobis Daeli,Golkar,Nias Barat 1,-,NaN
9,Khamozaro Halawa,Golkar,Nias Barat 2,-,NaN
10,Siado Zai,NasDem,Nias Barat 1,-,NaN
11,Perdamaian F. Daeli,NasDem,Nias Barat 1,-,NaN
12,Tolosokhi Halawa,NasDem,Nias Barat 2,-,Wakil Ketua DPRD
13,Patrio Zebua,NasDem,Nias Barat 2,-,NaN
14,Sinar Abadi Gulo,PAN,Nias Barat 1,-,NaN
15,Sari Utamin Waruwu,Hanura,Nias Barat 1,-,NaN
16,Haogomano Gulo,Hanura,Nias Barat 1,-,Wakil Ketua DPRD
17,Yarisman Waruwu,Hanura,Nias Barat 2,-,NaN
18,Yaredi Gulo,Hanura,Nias Barat 2,-,NaN
19,Nitema Gulo,Demokrat,Nias Barat 2,-,NaN

In [146]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                        nama   alamat
0                  Seti Gulo  No Data
1   Grace Orlon Mafoi Waruwu  No Data
2            Abiyudin Waruwu  No Data
3               Evolut Zebua  No Data
4                 Fatohu Hia  No Data
5              Fiteli Halawa  No Data
6              Martinus Gulo  No Data
7         Libertini Mendrofa  No Data
8                Nobis Daeli  No Data
9           Khamozaro Halawa  No Data
10                 Siado Zai  No Data
11       Perdamaian F. Daeli  No Data
12          Tolosokhi Halawa  No Data
13              Patrio Zebua  No Data
14          Sinar Abadi Gulo  No Data
15        Sari Utamin Waruwu  No Data
16            Haogomano Gulo  No Data
17           Yarisman Waruwu  No Data
18               Yaredi Gulo  No Data
19               Nitema Gulo  No Data

In [147]:
df.to_csv("./DPRD TK II/Sumut/Nias_Barat.csv", index=False)

### n. Kabupaten Nias Selatan

In [148]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Nias_Selatan"

In [149]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Jon Ken Li Laia,PKB,Nias Selatan 5,1.048,NaN
1,Asazatulo Giawa,Gerindra,Nias Selatan 2,903.000,NaN
2,Fa'ahakhododo Gulo,Gerindra,Nias Selatan 3,1.241,NaN
3,Yustina Repi,PDI-P,Nias Selatan 1,1.594,NaN
4,Nurtiza Dakhi,PDI-P,Nias Selatan 2,942.000,NaN
5,Elisati Halawa,PDI-P,Nias Selatan 3,2.512,Ketua DPRD
6,Ferisman Ndruru,PDI-P,Nias Selatan 4,1.531,NaN
7,Samahato Buulolo,PDI-P,Nias Selatan 5,1.787,NaN
8,Aldika Wau,Golkar,Nias Selatan 1,1.208,NaN
9,Agustana Ndruru,Golkar,Nias Selatan 3,2.831,Wakil Ketua DPRD
10,Sozanolo Ndruru,Golkar,Nias Selatan 3,1.665,NaN
11,Suarmanto Laia,Golkar,Nias Selatan 4,1.478,NaN
12,Fa’atulo Sarumaha,NasDem,Nias Selatan 1,1.453,Wakil Ketua DPRD
13,Pegangan Dachi,NasDem,Nias Selatan 2,1.862,NaN
14,Sokhiwanolo Waruwu,NasDem,Nias Selatan 3,1.710,NaN
15,Eli Yunus Ndruru,NasDem,Nias Selatan 4,2.067,NaN
16,Efendi Ndruru,NasDem,Nias Selatan 5,1.269,NaN
17,Restuman Ndruru,Garuda,Nias Selatan 2,848.000,NaN
18,Juniardin Tafonao,Garuda,Nias Selatan 4,1.451,NaN
19,Meliakhi Sarumaha,Garuda,Nias Selatan 6,1.637,NaN
20,Purim Putri J. Dachi,Berkarya,Nias Selatan 1,1.236,NaN
21,Aris Agustus Dachi,Berkarya,Nias Selatan 2,1.459,NaN
22,Alternatif Bago,Berkarya,Nias Selatan 5,838.000,NaN
23,Wajokhi Famaugu,Berkarya,Nias Selatan 6,1.356,NaN
24,Memoris Fau,Perindo,Nias Selatan 1,1.168,NaN
25,Arman Laia,Perindo,Nias Selatan 4,1.604,NaN
26,Tongoni Tafonao,Perindo,Nias Selatan 4,1.490,NaN
27,Nurlimawati Loi,PSI,Nias Selatan 5,1.296,NaN
28,Sifaoita Buulolo,PAN,Nias Selatan 3,2.596,NaN
29,Wati Loi,PAN,Nias Selatan 5,1.176,NaN
30,Tinada Limbong,Demokrat,Nias Selatan 1,908.000,NaN
31,Nibezaro Halawa,Demokrat,Nias Selatan 3,1.615,NaN
32,Kristian Laia,Demokrat,Nias Selatan 4,1.442,NaN
33,Luluzatulo Sarumaha,Demokrat,Nias Selatan 6,2.904,NaN
34,Budirahman Maduwu,PKPI,Nias Selatan 5,1.072,NaN

In [150]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                    nama   alamat
0        Jon Ken Li Laia  No Data
1        Asazatulo Giawa  No Data
2     Fa'ahakhododo Gulo  No Data
3           Yustina Repi  No Data
4          Nurtiza Dakhi  No Data
5         Elisati Halawa  No Data
6        Ferisman Ndruru  No Data
7       Samahato Buulolo  No Data
8             Aldika Wau  No Data
9        Agustana Ndruru  No Data
10       Sozanolo Ndruru  No Data
11        Suarmanto Laia  No Data
12     Fa’atulo Sarumaha  No Data
13        Pegangan Dachi  No Data
14    Sokhiwanolo Waruwu  No Data
15      Eli Yunus Ndruru  No Data
16         Efendi Ndruru  No Data
17       Restuman Ndruru  No Data
18     Juniardin Tafonao  No Data
19     Meliakhi Sarumaha  No Data
20  Purim Putri J. Dachi  No Data
21    Aris Agustus Dachi  No Data
22       Alternatif Bago  No Data
23       Wajokhi Famaugu  No Data
24           Memoris Fau  No Data
25            Arman Laia  No Data
26       Tongoni Tafonao  No Data
27       Nurlimawati Loi  No Data
28      Sifaoita Buulolo  No Data
29              Wati Loi  No Data
30        Tinada Limbong  No Data
31       Nibezaro Halawa  No Data
32         Kristian Laia  No Data
33   Luluzatulo Sarumaha  No Data
34     Budirahman Maduwu  No Data

In [151]:
df.to_csv("./DPRD TK II/Sumut/Nias_Selatan.csv", index=False)

### o. Kabupaten Nias Utara

In [152]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Nias_Utara"

In [153]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,"Sodiriang Ziliwu, A.Md.",Gerindra,NIAS UTARA 1,875.000,NaN
1,"Arimei Zega, S.E.",Gerindra,NIAS UTARA 2,1.149,NaN
2,"Fatizaro Hulu, S.E., M.M.",Gerindra,NIAS UTARA 3,852.000,Wakil Ketua DPRD
3,Notefalali Zalukhu,PDI-P,NIAS UTARA 1,907.000,NaN
4,Fangatulo Zega,PDI-P,NIAS UTARA 2,1.062,NaN
5,"Ingatan Peristiwa Zendrato, S.H., M.H.",Golkar,NIAS UTARA 1,1.267,NaN
6,Yusikman Telaumbanua,Golkar,NIAS UTARA 2,2.449,NaN
7,"Forti Perdana Putra Zega, S.H.",Golkar,NIAS UTARA 2,1.775,NaN
8,"Damaria Zai, A.Ma.",Golkar,NIAS UTARA 2,1.422,NaN
9,Wajar Setia Zebua,Golkar,NIAS UTARA 3,829.000,NaN
10,"Sukanto Waruwu, S.E.",Golkar,NIAS UTARA 4,1.199,Ketua DPRD
11,"Kornelis Zalukhu, S.Pd.",Golkar,NIAS UTARA 4,934.000,NaN
12,Deliana Zalukhu,NasDem,NIAS UTARA 3,1.003,NaN
13,Noferman Zega,PAN,NIAS UTARA 1,1.478,Wakil Ketua DPRD
14,"Ya'aman Telaumbanua, S.E., M.M.",PAN,NIAS UTARA 2,1.323,NaN
15,Nimerodi Hia,PAN,NIAS UTARA 3,1.171,NaN
16,"Amizaro Waruwu, S.Pd.",PAN,NIAS UTARA 4,2.138,NaN
17,Erila Telaumbanua,PAN,NIAS UTARA 4,977.000,NaN
18,Faogonaso Harefa,Hanura,NIAS UTARA 1,1.304,NaN
19,Dusman Zebua,Hanura,NIAS UTARA 3,868.000,NaN
20,"Bedali Lase, S.Pd.K.",Hanura,NIAS UTARA 4,774.000,NaN
21,"Hisikia Harefa, A.Ma.Pd.",Demokrat,NIAS UTARA 1,1.145,NaN
22,Tanobadodo Zalukhu,Demokrat,NIAS UTARA 3,770.000,NaN
23,"Dalifati Ziliwu, S.Pd., M.Pd.",PKPI,NIAS UTARA 1,1.008,NaN
24,Herman Lahagu,PKPI,NIAS UTARA 4,1.028,NaN

In [154]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                      nama   alamat
0                  Sodiriang Ziliwu, A.Md.  No Data
1                        Arimei Zega, S.E.  No Data
2                Fatizaro Hulu, S.E., M.M.  No Data
3                       Notefalali Zalukhu  No Data
4                           Fangatulo Zega  No Data
5   Ingatan Peristiwa Zendrato, S.H., M.H.  No Data
6                     Yusikman Telaumbanua  No Data
7           Forti Perdana Putra Zega, S.H.  No Data
8                       Damaria Zai, A.Ma.  No Data
9                        Wajar Setia Zebua  No Data
10                    Sukanto Waruwu, S.E.  No Data
11                 Kornelis Zalukhu, S.Pd.  No Data
12                         Deliana Zalukhu  No Data
13                           Noferman Zega  No Data
14         Ya'aman Telaumbanua, S.E., M.M.  No Data
15                            Nimerodi Hia  No Data
16                   Amizaro Waruwu, S.Pd.  No Data
17                       Erila Telaumbanua  No Data
18                        Faogonaso Harefa  No Data
19                            Dusman Zebua  No Data
20                    Bedali Lase, S.Pd.K.  No Data
21                Hisikia Harefa, A.Ma.Pd.  No Data
22                      Tanobadodo Zalukhu  No Data
23           Dalifati Ziliwu, S.Pd., M.Pd.  No Data
24                           Herman Lahagu  No Data

In [155]:
df.to_csv("./DPRD TK II/Sumut/Nias_Utara.csv", index=False)

### p. Kabupaten Padang Lawas

In [156]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Padang_Lawas"

In [157]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,H. Fahmi Anwar Nasution,PKB,Padang Lawas 1,2.194,NaN
1,Elfin Hamonangan Harahap,PKB,Padang Lawas 3,1.613,NaN
2,Arfin Hasibuan,PKB,Padang Lawas 5,1.029,NaN
3,Romi Parmonangan Nasution,Gerindra,Padang Lawas 2,1.324,NaN
4,H. Torkis Afgani Hasibuan,Gerindra,Padang Lawas 4,2.246,NaN
5,Luat Hasibuan,Gerindra,Padang Lawas 5,2.433,NaN
6,Jenti Mutiara,PDI-P,Padang Lawas 4,1.333,NaN
7,H. Nukman Harahap,Golkar,Padang Lawas 1,1.657,NaN
8,H. Lokot Nasution,Golkar,Padang Lawas 2,2.498,NaN
9,Amran Pikal Siregar,Golkar,Padang Lawas 3,1.811,Ketua DPRD
10,H. Syahwil Nasution,Golkar,Padang Lawas 4,1.889,NaN
11,H. Muhammad Hamidi Pasaribu,Golkar,Padang Lawas 5,2.032,NaN
12,Muhammad Alwi Lubis,NasDem,Padang Lawas 1,1.053,NaN
13,Raja Aslin Sinaloan Lubis,NasDem,Padang Lawas 2,1.772,NaN
14,H. Puli Parisan Lubis,PKS,Padang Lawas 2,1.806,NaN
15,Raja Parlindungan Nasution,PPP,Padang Lawas 1,1.700,NaN
16,Kholid Mulia Daulay,PPP,Padang Lawas 3,1.448,NaN
17,Nanda Servinta Muda Hasibuan,PSI,Padang Lawas 3,2.008,NaN
18,Sufriady Halomoan Hasibuan,PAN,Padang Lawas 1,1.984,NaN
19,Mohammad Ike T. Hasibuan,PAN,Padang Lawas 3,922.000,NaN
20,Sahrun Hasibuan,PAN,Padang Lawas 4,1.087,Wakil Ketua DPRD
21,Agus Nasution,PAN,Padang Lawas 5,2.196,NaN
22,H. Irsan Bangun Harahap,Hanura,Padang Lawas 1,2.081,Wakil Ketua DPRD
23,Maraganti Hasibuan,Hanura,Padang Lawas 2,1.885,NaN
24,Erwin Suwandi Harahap,Hanura,Padang Lawas 3,2.661,NaN
25,Muarakumpul Nasution,Hanura,Padang Lawas 5,1.356,NaN
26,H. Jamaluddin Hasibuan,Demokrat,Padang Lawas 1,1.206,NaN
27,Muhammad Dayan Hasibuan,Demokrat,Padang Lawas 4,2.316,NaN
28,Hasan Basri Hasibuan,Demokrat,Padang Lawas 5,1.586,NaN
29,Baharuddin Daulay,PKPI,Padang Lawas 3,1.770,NaN

In [158]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                            nama   alamat
0        H. Fahmi Anwar Nasution  No Data
1       Elfin Hamonangan Harahap  No Data
2                 Arfin Hasibuan  No Data
3      Romi Parmonangan Nasution  No Data
4      H. Torkis Afgani Hasibuan  No Data
5                  Luat Hasibuan  No Data
6                  Jenti Mutiara  No Data
7              H. Nukman Harahap  No Data
8              H. Lokot Nasution  No Data
9            Amran Pikal Siregar  No Data
10           H. Syahwil Nasution  No Data
11   H. Muhammad Hamidi Pasaribu  No Data
12           Muhammad Alwi Lubis  No Data
13     Raja Aslin Sinaloan Lubis  No Data
14         H. Puli Parisan Lubis  No Data
15    Raja Parlindungan Nasution  No Data
16           Kholid Mulia Daulay  No Data
17  Nanda Servinta Muda Hasibuan  No Data
18    Sufriady Halomoan Hasibuan  No Data
19      Mohammad Ike T. Hasibuan  No Data
20               Sahrun Hasibuan  No Data
21                 Agus Nasution  No Data
22       H. Irsan Bangun Harahap  No Data
23            Maraganti Hasibuan  No Data
24         Erwin Suwandi Harahap  No Data
25          Muarakumpul Nasution  No Data
26        H. Jamaluddin Hasibuan  No Data
27       Muhammad Dayan Hasibuan  No Data
28          Hasan Basri Hasibuan  No Data
29             Baharuddin Daulay  No Data

In [159]:
df.to_csv("./DPRD TK II/Sumut/Padang_Lawas.csv", index=False)

### q. Kabupaten Padang Lawas Utara

In [160]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Padang_Lawas_Utara"

In [161]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Tariparlaut,PKB,Padang Lawas Utara 1,977.000,NaN
1,Mariasin Pane,PKB,Padang Lawas Utara 2,2.140,NaN
2,Orial Badry Harahap,Gerindra,Padang Lawas Utara 1,2.129,NaN
3,H. Toguan Harahap,Gerindra,Padang Lawas Utara 1,1.875,NaN
4,Abdul Gafur Simanjuntak,Gerindra,Padang Lawas Utara 2,2.573,Wakil Ketua DPRD
5,Pati Kan Kan Harahap,Gerindra,Padang Lawas Utara 4,1.645,NaN
6,Nurbaiti Harahap,PDI-P,Padang Lawas Utara 1,1.180,NaN
7,Syafaruddin Harahap,PDI-P,Padang Lawas Utara 2,1.420,NaN
8,Nimrod Sitorus,PDI-P,Padang Lawas Utara 3,3.001,NaN
9,Sarluman Siregar,PDI-P,Padang Lawas Utara 4,1.718,NaN
10,Machmud Pratama Harahap,Golkar,Padang Lawas Utara 1,2.844,NaN
11,Jaharuddin Siregar Chikles,Golkar,Padang Lawas Utara 1,2.392,NaN
12,Amas Muda Siregar,Golkar,Padang Lawas Utara 1,1.953,NaN
13,Mula Rotua Siregar,Golkar,Padang Lawas Utara 2,3.140,NaN
14,Mukhlis Harahap,Golkar,Padang Lawas Utara 2,2.924,Ketua DPRD
15,Hj. Dewi Irawan Harahap,Golkar,Padang Lawas Utara 3,2.268,NaN
16,Muhammad Yusuf Pasaribu,Golkar,Padang Lawas Utara 3,2.057,NaN
17,Siramuddin Harahap,Golkar,Padang Lawas Utara 4,1.616,NaN
18,Sapnawati Nasution,NasDem,Padang Lawas Utara 3,1.880,NaN
19,Hajuddin Ritonga,PPP,Padang Lawas Utara 2,1.975,NaN
20,H. Abdul Rahman Siregar,PPP,Padang Lawas Utara 4,1.624,NaN
21,Muhammad Amin Siregar,PAN,Padang Lawas Utara 2,1.739,NaN
22,Hermansyah Lubis,PAN,Padang Lawas Utara 3,2.555,NaN
23,Basri Harahap,Demokrat,Padang Lawas Utara 1,2.858,Wakil Ketua DPRD
24,Rico Rivai Siregar,Demokrat,Padang Lawas Utara 2,1.574,NaN
25,Panggana Siregar,Demokrat,Padang Lawas Utara 3,1.819,NaN
26,Baleo Muda Siregar,Demokrat,Padang Lawas Utara 4,1.353,NaN
27,Samsul Bahri,PBB,Padang Lawas Utara 1,1.911,NaN
28,Samsudin Harahap,PBB,Padang Lawas Utara 2,1.618,NaN
29,Akhiruddin Ritonga,PBB,Padang Lawas Utara 3,1.175,NaN

In [162]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                          nama   alamat
0                  Tariparlaut  No Data
1                Mariasin Pane  No Data
2          Orial Badry Harahap  No Data
3            H. Toguan Harahap  No Data
4      Abdul Gafur Simanjuntak  No Data
5         Pati Kan Kan Harahap  No Data
6             Nurbaiti Harahap  No Data
7          Syafaruddin Harahap  No Data
8               Nimrod Sitorus  No Data
9             Sarluman Siregar  No Data
10     Machmud Pratama Harahap  No Data
11  Jaharuddin Siregar Chikles  No Data
12           Amas Muda Siregar  No Data
13          Mula Rotua Siregar  No Data
14             Mukhlis Harahap  No Data
15     Hj. Dewi Irawan Harahap  No Data
16     Muhammad Yusuf Pasaribu  No Data
17          Siramuddin Harahap  No Data
18          Sapnawati Nasution  No Data
19            Hajuddin Ritonga  No Data
20     H. Abdul Rahman Siregar  No Data
21       Muhammad Amin Siregar  No Data
22            Hermansyah Lubis  No Data
23               Basri Harahap  No Data
24          Rico Rivai Siregar  No Data
25            Panggana Siregar  No Data
26          Baleo Muda Siregar  No Data
27                Samsul Bahri  No Data
28            Samsudin Harahap  No Data
29          Akhiruddin Ritonga  No Data

In [163]:
df.to_csv("./DPRD TK II/Sumut/Padang_Lawas_Utara.csv", index=False)

### r. Kabupaten Pakpak Bharat

In [164]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Pakpak_Bharat"

In [165]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Bayar Manik,PKB,Pakpak Bharat 1,933.000,NaN
1,Marido Padang,PKB,Pakpak Bharat 2,1.041,NaN
2,Ragat Manik,Gerindra,Pakpak Bharat 1,971.000,NaN
3,Mansehat Manik,Gerindra,Pakpak Bharat 1,845.000,Wakil Ketua DPRD
4,Rismawaty Bancin,Gerindra,Pakpak Bharat 2,435.000,NaN
5,Parulian Boangmanalu,PDI-P,Pakpak Bharat 1,458.000,NaN
6,Togatorop Sinamo,PDI-P,Pakpak Bharat 2,610.000,NaN
7,Elson Angkat,Golkar,Pakpak Bharat 1,871.000,Wakil Ketua DPRD
8,Edison Manik,Golkar,Pakpak Bharat 1,834.000,NaN
9,Lukman Padang,Golkar,Pakpak Bharat 2,828.000,NaN
10,Kadri Tumangger,NasDem,Pakpak Bharat 1,713.000,NaN
11,Muhammad Said Darwis Boangmanalu,PKS,Pakpak Bharat 1,836.000,NaN
12,Maju Boangmanalu,PPP,Pakpak Bharat 1,355.000,NaN
13,Sabar Manik,PAN,Pakpak Bharat 1,888.000,NaN
14,Sehat Tindaon,PAN,Pakpak Bharat 2,683.000,NaN
15,Sonni P. Berutu,Demokrat,Pakpak Bharat 1,1.363,Ketua DPRD
16,Hotmauli Malau,Demokrat,Pakpak Bharat 1,515.000,NaN
17,Hotma Ramles Tumangger,Demokrat,Pakpak Bharat 2,1.134,NaN
18,Selloh Cibro,Demokrat,Pakpak Bharat 2,898.000,NaN
19,Ronald Lubis,Demokrat,Pakpak Bharat 2,829.000,NaN

In [166]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                nama   alamat
0                        Bayar Manik  No Data
1                      Marido Padang  No Data
2                        Ragat Manik  No Data
3                     Mansehat Manik  No Data
4                   Rismawaty Bancin  No Data
5               Parulian Boangmanalu  No Data
6                   Togatorop Sinamo  No Data
7                       Elson Angkat  No Data
8                       Edison Manik  No Data
9                      Lukman Padang  No Data
10                   Kadri Tumangger  No Data
11  Muhammad Said Darwis Boangmanalu  No Data
12                  Maju Boangmanalu  No Data
13                       Sabar Manik  No Data
14                     Sehat Tindaon  No Data
15                   Sonni P. Berutu  No Data
16                    Hotmauli Malau  No Data
17            Hotma Ramles Tumangger  No Data
18                      Selloh Cibro  No Data
19                      Ronald Lubis  No Data

In [167]:
df.to_csv("./DPRD TK II/Sumut/Pakpak_Bharat.csv", index=False)

### s. Kabupaten Samosir

In [168]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Samosir"

In [169]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Nasib Simbolon,PKB,Samosir 1,1.382,Wakil Ketua DPRD
1,Haposan Sidauruk,PKB,Samosir 2,1.161,NaN
2,Noni Sulvia,PKB,Samosir 3,1.609,NaN
3,Pantas Lasidos Limbong,PKB,Samosir 4,930.000,NaN
4,Saur Tua Silalahi,Gerindra,Samosir 1,1.000,NaN
5,Nurmerita Sitorus,Gerindra,Samosir 3,1.419,NaN
6,Sorta Ertaty Siahaan,PDI-P,Samosir 1,3.039,NaN
7,Renaldi Naibaho,PDI-P,Samosir 1,1.647,NaN
8,Rismawati Simarmata,PDI-P,Samosir 2,2.322,NaN
9,Paham Gultom,PDI-P,Samosir 2,1.754,NaN
10,Pardon M. E. Lumbanraja,PDI-P,Samosir 2,1.531,NaN
11,Hary Jono Situmorang,PDI-P,Samosir 3,1.502,NaN
12,Romauli Panggabean,PDI-P,Samosir 4,1.940,NaN
13,Saut Martua Tamba,PDI-P,Samosir 4,1.443,Ketua DPRD
14,Polten Simbolon,Golkar,Samosir 1,1.159,NaN
15,Parluhutan Sinaga,Golkar,Samosir 3,1.846,NaN
16,Jonny Sagala,Golkar,Samosir 4,1.259,NaN
17,Polma Hasehaton Gurning,NasDem,Samosir 1,1.912,NaN
18,Jonner Simbolon,NasDem,Samosir 1,1.656,NaN
19,Magdalena Nurainy Sitinjak,NasDem,Samosir 2,2.085,NaN
20,Basrun Sihombing,NasDem,Samosir 3,1.111,Wakil Ketua DPRD
21,Pantas Marroha Sinaga,NasDem,Samosir 4,1.051,NaN
22,Suhanto Sitanggang,Hanura,Samosir 3,1.034,NaN
23,Russel Beringan Jaya Sihotang,Demokrat,Samosir 1,1.870,NaN
24,Parluhutan Samosir,Demokrat,Samosir 2,1.433,NaN

In [170]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                             nama   alamat
0                  Nasib Simbolon  No Data
1                Haposan Sidauruk  No Data
2                     Noni Sulvia  No Data
3          Pantas Lasidos Limbong  No Data
4               Saur Tua Silalahi  No Data
5               Nurmerita Sitorus  No Data
6            Sorta Ertaty Siahaan  No Data
7                 Renaldi Naibaho  No Data
8             Rismawati Simarmata  No Data
9                    Paham Gultom  No Data
10        Pardon M. E. Lumbanraja  No Data
11           Hary Jono Situmorang  No Data
12             Romauli Panggabean  No Data
13              Saut Martua Tamba  No Data
14                Polten Simbolon  No Data
15              Parluhutan Sinaga  No Data
16                   Jonny Sagala  No Data
17        Polma Hasehaton Gurning  No Data
18                Jonner Simbolon  No Data
19     Magdalena Nurainy Sitinjak  No Data
20               Basrun Sihombing  No Data
21          Pantas Marroha Sinaga  No Data
22             Suhanto Sitanggang  No Data
23  Russel Beringan Jaya Sihotang  No Data
24             Parluhutan Samosir  No Data

In [171]:
df.to_csv("./DPRD TK II/Sumut/Samosir.csv", index=False)

### t. Kabupaten Serdang Bedagai

In [172]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Serdang_Bedagai"

In [173]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,M. Rajali Prima,PKB,Serdang Bedagai 1,4.875,NaN
1,Khaidir,PKB,Serdang Bedagai 2,2.747,NaN
2,Sarino,PKB,Serdang Bedagai 3,2.405,NaN
3,M. Yunus Purba,PKB,Serdang Bedagai 4,4.844,NaN
4,M. Ilham Ritonga,Gerindra,Serdang Bedagai 1,4.298,NaN
5,James Hotlan Pangaribuan,Gerindra,Serdang Bedagai 1,3.217,NaN
6,Robert Butar-butar,Gerindra,Serdang Bedagai 2,2.289,NaN
7,M. Riski Ramadhan Hasibuan,Gerindra,Serdang Bedagai 3,4.625,Ketua DPRD
8,Enriko Silalahi,Gerindra,Serdang Bedagai 3,3.360,NaN
9,Sadarita Purba,Gerindra,Serdang Bedagai 4,3.051,NaN
10,Edisman Situmorang,Gerindra,Serdang Bedagai 5,2.243,NaN
11,Mangudut Hasugian,PDI-P,Serdang Bedagai 1,5.722,NaN
12,Zuhri Ahyar,PDI-P,Serdang Bedagai 1,2.932,NaN
13,Yusnani,PDI-P,Serdang Bedagai 3,1.806,NaN
14,Merlin Barus,PDI-P,Serdang Bedagai 4,2.919,Wakil Ketua DPRD
15,Togar Situmorang,PDI-P,Serdang Bedagai 5,3.138,NaN
16,Jalaludin,Golkar,Serdang Bedagai 1,3.838,NaN
17,Meryanto,Golkar,Serdang Bedagai 1,3.464,NaN
18,Longway M. Pakpahan,Golkar,Serdang Bedagai 2,2.723,NaN
19,Jordan Sigalingging,Golkar,Serdang Bedagai 3,2.797,NaN
20,Edi Resmanto,Golkar,Serdang Bedagai 4,3.056,NaN
21,Samsul Bahri,Golkar,Serdang Bedagai 5,3.188,Wakil Ketua DPRD
22,Suryadi,NasDem,Serdang Bedagai 1,1.454,NaN
23,Surya Anggara,NasDem,Serdang Bedagai 2,1.416,NaN
24,Siswanto,NasDem,Serdang Bedagai 3,3.735,Wakil Ketua DPRD
25,M. Efri Sipayung,NasDem,Serdang Bedagai 4,4.717,NaN
26,M. Nasir Damanik,NasDem,Serdang Bedagai 4,2.693,NaN
27,Julasman,NasDem,Serdang Bedagai 5,3.704,NaN
28,Satumin,PKS,Serdang Bedagai 1,1.560,NaN
29,Saidul Bahri Purba,PKS,Serdang Bedagai 4,1.835,NaN
30,Hari Ananda,PPP,Serdang Bedagai 2,4.585,NaN
31,M. Yusnar Yusuf Saragih,PPP,Serdang Bedagai 4,3.623,NaN
32,Sugiati,PPP,Serdang Bedagai 5,4.452,NaN
33,Nahwan,PAN,Serdang Bedagai 2,3.474,NaN
34,Darmalina Saragih,PAN,Serdang Bedagai 3,2.931,NaN
35,H. Ngatiman,PAN,Serdang Bedagai 4,2.281,NaN
36,Junaidi S.,PAN,Serdang Bedagai 5,3.952,NaN
37,Supriadi,Hanura,Serdang Bedagai 1,2.935,NaN
38,Hotnauli Sinurat,Hanura,Serdang Bedagai 3,5.549,NaN
39,Hj. Yanti Handayani Siregar,Hanura,Serdang Bedagai 3,4.962,NaN
40,Rasdiaman Damanik,Hanura,Serdang Bedagai 4,3.627,NaN
41,Defriaty Tambal,Hanura,Serdang Bedagai 5,2.732,NaN
42,Taufiqurrahman,Demokrat,Serdang Bedagai 1,3.150,NaN
43,Susilawati,Demokrat,Serdang Bedagai 3,2.814,NaN
44,Hendro Minata Purba,Demokrat,Serdang Bedagai 5,3.164,NaN

In [174]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                           nama   alamat
0               M. Rajali Prima  No Data
1                       Khaidir  No Data
2                        Sarino  No Data
3                M. Yunus Purba  No Data
4              M. Ilham Ritonga  No Data
5      James Hotlan Pangaribuan  No Data
6            Robert Butar-butar  No Data
7    M. Riski Ramadhan Hasibuan  No Data
8               Enriko Silalahi  No Data
9                Sadarita Purba  No Data
10           Edisman Situmorang  No Data
11            Mangudut Hasugian  No Data
12                  Zuhri Ahyar  No Data
13                      Yusnani  No Data
14                 Merlin Barus  No Data
15             Togar Situmorang  No Data
16                    Jalaludin  No Data
17                     Meryanto  No Data
18          Longway M. Pakpahan  No Data
19          Jordan Sigalingging  No Data
20                 Edi Resmanto  No Data
21                 Samsul Bahri  No Data
22                      Suryadi  No Data
23                Surya Anggara  No Data
24                     Siswanto  No Data
25             M. Efri Sipayung  No Data
26             M. Nasir Damanik  No Data
27                     Julasman  No Data
28                      Satumin  No Data
29           Saidul Bahri Purba  No Data
30                  Hari Ananda  No Data
31      M. Yusnar Yusuf Saragih  No Data
32                      Sugiati  No Data
33                       Nahwan  No Data
34            Darmalina Saragih  No Data
35                  H. Ngatiman  No Data
36                   Junaidi S.  No Data
37                     Supriadi  No Data
38             Hotnauli Sinurat  No Data
39  Hj. Yanti Handayani Siregar  No Data
40            Rasdiaman Damanik  No Data
41              Defriaty Tambal  No Data
42               Taufiqurrahman  No Data
43                   Susilawati  No Data
44          Hendro Minata Purba  No Data

In [175]:
df.to_csv("./DPRD TK II/Sumut/Serdang_Begadai.csv", index=False)

### u. Kabupaten Simalungun

In [176]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Simalungun"

In [177]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Erwin Parulian Saragih,Gerindra,Simalungun 1,3.205,NaN
1,Badri Kalimantan,Gerindra,Simalungun 2,4.936,NaN
2,Fao Saut P. Sinaga,Gerindra,Simalungun 3,4.036,NaN
3,Sastra Joyo Sirait,Gerindra,Simalungun 4,5.735,Wakil Ketua DPRD
4,Bona Uli Rajagukguk,Gerindra,Simalungun 5,7.271,NaN
5,Juarsa Siagian,Gerindra,Simalungun 5,1.676,NaN
6,Junita Veronika Munthe,PDI-P,Simalungun 1,4.636,NaN
7,Steven Samrin Girsang,PDI-P,Simalungun 1,4.524,Wakil Ketua DPRD
8,Jhon Manat Purba,PDI-P,Simalungun 2,4.892,NaN
9,Aripin Panjaitan,PDI-P,Simalungun 3,4.016,NaN
10,Mariono,PDI-P,Simalungun 4,3.488,NaN
11,Jonson Riduan Sinaga,PDI-P,Simalungun 5,2.847,NaN
12,Maraden Sinaga,PDI-P,Simalungun 6,5.829,NaN
13,Rospita Sitorus,PDI-P,Simalungun 6,3.164,NaN
14,Jon Redikalmen Sidauruk,Golkar,Simalungun 1,4.160,NaN
15,Edi Suprapto,Golkar,Simalungun 2,4.220,NaN
16,Jaminta Purba,Golkar,Simalungun 3,6.115,NaN
17,Umar Yani,Golkar,Simalungun 3,4.259,NaN
18,Binton Tindaon,Golkar,Simalungun 4,4.843,NaN
19,Lindung Samosir,Golkar,Simalungun 4,3.615,NaN
20,Sugiarto,Golkar,Simalungun 5,5.111,NaN
21,Timbul Jaya Hamonangan Sibarani,Golkar,Simalungun 6,5.978,Ketua DPRD
22,Marandus Elberd Tindaon,Golkar,Simalungun 6,3.609,NaN
23,Jamerson Saragih,NasDem,Simalungun 1,3.930,NaN
24,Karvan Saragih,NasDem,Simalungun 1,3.388,NaN
25,Tumpak Silitonga,NasDem,Simalungun 2,4.272,NaN
26,Ucok Alatas Siagian,NasDem,Simalungun 4,2.453,NaN
27,Bernhard Damanik,NasDem,Simalungun 6,3.819,NaN
28,Benfri Sinaga,Berkarya,Simalungun 5,4.407,NaN
29,Usmayanto,PKS,Simalungun 2,1.656,NaN
30,Ikhwanuddin Nasution,PKS,Simalungun 3,2.135,NaN
31,Saida Purba,Perindo,Simalungun 1,1.878,NaN
32,Sariadi Saragih,Perindo,Simalungun 2,4.128,NaN
33,Lisnawati Sirait,Perindo,Simalungun 6,3.661,NaN
34,Agus Irawan Sinaga,Perindo,Simalungun 6,2.917,NaN
35,Adianto Pasaribu,PPP,Simalungun 2,3.418,NaN
36,Hendra Sukmana Sinaga,PPP,Simalungun 4,3.048,NaN
37,Salbin Damanik,PAN,Simalungun 3,1.620,NaN
38,Edy Sumanto,PAN,Simalungun 4,2.599,NaN
39,Jarusdin Sinaga,Hanura,Simalungun 1,1.917,NaN
40,Suriawan,Hanura,Simalungun 2,2.743,NaN
41,Esron Simbolon,Hanura,Simalungun 4,3.425,NaN
42,Sarudin Gultom,Hanura,Simalungun 6,1.920,NaN
43,Elias Barus,Demokrat,Simalungun 1,8.144,Wakil Ketua DPRD
44,Andre Andika Sinaga,Demokrat,Simalungun 2,4.182,NaN
45,Erna Sari Purba,Demokrat,Simalungun 3,2.515,NaN
46,Histony Sijabat,Demokrat,Simalungun 4,3.892,NaN
47,Johanes Sipayung,Demokrat,Simalungun 5,5.937,NaN
48,Irwansyah Purba,Demokrat,Simalungun 5,3.325,NaN
49,Walpiden Tampubolon,Demokrat,Simalungun 6,3.998,NaN

In [178]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                               nama   alamat
0            Erwin Parulian Saragih  No Data
1                  Badri Kalimantan  No Data
2                Fao Saut P. Sinaga  No Data
3                Sastra Joyo Sirait  No Data
4               Bona Uli Rajagukguk  No Data
5                    Juarsa Siagian  No Data
6            Junita Veronika Munthe  No Data
7             Steven Samrin Girsang  No Data
8                  Jhon Manat Purba  No Data
9                  Aripin Panjaitan  No Data
10                          Mariono  No Data
11             Jonson Riduan Sinaga  No Data
12                   Maraden Sinaga  No Data
13                  Rospita Sitorus  No Data
14          Jon Redikalmen Sidauruk  No Data
15                     Edi Suprapto  No Data
16                    Jaminta Purba  No Data
17                        Umar Yani  No Data
18                   Binton Tindaon  No Data
19                  Lindung Samosir  No Data
20                         Sugiarto  No Data
21  Timbul Jaya Hamonangan Sibarani  No Data
22          Marandus Elberd Tindaon  No Data
23                 Jamerson Saragih  No Data
24                   Karvan Saragih  No Data
25                 Tumpak Silitonga  No Data
26              Ucok Alatas Siagian  No Data
27                 Bernhard Damanik  No Data
28                    Benfri Sinaga  No Data
29                        Usmayanto  No Data
30             Ikhwanuddin Nasution  No Data
31                      Saida Purba  No Data
32                  Sariadi Saragih  No Data
33                 Lisnawati Sirait  No Data
34               Agus Irawan Sinaga  No Data
35                 Adianto Pasaribu  No Data
36            Hendra Sukmana Sinaga  No Data
37                   Salbin Damanik  No Data
38                      Edy Sumanto  No Data
39                  Jarusdin Sinaga  No Data
40                         Suriawan  No Data
41                   Esron Simbolon  No Data
42                   Sarudin Gultom  No Data
43                      Elias Barus  No Data
44              Andre Andika Sinaga  No Data
45                  Erna Sari Purba  No Data
46                  Histony Sijabat  No Data
47                 Johanes Sipayung  No Data
48                  Irwansyah Purba  No Data
49              Walpiden Tampubolon  No Data

In [179]:
df.to_csv("./DPRD TK II/Sumut/Simalungun.csv", index=False)

### v. Kabupaten Tapanuli Selatan

In [180]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Tapanuli_Selatan"

In [181]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Ipong Dalimunthe,PKB,Tapanuli Selatan 2,2.187,NaN
1,Muhammad Yunus,Gerindra,Tapanuli Selatan 1,2.608,NaN
2,Armen Sanusi Harahap,Gerindra,Tapanuli Selatan 1,2.230,NaN
3,Husin Sogot Simatupang,Gerindra,Tapanuli Selatan 2,2.485,Ketua DPRD
4,Abdul Basith Dalimunthe,Gerindra,Tapanuli Selatan 3,3.420,NaN
5,Eddy Arryanto Hasibuan,Gerindra,Tapanuli Selatan 3,2.505,NaN
6,Dolly Putra Parlindungan Pasaribu,Gerindra,Tapanuli Selatan 4,4.274,NaN
7,Harmeni Batubara,Gerindra,Tapanuli Selatan 4,3.203,NaN
8,Rocky Anugrah Parlindungan Gultom,Gerindra,Tapanuli Selatan 5,3.155,NaN
9,Andi Jaka Sipahutar,PDI-P,Tapanuli Selatan 4,2.694,NaN
10,Derliana Siregar,Golkar,Tapanuli Selatan 1,2.304,NaN
11,Muhammad Rawi Ritonga,Golkar,Tapanuli Selatan 2,2.348,NaN
12,Edison Rambe,Golkar,Tapanuli Selatan 3,2.929,NaN
13,H. Ali Adanan Nasution,Golkar,Tapanuli Selatan 3,2.473,NaN
14,H. Rahmat Nasution,Golkar,Tapanuli Selatan 4,3.605,Wakil Ketua DPRD
15,Nurhayati Pane,Golkar,Tapanuli Selatan 4,2.885,NaN
16,Zulkarnain Dalimunthe,Golkar,Tapanuli Selatan 5,2.580,NaN
17,Andes Mar Siregar,Golkar,Tapanuli Selatan 5,2.474,NaN
18,Mukmin Saleh Siregar,NasDem,Tapanuli Selatan 1,2.456,NaN
19,James Watt Siregar,NasDem,Tapanuli Selatan 3,1.410,NaN
20,Ledy Namarina,NasDem,Tapanuli Selatan 4,3.172,NaN
21,Eddi Sullam Siregar,NasDem,Tapanuli Selatan 5,2.880,NaN
22,Maisyaroh,PPP,Tapanuli Selatan 3,1.937,NaN
23,Baginda Pulungan,PPP,Tapanuli Selatan 4,2.035,NaN
24,Ok Hazmi Usman Siregar,PPP,Tapanuli Selatan 5,1.188,NaN
25,Sylvan Rachmad Amin Siregar,PAN,Tapanuli Selatan 1,2.330,NaN
26,Sawal Pane,PAN,Tapanuli Selatan 2,2.267,NaN
27,Buyung Muhammad Holil,PAN,Tapanuli Selatan 3,1.789,NaN
28,H. Borkat,PAN,Tapanuli Selatan 4,1.917,Wakil Ketua DPRD
29,H. Mahmud Lubis,PAN,Tapanuli Selatan 5,1.261,NaN
30,Muhammad Faisal Siregar,Hanura,Tapanuli Selatan 1,1.393,NaN
31,Bontor Panjaitan,Hanura,Tapanuli Selatan 3,1.671,NaN
32,Haris Yani Tambunan,Hanura,Tapanuli Selatan 4,3.022,NaN
33,Robinton Simanjuntak,Hanura,Tapanuli Selatan 5,2.598,NaN
34,H. Muhammad Husin Dalimunthe,Demokrat,Tapanuli Selatan 3,2.198,NaN

In [182]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                 nama   alamat
0                    Ipong Dalimunthe  No Data
1                      Muhammad Yunus  No Data
2                Armen Sanusi Harahap  No Data
3              Husin Sogot Simatupang  No Data
4             Abdul Basith Dalimunthe  No Data
5              Eddy Arryanto Hasibuan  No Data
6   Dolly Putra Parlindungan Pasaribu  No Data
7                    Harmeni Batubara  No Data
8   Rocky Anugrah Parlindungan Gultom  No Data
9                 Andi Jaka Sipahutar  No Data
10                   Derliana Siregar  No Data
11              Muhammad Rawi Ritonga  No Data
12                       Edison Rambe  No Data
13             H. Ali Adanan Nasution  No Data
14                 H. Rahmat Nasution  No Data
15                     Nurhayati Pane  No Data
16              Zulkarnain Dalimunthe  No Data
17                  Andes Mar Siregar  No Data
18               Mukmin Saleh Siregar  No Data
19                 James Watt Siregar  No Data
20                      Ledy Namarina  No Data
21                Eddi Sullam Siregar  No Data
22                          Maisyaroh  No Data
23                   Baginda Pulungan  No Data
24             Ok Hazmi Usman Siregar  No Data
25        Sylvan Rachmad Amin Siregar  No Data
26                         Sawal Pane  No Data
27              Buyung Muhammad Holil  No Data
28                          H. Borkat  No Data
29                    H. Mahmud Lubis  No Data
30            Muhammad Faisal Siregar  No Data
31                   Bontor Panjaitan  No Data
32                Haris Yani Tambunan  No Data
33               Robinton Simanjuntak  No Data
34       H. Muhammad Husin Dalimunthe  No Data

In [183]:
df.to_csv("./DPRD TK II/Sumut/Tapanuli_Selatan.csv", index=False)

### w. Kabupaten Tapanuli Tengah

In [184]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Tapanuli_Tengah"

In [185]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Saparuddin Simatupang,Gerindra,Tapanuli Tengah 1,1.720,NaN
1,Madayansyah Tambunan,Gerindra,Tapanuli Tengah 2,2.383,NaN
2,Aswar Efendy Simanullang,Gerindra,Tapanuli Tengah 4,1.784,NaN
3,Willy Saputra Silitonga,PDI-P,Tapanuli Tengah 1,1.034,Wakil Ketua DPRD Sementara (2020-sekarang)
4,Weski Omega Simanungkalit,PDI-P,Tapanuli Tengah 2,1.955,NaN
5,Sihol Marudut Siregar,PDI-P,Tapanuli Tengah 3,1.856,NaN
6,Camelia Neneng Susanty,PDI-P,Tapanuli Tengah 4,1.679,NaN
7,Agus Fitriadi Panggabean,Golkar,Tapanuli Tengah 1,1.715,Wakil Ketua DPRD Sementara (2020)
8,Desmar Elfa Harefa,Golkar,Tapanuli Tengah 2,2.095,NaN
9,Nelli Gustia Matondang,Golkar,Tapanuli Tengah 3,1.544,NaN
10,Amran Marbun,Golkar,Tapanuli Tengah 4,2.240,NaN
11,Syahrun Pasaribu,NasDem,Tapanuli Tengah 1,3.226,NaN
12,Emma Erwani Br. Sinulingga,NasDem,Tapanuli Tengah 1,1.887,NaN
13,Khairul Kiyedi Pasaribu,NasDem,Tapanuli Tengah 2,4.061,Ketua DPRD Sementara
14,Josmen Sitohang,NasDem,Tapanuli Tengah 2,3.808,NaN
15,Imam Safi'i Simatupang,NasDem,Tapanuli Tengah 2,2.066,NaN
16,Ahmad Rivai Sibarani,NasDem,Tapanuli Tengah 3,14.106,NaN
17,Roi Paska Sarumpaet,NasDem,Tapanuli Tengah 3,3.968,NaN
18,Darma Anjar S.,NasDem,Tapanuli Tengah 3,1.949,NaN
19,Adhitia Melfan Tanjung,NasDem,Tapanuli Tengah 3,1.944,NaN
20,Amian Marpaung,NasDem,Tapanuli Tengah 3,1.149,NaN
21,Josua Maruduttua Habeahan,NasDem,Tapanuli Tengah 4,2.729,NaN
22,Marasihot Situmeang,NasDem,Tapanuli Tengah 4,2.709,NaN
23,Elfride Januarti Simanungkalit,NasDem,Tapanuli Tengah 4,2.534,NaN
24,Khairansah Hutauruk,NasDem,Tapanuli Tengah 4,1.945,NaN
25,Indra Utama Siagian,PKS,Tapanuli Tengah 1,1.093,NaN
26,Parohon Tambunan,Perindo,Tapanuli Tengah 1,1.407,NaN
27,Charles Tinambunan,Perindo,Tapanuli Tengah 3,1.933,NaN
28,Rinaldi Panggabean,Perindo,Tapanuli Tengah 4,911.000,NaN
29,Ikrar Dinata Sihombing,PAN,Tapanuli Tengah 2,1.778,NaN
30,Umbal Pasaribu,Hanura,Tapanuli Tengah 3,2.300,NaN
31,Tunggul Siregar,Demokrat,Tapanuli Tengah 1,1.578,NaN
32,Herbinsar Sitanggang,Demokrat,Tapanuli Tengah 2,1.088,NaN
33,Wansono Hutagalung,Demokrat,Tapanuli Tengah 4,1.864,NaN
34,Suhendra,PBB,Tapanuli Tengah 1,1.609,NaN

In [186]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                              nama   alamat
0            Saparuddin Simatupang  No Data
1             Madayansyah Tambunan  No Data
2         Aswar Efendy Simanullang  No Data
3          Willy Saputra Silitonga  No Data
4        Weski Omega Simanungkalit  No Data
5            Sihol Marudut Siregar  No Data
6           Camelia Neneng Susanty  No Data
7         Agus Fitriadi Panggabean  No Data
8               Desmar Elfa Harefa  No Data
9           Nelli Gustia Matondang  No Data
10                    Amran Marbun  No Data
11                Syahrun Pasaribu  No Data
12      Emma Erwani Br. Sinulingga  No Data
13         Khairul Kiyedi Pasaribu  No Data
14                 Josmen Sitohang  No Data
15          Imam Safi'i Simatupang  No Data
16            Ahmad Rivai Sibarani  No Data
17             Roi Paska Sarumpaet  No Data
18                  Darma Anjar S.  No Data
19          Adhitia Melfan Tanjung  No Data
20                  Amian Marpaung  No Data
21       Josua Maruduttua Habeahan  No Data
22             Marasihot Situmeang  No Data
23  Elfride Januarti Simanungkalit  No Data
24             Khairansah Hutauruk  No Data
25             Indra Utama Siagian  No Data
26                Parohon Tambunan  No Data
27              Charles Tinambunan  No Data
28              Rinaldi Panggabean  No Data
29          Ikrar Dinata Sihombing  No Data
30                  Umbal Pasaribu  No Data
31                 Tunggul Siregar  No Data
32            Herbinsar Sitanggang  No Data
33              Wansono Hutagalung  No Data
34                        Suhendra  No Data

In [187]:
df.to_csv("./DPRD TK II/Sumut/Tapanuli_Tengah.csv", index=False)

### x. Kabupaten Tapanuli Utara

In [188]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Tapanuli_Utara"

In [189]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Royal Simanjuntak,PKB,Tapanuli Utara 1,2.623,NaN
1,Herman Manalu,PKB,Tapanuli Utara 2,2.509,NaN
2,Novada Sitompul,PKB,Tapanuli Utara 5,1.529,NaN
3,Sahat Sibarani,Gerindra,Tapanuli Utara 4,2.602,NaN
4,Andri Hamonangan Nababan,PDI-P,Tapanuli Utara 1,2.593,NaN
5,Frido Erwin Sinaga,PDI-P,Tapanuli Utara 1,2.114,NaN
6,Bomper Sianturi,PDI-P,Tapanuli Utara 2,2.618,NaN
7,Ombun Simanjuntak,PDI-P,Tapanuli Utara 2,2.353,NaN
8,Tono Basuki Oppusunggu,PDI-P,Tapanuli Utara 3,2.671,NaN
9,Sondang Simaremare,PDI-P,Tapanuli Utara 3,2.539,NaN
10,Poltak Pakpahan,PDI-P,Tapanuli Utara 4,2.443,Ketua DPRD
11,Arifin Rudi Nababan,PDI-P,Tapanuli Utara 4,2.045,NaN
12,Serta Jimmi Tambunan,PDI-P,Tapanuli Utara 5,2.930,NaN
13,Jono Panjaitan,PDI-P,Tapanuli Utara 5,2.808,NaN
14,Joni Tombang Marbun,Golkar,Tapanuli Utara 1,2.357,NaN
15,Lamhot Sipahutar,Golkar,Tapanuli Utara 2,1.304,NaN
16,Reguel Simanjuntak,Golkar,Tapanuli Utara 3,2.894,Wakil Ketua DPRD
17,Ronal Simanjuntak,Golkar,Tapanuli Utara 4,2.595,NaN
18,Marudut Gultom,Golkar,Tapanuli Utara 5,1.764,NaN
19,Fatimah Hutabarat,NasDem,Tapanuli Utara 1,2.539,Wakil Ketua DPRD
20,Jesayas Manalu,NasDem,Tapanuli Utara 2,1.789,NaN
21,Kasnur Silaban,NasDem,Tapanuli Utara 3,2.290,NaN
22,Mangoloi Pardede,NasDem,Tapanuli Utara 4,1.752,NaN
23,Maradona Simanjuntak,NasDem,Tapanuli Utara 4,1.654,NaN
24,Mauliate Sitompul,NasDem,Tapanuli Utara 5,1.596,NaN
25,Tohonan Lumban Toruan,Perindo,Tapanuli Utara 3,1.125,NaN
26,Jason Pasaribu,Perindo,Tapanuli Utara 4,1.509,NaN
27,Frengky P. Simanjuntak,Hanura,Tapanuli Utara 1,2.584,NaN
28,Topan Situmeang,Hanura,Tapanuli Utara 2,1.895,NaN
29,Parsaoran Siahaan,Hanura,Tapanuli Utara 3,1.280,NaN
30,Jonri Tampubolon,Hanura,Tapanuli Utara 4,2.360,NaN
31,Dapot Hutabarat,Demokrat,Tapanuli Utara 1,1.900,NaN
32,Sahat Hara Monang Simorangkir,Demokrat,Tapanuli Utara 3,1.738,NaN
33,Timmas Saut P. Sitompul,PKPI,Tapanuli Utara 1,1.434,NaN
34,Toman Balige Silitonga,PKPI,Tapanuli Utara 4,1.442,NaN

In [190]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                             nama   alamat
0               Royal Simanjuntak  No Data
1                   Herman Manalu  No Data
2                 Novada Sitompul  No Data
3                  Sahat Sibarani  No Data
4        Andri Hamonangan Nababan  No Data
5              Frido Erwin Sinaga  No Data
6                 Bomper Sianturi  No Data
7               Ombun Simanjuntak  No Data
8          Tono Basuki Oppusunggu  No Data
9              Sondang Simaremare  No Data
10                Poltak Pakpahan  No Data
11            Arifin Rudi Nababan  No Data
12           Serta Jimmi Tambunan  No Data
13                 Jono Panjaitan  No Data
14            Joni Tombang Marbun  No Data
15               Lamhot Sipahutar  No Data
16             Reguel Simanjuntak  No Data
17              Ronal Simanjuntak  No Data
18                 Marudut Gultom  No Data
19              Fatimah Hutabarat  No Data
20                 Jesayas Manalu  No Data
21                 Kasnur Silaban  No Data
22               Mangoloi Pardede  No Data
23           Maradona Simanjuntak  No Data
24              Mauliate Sitompul  No Data
25          Tohonan Lumban Toruan  No Data
26                 Jason Pasaribu  No Data
27         Frengky P. Simanjuntak  No Data
28                Topan Situmeang  No Data
29              Parsaoran Siahaan  No Data
30               Jonri Tampubolon  No Data
31                Dapot Hutabarat  No Data
32  Sahat Hara Monang Simorangkir  No Data
33        Timmas Saut P. Sitompul  No Data
34         Toman Balige Silitonga  No Data

In [191]:
df.to_csv("./DPRD TK II/Sumut/Tapanuli_Utara.csv", index=False)

### y. Kabupaten Toba Samosir

In [192]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Toba"

In [193]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,St. Sabaruddin Tambunan,PKB,Toba 1,1.949,NaN
1,Mutiara Natravilon Octavia Panjaitan,PKB,Toba 3,2.384,NaN
2,Usden Sianipar,PKB,Toba 4,1.105,NaN
3,Diama Aruan,PKB,Toba 5,1.297,NaN
4,Mangatas Silaen,PDI-P,Toba 1,2.476,Wakil Ketua DPRD
5,Frans Hendrik Tambunan,PDI-P,Toba 1,1.546,NaN
6,Fauzi Suwira Gunawan Sirait,PDI-P,Toba 3,1.691,NaN
7,N. Yunior Frans Hariadi Hutapea,PDI-P,Toba 4,1.671,NaN
8,Parasian Tampubolon,PDI-P,Toba 5,1.362,NaN
9,Patuan Baringin Pardede,Golkar,Toba 1,2.655,NaN
10,Tomson Manurung,Golkar,Toba 2,1.965,NaN
11,Efendi S. Panangian Napitupulu,Golkar,Toba 3,2.090,Ketua DPRD
12,Ritcard Lubis,Golkar,Toba 4,1.825,NaN
13,Santober Hutapea,Golkar,Toba 4,1.503,NaN
14,Betman Sitorus,Golkar,Toba 5,1.858,NaN
15,Tonny M. Simanjuntak,NasDem,Toba 1,3.514,NaN
16,Candrow Manurung,NasDem,Toba 2,1.214,Wakil Ketua DPRD
17,Henry Tambunan,NasDem,Toba 3,1.934,NaN
18,Henri Polamarisi Simanjuntak,NasDem,Toba 4,1.348,NaN
19,Robinson Sibarani,NasDem,Toba 5,2.172,NaN
20,Torang Hamonangan Sitorus,Perindo,Toba 2,1.953,NaN
21,Gumontan Pasaribu,Perindo,Toba 4,964.000,NaN
22,Binsar Gultom,Perindo,Toba 5,1.143,NaN
23,Syamsudin Manurung,Hanura,Toba 2,2.038,NaN
24,Ramli Famili Butar-butar,Hanura,Toba 3,2.397,NaN
25,Robinson Tampubolon,Demokrat,Toba 1,1.821,NaN
26,Walmen Butar-butar,Demokrat,Toba 2,2.075,NaN
27,Hisar Hutagaol,Demokrat,Toba 3,1.564,NaN
28,Tua Parasian Silaen,Demokrat,Toba 5,1.154,NaN
29,Hendra Silaen,PKPI,Toba 5,1.953,NaN

In [194]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                    nama   alamat
0                St. Sabaruddin Tambunan  No Data
1   Mutiara Natravilon Octavia Panjaitan  No Data
2                         Usden Sianipar  No Data
3                            Diama Aruan  No Data
4                        Mangatas Silaen  No Data
5                 Frans Hendrik Tambunan  No Data
6            Fauzi Suwira Gunawan Sirait  No Data
7        N. Yunior Frans Hariadi Hutapea  No Data
8                    Parasian Tampubolon  No Data
9                Patuan Baringin Pardede  No Data
10                       Tomson Manurung  No Data
11        Efendi S. Panangian Napitupulu  No Data
12                         Ritcard Lubis  No Data
13                      Santober Hutapea  No Data
14                        Betman Sitorus  No Data
15                  Tonny M. Simanjuntak  No Data
16                      Candrow Manurung  No Data
17                        Henry Tambunan  No Data
18          Henri Polamarisi Simanjuntak  No Data
19                     Robinson Sibarani  No Data
20             Torang Hamonangan Sitorus  No Data
21                     Gumontan Pasaribu  No Data
22                         Binsar Gultom  No Data
23                    Syamsudin Manurung  No Data
24              Ramli Famili Butar-butar  No Data
25                   Robinson Tampubolon  No Data
26                    Walmen Butar-butar  No Data
27                        Hisar Hutagaol  No Data
28                   Tua Parasian Silaen  No Data
29                         Hendra Silaen  No Data

In [195]:
df.to_csv("./DPRD TK II/Sumut/Toba_Samosir.csv", index=False)

### z. Kota Binjai

In [196]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Binjai"

In [197]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Ahmad Azra'i Aziz,Gerindra,Kota Binjai 1,1.899,Wakil Ketua DPRD
1,Ryan Prasetya Kusnandar,Gerindra,Kota Binjai 2,1.818,NaN
2,Yudi Pranata,Gerindra,Kota Binjai 2,1.448,NaN
3,Joko Basuki,Gerindra,Kota Binjai 3,909.000,NaN
4,Muhammad Iskandar,Gerindra,Kota Binjai 4,1.954,NaN
5,Ryan Wijaya,PDI-P,Kota Binjai 1,1.643,NaN
6,Gim Ginting,PDI-P,Kota Binjai 2,1.749,NaN
7,Muhammad Syarif Sitepu,PDI-P,Kota Binjai 3,1.489,Wakil Ketua DPRD
8,Muhammad Atan,PDI-P,Kota Binjai 4,1.960,NaN
9,Noor Sri Alamsyah Putra,Golkar,Kota Binjai 1,2.517,Ketua DPRD
10,Muhammad Yusuf,Golkar,Kota Binjai 1,1.775,NaN
11,Boniran,Golkar,Kota Binjai 2,1.357,NaN
12,Nur Asyiah,Golkar,Kota Binjai 3,2.810,NaN
13,Hj. Kristiana Guswartini,Golkar,Kota Binjai 3,2.502,NaN
14,Miswar Gunawan,Golkar,Kota Binjai 4,1.884,NaN
15,Syahrial,NasDem,Kota Binjai 1,1.444,NaN
16,T. Matsyah,NasDem,Kota Binjai 2,1.431,NaN
17,Khairul Sembiring,NasDem,Kota Binjai 4,1.645,NaN
18,Marasonang Lubis,PKS,Kota Binjai 1,1.398,NaN
19,Fitriyani,PKS,Kota Binjai 2,1.930,NaN
20,Khairil Anwar,PKS,Kota Binjai 3,956.000,NaN
21,Sri Susilawati,PPP,Kota Binjai 1,1.120,NaN
22,Irhamsyah Putra Pohan,PPP,Kota Binjai 4,2.034,NaN
23,Hj. Emagata,PAN,Kota Binjai 1,1.376,NaN
24,Adi Putra,PAN,Kota Binjai 2,1.791,NaN
25,Ardiansyah Putra,PAN,Kota Binjai 3,1.690,NaN
26,Benny Aula Sanjaya,Hanura,Kota Binjai 4,2.415,NaN
27,H. Muhammad Sajali,Demokrat,Kota Binjai 1,1.886,NaN
28,Ahmad Hasian Siregar,Demokrat,Kota Binjai 2,1.732,NaN
29,Juli Sawitma Nasution,Demokrat,Kota Binjai 3,1.483,NaN

In [198]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                        nama   alamat
0          Ahmad Azra'i Aziz  No Data
1    Ryan Prasetya Kusnandar  No Data
2               Yudi Pranata  No Data
3                Joko Basuki  No Data
4          Muhammad Iskandar  No Data
5                Ryan Wijaya  No Data
6                Gim Ginting  No Data
7     Muhammad Syarif Sitepu  No Data
8              Muhammad Atan  No Data
9    Noor Sri Alamsyah Putra  No Data
10            Muhammad Yusuf  No Data
11                   Boniran  No Data
12                Nur Asyiah  No Data
13  Hj. Kristiana Guswartini  No Data
14            Miswar Gunawan  No Data
15                  Syahrial  No Data
16                T. Matsyah  No Data
17         Khairul Sembiring  No Data
18          Marasonang Lubis  No Data
19                 Fitriyani  No Data
20             Khairil Anwar  No Data
21            Sri Susilawati  No Data
22     Irhamsyah Putra Pohan  No Data
23               Hj. Emagata  No Data
24                 Adi Putra  No Data
25          Ardiansyah Putra  No Data
26        Benny Aula Sanjaya  No Data
27        H. Muhammad Sajali  No Data
28      Ahmad Hasian Siregar  No Data
29     Juli Sawitma Nasution  No Data

In [199]:
df.to_csv("./DPRD TK II/Sumut/Binjai.csv", index=False)

### aa. Kota Gunungsitoli

In [200]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Gunungsitoli"

In [201]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Faeriani Zega,Gerindra,Kota Gunungsitoli 1,864.000,NaN
1,Yan Raradodo Gea,Gerindra,Kota Gunungsitoli 2,848.000,NaN
2,Kurniaman Zega,Gerindra,Kota Gunungsitoli 3,1.470,NaN
3,Putra Hidayat Zebua,PDI-P,Kota Gunungsitoli 1,3.053,NaN
4,Sozanolo Telaumbanua,PDI-P,Kota Gunungsitoli 1,1.659,NaN
5,Yanto,PDI-P,Kota Gunungsitoli 1,1.444,Ketua DPRD
6,Yasinta Titian Imanfati Gea,PDI-P,Kota Gunungsitoli 2,2.012,NaN
7,Atieli Zebua,PDI-P,Kota Gunungsitoli 2,1.492,NaN
8,Sa'amboro Laoli,PDI-P,Kota Gunungsitoli 3,1.079,NaN
9,Nehemia Harefa,Golkar,Kota Gunungsitoli 1,945.000,NaN
10,Marthinus Lase,Golkar,Kota Gunungsitoli 2,1.934,NaN
11,Yobedi Laowo,NasDem,Kota Gunungsitoli 2,810.000,NaN
12,Ridwan Saleh Zega,NasDem,Kota Gunungsitoli 3,1.910,NaN
13,Darman Zendrato,Perindo,Kota Gunungsitoli 1,1.852,NaN
14,Adam Ceria Dachi,Perindo,Kota Gunungsitoli 1,1.333,NaN
15,Ariyanto Lase,PAN,Kota Gunungsitoli 1,589.000,NaN
16,Samotuho Harefa,Hanura,Kota Gunungsitoli 1,1.400,NaN
17,Arosokhi Harefa,Hanura,Kota Gunungsitoli 1,1.061,NaN
18,Firman Zebua,Hanura,Kota Gunungsitoli 2,1.205,NaN
19,Imanuel Ziliwu,Hanura,Kota Gunungsitoli 3,1.001,Wakil Ketua DPRD
20,Herman Jaya Harefa,Demokrat,Kota Gunungsitoli 1,1.317,Wakil Ketua DPRD
21,Yunius Larosa,Demokrat,Kota Gunungsitoli 2,1.387,NaN
22,Trimen Vebriyanto Harefa,Demokrat,Kota Gunungsitoli 2,1.080,NaN
23,Saharman Harefa,Demokrat,Kota Gunungsitoli 3,806.000,NaN
24,Alisokhi Harefa,PKPI,Kota Gunungsitoli 2,1.218,NaN

In [202]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                           nama   alamat
0                 Faeriani Zega  No Data
1              Yan Raradodo Gea  No Data
2                Kurniaman Zega  No Data
3           Putra Hidayat Zebua  No Data
4          Sozanolo Telaumbanua  No Data
5                         Yanto  No Data
6   Yasinta Titian Imanfati Gea  No Data
7                  Atieli Zebua  No Data
8               Sa'amboro Laoli  No Data
9                Nehemia Harefa  No Data
10               Marthinus Lase  No Data
11                 Yobedi Laowo  No Data
12            Ridwan Saleh Zega  No Data
13              Darman Zendrato  No Data
14             Adam Ceria Dachi  No Data
15                Ariyanto Lase  No Data
16              Samotuho Harefa  No Data
17              Arosokhi Harefa  No Data
18                 Firman Zebua  No Data
19               Imanuel Ziliwu  No Data
20           Herman Jaya Harefa  No Data
21                Yunius Larosa  No Data
22     Trimen Vebriyanto Harefa  No Data
23              Saharman Harefa  No Data
24              Alisokhi Harefa  No Data

In [203]:
df.to_csv("./DPRD TK II/Sumut/GunungSitoli.csv", index=False)

### ab. Kota Medan

In [204]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Medan"

In [205]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Dame Duma Sari Hutagalung,Gerindra,KOTA MEDAN 1,5.250,NaN
1,H. Aulia Rachman,Gerindra,KOTA MEDAN 2,14.061,NaN
2,Surianto (Butong),Gerindra,KOTA MEDAN 2,9.325,NaN
3,"Siti Suciati, S.H.",Gerindra,KOTA MEDAN 2,5.318,NaN
4,Ir. Sahat B. Simbolon,Gerindra,KOTA MEDAN 3,7.681,NaN
5,Netty Yuniati SRG,Gerindra,KOTA MEDAN 3,5.120,NaN
6,"H. Ihwan Ritonga, S.E., M.M.",Gerindra,KOTA MEDAN 4,22.306,Wakil Ketua DPRD
7,"Dedy Aksyari Nasution, S.T.",Gerindra,KOTA MEDAN 4,2.926,NaN
8,"Mulia Syahputra Nasution, S.H.",Gerindra,KOTA MEDAN 5,4.741,NaN
9,D. Edy Eka Suranta S. Meliala,Gerindra,KOTA MEDAN 5,4.703,NaN
10,Edward Hutabarat,PDI-P,KOTA MEDAN 1,9.176,NaN
11,"Robi, S.E.",PDI-P,KOTA MEDAN 1,7.745,NaN
12,Margaret M.S.,PDI-P,KOTA MEDAN 2,8.737,NaN
13,"Paul Mei Anton Simanjuntak, S.H.",PDI-P,KOTA MEDAN 3,9.482,NaN
14,"Drs. Wong Chun Sen, M.Pd.B.",PDI-P,KOTA MEDAN 3,8.753,NaN
15,"Hasyim, S.E.",PDI-P,KOTA MEDAN 4,16.376,Ketua DPRD
16,"David Roni Ganda Sinaga, S.E.",PDI-P,KOTA MEDAN 4,7.912,NaN
17,Drs. Daniel Pinem,PDI-P,KOTA MEDAN 5,11.710,NaN
18,"Johannes Haratua Hutagalung, S.Sos.",PDI-P,KOTA MEDAN 5,8.395,NaN
19,Hendri Duin,PDI-P,KOTA MEDAN 5,4.522,NaN
20,"Mulia Asri Rambe (Bayek), S.H.",Golkar,KOTA MEDAN 2,7.195,NaN
21,"Modesta Marpaung, Am.Keb., SKM.",Golkar,KOTA MEDAN 3,6.622,NaN
22,"M. Rizki Nugraha, S.E.",Golkar,KOTA MEDAN 4,6.397,NaN
23,"Muhammad Afri Rizki Lubis, S.M.",Golkar,KOTA MEDAN 5,8.550,NaN
24,"Antonius Devolis Tumanggor, S.Sos.",NasDem,KOTA MEDAN 1,2.832,NaN
25,"T. Edriansyah Rendy, S.H.",NasDem,KOTA MEDAN 2,8.619,NaN
26,Afif Abdillah,NasDem,KOTA MEDAN 4,3.555,NaN
27,Habiburrahman Sinuraya,NasDem,KOTA MEDAN 5,4.906,NaN
28,"H. Rajuddin Sagala, S.Pd.I.",PKS,KOTA MEDAN 1,12.694,Wakil Ketua DPRD
29,"Rudiawan Sitorus, S.Fil.I., M.Pem.I.",PKS,KOTA MEDAN 1,4.954,NaN
30,"Abdul Latif Lubis, M.Pd.",PKS,KOTA MEDAN 2,4.875,NaN
31,"Irwansyah, S.Ag., S.H.",PKS,KOTA MEDAN 3,8.553,NaN
32,"Rudiyanto, S.Pd.I.",PKS,KOTA MEDAN 4,5.442,NaN
33,"Dhiyaul Hayati, S.Ag., M.Pd.",PKS,KOTA MEDAN 5,8.843,NaN
34,Syaiful Ramadhan,PKS,KOTA MEDAN 5,4.108,NaN
35,"Abdul Rani, S.H.",PPP,KOTA MEDAN 2,4.813,NaN
36,"Renville Pandapotan Napitupulu, S.T.",PSI,KOTA MEDAN 1,2.716,NaN
37,Erwin Siahaan,PSI,KOTA MEDAN 5,2.038,NaN
38,"Abdul Rahman Nasution, S.H.",PAN,KOTA MEDAN 1,3.412,NaN
39,"H. T. Bahrumsyah, S.H., M.H.",PAN,KOTA MEDAN 2,12.551,Wakil Ketua DPRD
40,"Sudari, S.T.",PAN,KOTA MEDAN 2,3.129,NaN
41,"Edwin Sugesti Nasution, S.E., M.M.",PAN,KOTA MEDAN 3,4.999,NaN
42,"Edi Saputra, S.T.",PAN,KOTA MEDAN 4,4.929,NaN
43,"Sukamto, S.E.",PAN,KOTA MEDAN 5,6.546,NaN
44,Janses Simbolon,Hanura,KOTA MEDAN 2,4.971,NaN
45,Drs. H. Hendra D.S.,Hanura,KOTA MEDAN 4,5.130,NaN
46,"Ishaq Abrar Mustafa Tarigan, S.I.P.",Demokrat,KOTA MEDAN 2,3.584,NaN
47,"Parlindungan, S.H., M.H.",Demokrat,KOTA MEDAN 3,2.182,NaN
48,"Dodi Robert Simangunsong, S.H.",Demokrat,KOTA MEDAN 4,6.057,NaN
49,"Burhanuddin Sitepu, S.H.",Demokrat,KOTA MEDAN 5,4.114,NaN

In [206]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                    nama   alamat
0              Dame Duma Sari Hutagalung  No Data
1                       H. Aulia Rachman  No Data
2                      Surianto (Butong)  No Data
3                     Siti Suciati, S.H.  No Data
4                  Ir. Sahat B. Simbolon  No Data
5                      Netty Yuniati SRG  No Data
6           H. Ihwan Ritonga, S.E., M.M.  No Data
7            Dedy Aksyari Nasution, S.T.  No Data
8         Mulia Syahputra Nasution, S.H.  No Data
9          D. Edy Eka Suranta S. Meliala  No Data
10                      Edward Hutabarat  No Data
11                            Robi, S.E.  No Data
12                         Margaret M.S.  No Data
13      Paul Mei Anton Simanjuntak, S.H.  No Data
14           Drs. Wong Chun Sen, M.Pd.B.  No Data
15                          Hasyim, S.E.  No Data
16         David Roni Ganda Sinaga, S.E.  No Data
17                     Drs. Daniel Pinem  No Data
18   Johannes Haratua Hutagalung, S.Sos.  No Data
19                           Hendri Duin  No Data
20        Mulia Asri Rambe (Bayek), S.H.  No Data
21       Modesta Marpaung, Am.Keb., SKM.  No Data
22                M. Rizki Nugraha, S.E.  No Data
23       Muhammad Afri Rizki Lubis, S.M.  No Data
24    Antonius Devolis Tumanggor, S.Sos.  No Data
25             T. Edriansyah Rendy, S.H.  No Data
26                         Afif Abdillah  No Data
27                Habiburrahman Sinuraya  No Data
28           H. Rajuddin Sagala, S.Pd.I.  No Data
29  Rudiawan Sitorus, S.Fil.I., M.Pem.I.  No Data
30              Abdul Latif Lubis, M.Pd.  No Data
31                Irwansyah, S.Ag., S.H.  No Data
32                    Rudiyanto, S.Pd.I.  No Data
33          Dhiyaul Hayati, S.Ag., M.Pd.  No Data
34                      Syaiful Ramadhan  No Data
35                      Abdul Rani, S.H.  No Data
36  Renville Pandapotan Napitupulu, S.T.  No Data
37                         Erwin Siahaan  No Data
38           Abdul Rahman Nasution, S.H.  No Data
39          H. T. Bahrumsyah, S.H., M.H.  No Data
40                          Sudari, S.T.  No Data
41    Edwin Sugesti Nasution, S.E., M.M.  No Data
42                     Edi Saputra, S.T.  No Data
43                         Sukamto, S.E.  No Data
44                       Janses Simbolon  No Data
45                   Drs. H. Hendra D.S.  No Data
46   Ishaq Abrar Mustafa Tarigan, S.I.P.  No Data
47              Parlindungan, S.H., M.H.  No Data
48        Dodi Robert Simangunsong, S.H.  No Data
49              Burhanuddin Sitepu, S.H.  No Data

In [207]:
df.to_csv("./DPRD TK II/Sumut/Medan.csv", index=False)

### ac. Kota Padangsidempuan

In [208]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Padang_Sidempuan"

In [209]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Ahmad Yusuf Nasution,PKB,Kota Padang Sidempuan 3,2.021,NaN
1,Mochamad Halid Rahman,Gerindra,Kota Padang Sidempuan 1,2.342,NaN
2,Khoiruddin Siagian,Gerindra,Kota Padang Sidempuan 1,1.891,NaN
3,Noni Paisah,Gerindra,Kota Padang Sidempuan 2,1.805,NaN
4,Rusydi Nasution,Gerindra,Kota Padang Sidempuan 3,1.712,Wakil Ketua DPRD
5,H. Indra Gunawan Simbolon,PDI-P,Kota Padang Sidempuan 1,910.000,NaN
6,Ali Hotma Tua Hasibuan,PDI-P,Kota Padang Sidempuan 2,1.022,NaN
7,Hj. Taty Ariyani Tambunan,PDI-P,Kota Padang Sidempuan 3,2.699,NaN
8,Abdul Haris Nasution,Golkar,Kota Padang Sidempuan 1,2.755,NaN
9,Ahmad Maulana Harahap,Golkar,Kota Padang Sidempuan 1,1.601,NaN
10,Arjuna Sari Nasution,Golkar,Kota Padang Sidempuan 1,1.555,NaN
11,Madnur Siregar,Golkar,Kota Padang Sidempuan 2,1.424,NaN
12,Siti Mariam,Golkar,Kota Padang Sidempuan 3,1.811,NaN
13,Siwan Siswanto,Golkar,Kota Padang Sidempuan 3,1.103,Ketua DPRD
14,H. Mukhtar Shabri,PKS,Kota Padang Sidempuan 1,1.109,NaN
15,Muhammad Iqbal,PKS,Kota Padang Sidempuan 2,1.535,NaN
16,Imran Sah Ritonga,PPP,Kota Padang Sidempuan 1,1.460,NaN
17,Hj. Elliyati,PPP,Kota Padang Sidempuan 2,631.000,NaN
18,Erpi J. Samudra Dalimunthe,PAN,Kota Padang Sidempuan 1,1.368,NaN
19,Adianto,PAN,Kota Padang Sidempuan 2,2.657,NaN
20,Iswandy Arisandy,PAN,Kota Padang Sidempuan 2,1.948,NaN
21,Erwin Nasution,PAN,Kota Padang Sidempuan 3,1.858,Wakil Ketua DPRD
22,Feriansyah Hasibuan,Hanura,Kota Padang Sidempuan 1,2.510,NaN
23,Sopian Harahap,Hanura,Kota Padang Sidempuan 2,1.636,NaN
24,Marataman Siregar,Hanura,Kota Padang Sidempuan 3,1.471,NaN
25,Apriyadi Harahap,Demokrat,Kota Padang Sidempuan 1,1.759,NaN
26,Irpan,Demokrat,Kota Padang Sidempuan 2,1.024,NaN
27,Abdul Rahman Harahap,Demokrat,Kota Padang Sidempuan 3,2.474,NaN
28,Parsaulian Lubis,PBB,Kota Padang Sidempuan 2,2.134,NaN
29,Imam Gozali Harahap,PKPI,Kota Padang Sidempuan 3,1.329,NaN

In [210]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                          nama   alamat
0         Ahmad Yusuf Nasution  No Data
1        Mochamad Halid Rahman  No Data
2           Khoiruddin Siagian  No Data
3                  Noni Paisah  No Data
4              Rusydi Nasution  No Data
5    H. Indra Gunawan Simbolon  No Data
6       Ali Hotma Tua Hasibuan  No Data
7    Hj. Taty Ariyani Tambunan  No Data
8         Abdul Haris Nasution  No Data
9        Ahmad Maulana Harahap  No Data
10        Arjuna Sari Nasution  No Data
11              Madnur Siregar  No Data
12                 Siti Mariam  No Data
13              Siwan Siswanto  No Data
14           H. Mukhtar Shabri  No Data
15              Muhammad Iqbal  No Data
16           Imran Sah Ritonga  No Data
17                Hj. Elliyati  No Data
18  Erpi J. Samudra Dalimunthe  No Data
19                     Adianto  No Data
20            Iswandy Arisandy  No Data
21              Erwin Nasution  No Data
22         Feriansyah Hasibuan  No Data
23              Sopian Harahap  No Data
24           Marataman Siregar  No Data
25            Apriyadi Harahap  No Data
26                       Irpan  No Data
27        Abdul Rahman Harahap  No Data
28            Parsaulian Lubis  No Data
29         Imam Gozali Harahap  No Data

In [211]:
df.to_csv("./DPRD TK II/Sumut/PadangSidempuan.csv", index=False)

### ad. Kota Pematangsiantar

In [212]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Pematangsiantar"

In [213]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Irwan,Gerindra,Kota Pematangsiantar 1,1.540,NaN
1,Bintar Saragih,Gerindra,Kota Pematangsiantar 2,1.242,NaN
2,Netty Sianturi,Gerindra,Kota Pematangsiantar 3,1.281,NaN
3,Immanuel Lingga,PDI-P,Kota Pematangsiantar 1,1.617,NaN
4,Arif Dermawan Hutabarat,PDI-P,Kota Pematangsiantar 1,1.530,NaN
5,Suandi Apohan S.,PDI-P,Kota Pematangsiantar 2,2.351,NaN
6,Ferry S. P. Sinamo,PDI-P,Kota Pematangsiantar 2,1.709,NaN
7,Timbul Marganda Lingga,PDI-P,Kota Pematangsiantar 3,3.760,Ketua DPRD
8,Astronout Nainggolan,PDI-P,Kota Pematangsiantar 3,3.391,NaN
9,Denny Torang Haulian Siahaan,PDI-P,Kota Pematangsiantar 3,2.386,NaN
10,Baren Alijoyo Purba,PDI-P,Kota Pematangsiantar 3,1.980,NaN
11,Hj. Rini Silalahi,Golkar,Kota Pematangsiantar 1,2.164,NaN
12,Mangatas Marulitua Silalahi,Golkar,Kota Pematangsiantar 2,2.946,Wakil Ketua DPRD
13,Daud Simanjuntak,Golkar,Kota Pematangsiantar 2,1.987,NaN
14,Hendra Parlindungan H. Pardede,Golkar,Kota Pematangsiantar 3,2.417,NaN
15,Lulu Carey Gorga Purba,Golkar,Kota Pematangsiantar 3,1.336,NaN
16,Jani Apohan Saragih,NasDem,Kota Pematangsiantar 1,2.199,NaN
17,Tongam Pangaribuan,NasDem,Kota Pematangsiantar 1,1.639,NaN
18,Frengki Boy Saragih,NasDem,Kota Pematangsiantar 2,1.410,NaN
19,Frans Herbert Siahaan,NasDem,Kota Pematangsiantar 3,1.393,NaN
20,Nurlela Sikumbang,PAN,Kota Pematangsiantar 1,1.851,NaN
21,Boy Iskandar Warongan,PAN,Kota Pematangsiantar 2,1.154,NaN
22,Andika Prayogi Sinaga,Hanura,Kota Pematangsiantar 1,2.068,NaN
23,Suhanto Pakpahan,Hanura,Kota Pematangsiantar 1,1.091,NaN
24,Dedy Putra Manihuruk,Hanura,Kota Pematangsiantar 2,1.555,NaN
25,Ronald Darwin Tampubolon,Hanura,Kota Pematangsiantar 3,2.575,Wakil Ketua DPRD
26,Ilhamsyah Sinaga,Demokrat,Kota Pematangsiantar 1,1.262,NaN
27,Metro Bodyart Hutagaol,Demokrat,Kota Pematangsiantar 2,1.278,NaN
28,Rizky Ananda Sitorus,Demokrat,Kota Pematangsiantar 3,2.395,NaN
29,Alex Wijaya Panjaitan,PKPI,Kota Pematangsiantar 3,2.949,NaN

In [214]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                              nama   alamat
0                            Irwan  No Data
1                   Bintar Saragih  No Data
2                   Netty Sianturi  No Data
3                  Immanuel Lingga  No Data
4          Arif Dermawan Hutabarat  No Data
5                 Suandi Apohan S.  No Data
6               Ferry S. P. Sinamo  No Data
7           Timbul Marganda Lingga  No Data
8             Astronout Nainggolan  No Data
9     Denny Torang Haulian Siahaan  No Data
10             Baren Alijoyo Purba  No Data
11               Hj. Rini Silalahi  No Data
12     Mangatas Marulitua Silalahi  No Data
13                Daud Simanjuntak  No Data
14  Hendra Parlindungan H. Pardede  No Data
15          Lulu Carey Gorga Purba  No Data
16             Jani Apohan Saragih  No Data
17              Tongam Pangaribuan  No Data
18             Frengki Boy Saragih  No Data
19           Frans Herbert Siahaan  No Data
20               Nurlela Sikumbang  No Data
21           Boy Iskandar Warongan  No Data
22           Andika Prayogi Sinaga  No Data
23                Suhanto Pakpahan  No Data
24            Dedy Putra Manihuruk  No Data
25        Ronald Darwin Tampubolon  No Data
26                Ilhamsyah Sinaga  No Data
27          Metro Bodyart Hutagaol  No Data
28            Rizky Ananda Sitorus  No Data
29           Alex Wijaya Panjaitan  No Data

In [215]:
df.to_csv("./DPRD TK II/Sumut/PematangSiantar.csv", index=False)

### ae. Kota Sibolga

In [216]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Sibolga"

In [217]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Andika Pribadi Waruwu,Gerindra,Kota Sibolga 2,1.188,NaN
1,Yasran,Gerindra,Kota Sibolga 2,1.132,NaN
2,Riko Hermanto Simamora,PDI-P,Kota Sibolga 1,1.011,NaN
3,Lo’osokhi Gulo,PDI-P,Kota Sibolga 2,889.000,NaN
4,Muchtar D. S. Nababan,Golkar,Kota Sibolga 1,742.000,NaN
5,Jamil Zeb Tumori,Golkar,Kota Sibolga 2,1.559,Wakil Ketua DPRD
6,Hj. Syuryanti Sidabutar,Golkar,Kota Sibolga 2,1.322,NaN
7,Obbi Putra Hutagaol,NasDem,Kota Sibolga 1,1.562,NaN
8,Rivorman Saleh Manalu,NasDem,Kota Sibolga 1,1.163,NaN
9,Akhmad Syukri Nazry Penarik,NasDem,Kota Sibolga 2,1.552,Ketua DPRD
10,Augustina Mariati,NasDem,Kota Sibolga 2,1.409,NaN
11,Rijondiman Sinaga,NasDem,Kota Sibolga 2,1.268,NaN
12,Herman Soni Saragih,PKS,Kota Sibolga 2,441.000,NaN
13,Selfi Kristian Purba,Perindo,Kota Sibolga 1,1.186,NaN
14,Herman Sinambela,Perindo,Kota Sibolga 1,1.152,NaN
15,Mandapot Pasaribu,Perindo,Kota Sibolga 2,432.000,Calon Wakil Ketua DPRD
16,Tonny Agustinus Lumban Tobing,Demokrat,Kota Sibolga 1,914.000,NaN
17,Sri Handayani Batubara,Demokrat,Kota Sibolga 2,1.171,NaN
18,Munzir,PBB,Kota Sibolga 1,892.000,NaN
19,Hj. Nurarifah,PBB,Kota Sibolga 2,1.376,NaN

In [218]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                             nama   alamat
0           Andika Pribadi Waruwu  No Data
1                          Yasran  No Data
2          Riko Hermanto Simamora  No Data
3                  Lo’osokhi Gulo  No Data
4           Muchtar D. S. Nababan  No Data
5                Jamil Zeb Tumori  No Data
6         Hj. Syuryanti Sidabutar  No Data
7             Obbi Putra Hutagaol  No Data
8           Rivorman Saleh Manalu  No Data
9     Akhmad Syukri Nazry Penarik  No Data
10              Augustina Mariati  No Data
11              Rijondiman Sinaga  No Data
12            Herman Soni Saragih  No Data
13           Selfi Kristian Purba  No Data
14               Herman Sinambela  No Data
15              Mandapot Pasaribu  No Data
16  Tonny Agustinus Lumban Tobing  No Data
17         Sri Handayani Batubara  No Data
18                         Munzir  No Data
19                  Hj. Nurarifah  No Data

In [219]:
df.to_csv("./DPRD TK II/Sumut/Sibolga.csv", index=False)

### af. Kota Tanjungbalai

In [220]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Tanjungbalai"

In [221]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Teddy Erwin,PKB,Kota Tanjungbalai 1,1.026,NaN
1,Nariadi,PKB,Kota Tanjungbalai 2,1.511,NaN
2,Syahrial Bakti,PKB,Kota Tanjungbalai 3,1.308,Wakil Ketua DPRD
3,Antoni Darwin Nasution alias Anton King,Gerindra,Kota Tanjungbalai 2,1.145,NaN
4,Nurul Hasnita Marpaung,Gerindra,Kota Tanjungbalai 3,1.392,NaN
5,Krisman Sitindaon,PDI-P,Kota Tanjungbalai 1,830.000,NaN
6,Eriston Sihaloho,PDI-P,Kota Tanjungbalai 2,1.447,NaN
7,Leiden Butar Butar,PDI-P,Kota Tanjungbalai 2,1.163,NaN
8,Surya Darma,PDI-P,Kota Tanjungbalai 3,1.718,Wakil Ketua DPRD
9,Gotex Salim Pak De,Golkar,Kota Tanjungbalai 1,2.681,NaN
10,Dahman Sirait,Golkar,Kota Tanjungbalai 1,1.184,NaN
11,Neni Kosasih,Golkar,Kota Tanjungbalai 1,1.183,NaN
12,Tengku Eswin,Golkar,Kota Tanjungbalai 2,2.447,Ketua DPRD
13,Hj. Artati,Golkar,Kota Tanjungbalai 2,1.679,NaN
14,Chairunnisa Batubara,Golkar,Kota Tanjungbalai 3,2.631,NaN
15,Martin,Golkar,Kota Tanjungbalai 3,1.988,NaN
16,Hermansyah,Golkar,Kota Tanjungbalai 3,1.408,NaN
17,Said Budi Syafril,Golkar,Kota Tanjungbalai 3,1.349,NaN
18,Husaini,Berkarya,Kota Tanjungbalai 2,813.000,NaN
19,H. Alpian Panjaitan,PKS,Kota Tanjungbalai 1,901.000,NaN
20,Mas Budi Panjaitan,PKS,Kota Tanjungbalai 2,817.000,NaN
21,Andi Abdul Rahim,PPP,Kota Tanjungbalai 2,1.221,NaN
22,Muhammad Yusuf,PPP,Kota Tanjungbalai 3,1.424,NaN
23,Rusnaldi Dharma,Hanura,Kota Tanjungbalai 2,858.000,NaN
24,Riswan,Demokrat,Kota Tanjungbalai 3,1.669,NaN

In [222]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                                       nama   alamat
0                               Teddy Erwin  No Data
1                                   Nariadi  No Data
2                            Syahrial Bakti  No Data
3   Antoni Darwin Nasution alias Anton King  No Data
4                    Nurul Hasnita Marpaung  No Data
5                         Krisman Sitindaon  No Data
6                          Eriston Sihaloho  No Data
7                        Leiden Butar Butar  No Data
8                               Surya Darma  No Data
9                        Gotex Salim Pak De  No Data
10                            Dahman Sirait  No Data
11                             Neni Kosasih  No Data
12                             Tengku Eswin  No Data
13                               Hj. Artati  No Data
14                     Chairunnisa Batubara  No Data
15                                   Martin  No Data
16                               Hermansyah  No Data
17                        Said Budi Syafril  No Data
18                                  Husaini  No Data
19                      H. Alpian Panjaitan  No Data
20                       Mas Budi Panjaitan  No Data
21                         Andi Abdul Rahim  No Data
22                           Muhammad Yusuf  No Data
23                          Rusnaldi Dharma  No Data
24                                   Riswan  No Data

In [223]:
df.to_csv("./DPRD TK II/Sumut/TanjungBalai.csv", index=False)

### ag. Kota Tebing Tinggi

In [224]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kota_Tebing_Tinggi"

In [225]:
df = pd.read_html(url)[4]
df

,Nama Anggota,Partai Politik,Daerah Pemilihan,Suara Sah,Keterangan
0,Muliadi,PKB,Kota Tebing Tinggi 2,1.310,NaN
1,Husin,Gerindra,Kota Tebing Tinggi 1,1.831,NaN
2,Imam Anshori Nasution,Gerindra,Kota Tebing Tinggi 2,2.767,NaN
3,Muhammad Hazly Azhari,Gerindra,Kota Tebing Tinggi 3,2.110,NaN
4,Tamsil Husni,PDI-P,Kota Tebing Tinggi 1,1.733,NaN
5,Iman Irdian Saragih,PDI-P,Kota Tebing Tinggi 2,1.934,Wakil Ketua DPRD
6,Mangatur Naibaho,PDI-P,Kota Tebing Tinggi 2,1.451,NaN
7,Waris,PDI-P,Kota Tebing Tinggi 3,1.054,NaN
8,Martin Machiavelli Hutahean,Golkar,Kota Tebing Tinggi 1,2.169,NaN
9,Ibrahim Nasution,Golkar,Kota Tebing Tinggi 1,1.842,NaN
10,Hendra Gunawan,Golkar,Kota Tebing Tinggi 2,1.818,NaN
11,Basyaruddin Nasution,Golkar,Kota Tebing Tinggi 3,1.718,Ketua DPRD
12,H. Muhammad Azwar,NasDem,Kota Tebing Tinggi 1,2.571,Wakil Ketua DPRD
13,Muhammad Doni Damanik,NasDem,Kota Tebing Tinggi 2,1.686,NaN
14,Jonner Sitinjak,NasDem,Kota Tebing Tinggi 3,999.000,NaN
15,Abdul Rahman,NasDem,Kota Tebing Tinggi 3,986.000,NaN
16,Anda Yasser,PKS,Kota Tebing Tinggi 1,1.020,NaN
17,Erniwati,PKS,Kota Tebing Tinggi 2,1.435,NaN
18,Muhammad Erwin Harahap,Perindo,Kota Tebing Tinggi 1,1.540,NaN
19,Syamsul Bahri,PAN,Kota Tebing Tinggi 2,1.520,NaN
20,Fahmi Tanjung,PAN,Kota Tebing Tinggi 3,1.160,NaN
21,Kaharuddin Nasution,Hanura,Kota Tebing Tinggi 1,2.140,NaN
22,Ogamota Hulu,Hanura,Kota Tebing Tinggi 2,2.444,NaN
23,H. Chairil Mukmin Tambunan,Demokrat,Kota Tebing Tinggi 1,1.933,NaN
24,Zainal Arifin Tambunan,Demokrat,Kota Tebing Tinggi 2,1.676,NaN

In [226]:
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                           nama   alamat
0                       Muliadi  No Data
1                         Husin  No Data
2         Imam Anshori Nasution  No Data
3         Muhammad Hazly Azhari  No Data
4                  Tamsil Husni  No Data
5           Iman Irdian Saragih  No Data
6              Mangatur Naibaho  No Data
7                         Waris  No Data
8   Martin Machiavelli Hutahean  No Data
9              Ibrahim Nasution  No Data
10               Hendra Gunawan  No Data
11         Basyaruddin Nasution  No Data
12            H. Muhammad Azwar  No Data
13        Muhammad Doni Damanik  No Data
14              Jonner Sitinjak  No Data
15                 Abdul Rahman  No Data
16                  Anda Yasser  No Data
17                     Erniwati  No Data
18       Muhammad Erwin Harahap  No Data
19                Syamsul Bahri  No Data
20                Fahmi Tanjung  No Data
21          Kaharuddin Nasution  No Data
22                 Ogamota Hulu  No Data
23   H. Chairil Mukmin Tambunan  No Data
24       Zainal Arifin Tambunan  No Data

In [227]:
df.to_csv("./DPRD TK II/Sumut/TebingTinggi.csv", index=False)