In [1]:
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen, urlretrieve, quote
from urllib.parse import urljoin
import pandas as pd
import csv
from tqdm import tqdm

# Function

In [2]:
def get_url(url):
    headers = {
         'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36'
     }
    r = requests.get(url, headers=headers)  # Using the custom headers we defined above
    soup = BeautifulSoup(r.content, 'lxml') 
    return soup

def get_table(url):
    df = pd.read_html(url)[4]    
    df = df.rename(columns={"Nama Anggota" : "nama"})
    df["alamat"] = "No Data"
    df = df[["nama", "alamat"]]

    return df

# Kepulauan Riau

### Kabupaten Bintan

### Kabupaten Karimun

In [32]:
url = "https://karimunkab.go.id/anggota-dprd/"

In [33]:
df = pd.read_html(url)[0]
new_cols = df.iloc[3]
df.columns = new_cols
df = df.iloc[4:34].reset_index(drop=True)

In [34]:
df = df.rename(columns={"NAMA" : "nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

3                        nama   alamat
0               M.YUSUF SIRAT  No Data
1                        AZMI  No Data
2             BAKTI LUBIS, SH  No Data
3                 ABDUL HAFID  No Data
4          Drs.H.ADY HERMAWAN  No Data
5                    ALOYSIUS  No Data
6            FAKHRURRAZI, Amd  No Data
7       H. ANWAR HASYIM, M.Si  No Data
8               H. KAMARUDDIN  No Data
9      H. MUHAMMAD TAUFIQ, SH  No Data
10           Hj. ROHANI, S.AP  No Data
11                ATAN ASHURA  No Data
12                MARJAYA, ST  No Data
13                   M. TAHIR  No Data
14         NYIMAS NOVI UJIANI  No Data
15               SYAFRI SANDY  No Data
16                 RODIANSYAH  No Data
17               SAPPE SINAGA  No Data
18              SAMSUL, S.Sos  No Data
19            SUHARSONO, S.IP  No Data
20                SJARIFUDDIN  No Data
21             SULFANOW PUTRA  No Data
22            ZAINUDDIN AHMAD  No Data
23                ZAIZULFIKAR  No Data
24                   ZUHDIONO  No Data
25  Drs. H. ANWAR, M.Si, M.MP  No Data
26                    SUMARDI  No Data
27                      RASNO  No Data
28                   DJUMAIDI  No Data
29           ISNURIMAN ISMAIL  No Data

In [35]:
df.to_csv("./DPRD TK II/Kepri/Karimun.csv", index=False)

### Kabupaten Kepulauan Anambas

### Kabupaten Lingga

### Kabupaten Natuna

### Kota Batam

### Kota Tanjung Pinang

# Jambi

### Kabupaten Batanghari

### Kabupaten Bungo

In [36]:
url = "https://www.dprd-bungokab.go.id/dewan"
soup = get_url(url)

In [38]:
nama_list = []
for span in soup.find_all("a", "be-fc-orange"):
    nama_list.append(span.text)

In [41]:
df = pd.DataFrame.from_dict({"nama" : nama_list})
df["alamat"] = "No Data"
df

                              nama   alamat
0                           JUMARI  No Data
1                    JUMIWAN AGUZA  No Data
2                   MARTUNIS, A.Md  No Data
3                     ANDRI SANUSI  No Data
4                           SUGINI  No Data
5   MARWANSYAH PUTRA SIREGAR, S.Ds  No Data
6     H.SYAIFUL ACIK BILAL, S.Pd.I  No Data
7                         DARWANDI  No Data
8                       ALFIAN, SM  No Data
9              MART FRIDA YANI, SP  No Data
10               LENI ELVIRA.Z, SE  No Data
11       H. DJUSRI RAMLI, SE. M.Si  No Data
12                       SUMARYONO  No Data
13                         HAMBALI  No Data
14                  ROZALI, SE, ME  No Data
15                          ASNADI  No Data
16               GUSRIYANDI RIFA'I  No Data
17                AL JUPRI, S.Pd.I  No Data
18                        SUGIYONO  No Data
19                    AHMADI, S.HI  No Data
20   H. ROSIHAN ANUAR, S.Sos, M.Si  No Data
21                 MARHONI SUGANDA  No Data
22            DEDET JUMICO, SH, MH  No Data
23                  Drs. H. KHOLIL  No Data
24                          TAMRIN  No Data
25                   HOZIN, S.Pd.I  No Data
26             ABDUL QODIR, S.Pd.I  No Data
27                 DHARMAWAN F, SH  No Data
28                 ROSMALA DEWI,SE  No Data
29           SYAIFUL BAKHRI,S.Pd.I  No Data

In [42]:
df.to_csv("./DPRD TK II/Jambi/Bungo.csv", index=False)

### Kabupaten Kerinci

### Kabupaten Merangin

### Kabupaten Muaro Jambi

### Kabupaten Sarolangun

### Kabupaten Tanjung Jabung Barat

In [46]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Tanjung_Jabung_Barat"
df = pd.read_html(url)[12]
df = df.rename(columns={"Nama":"nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                            nama   alamat
0                  Hasmely Hasan  No Data
1                   Cici Halimah  No Data
2                       Abdullah  No Data
3                        Jamilah  No Data
4                           Neli  No Data
5                        Hamdani  No Data
6   Satria Tubagus Ryan Hermawan  No Data
7                 M. Zuldi Ikrom  No Data
8             Syufrayogi Syaiful  No Data
9                      Dedi Hadi  No Data
10                     Nurkholis  No Data
11                        Khairi  No Data
12                    Budi Azwar  No Data
13                  Ahmad Jahfar  No Data
14         Muh. Sjafril Simamora  No Data
15                 Arpin Siregar  No Data
16          Bunga Fitria Ningsih  No Data
17              Nova Anggun Sari  No Data
18                     Suhatmeri  No Data
19                 Muhammad Zaki  No Data
20                      Nurasiah  No Data
21                        Ansari  No Data
22                        Subari  No Data
23                       Erliani  No Data
24                        Sutejo  No Data
25                         Assek  No Data
26              Mariatul Kiftiah  No Data
27                      Fahrizal  No Data
28          Hasan Basyri Harahap  No Data
29                         Rayun  No Data
30            Jamal Darmawan Sie  No Data
31                     Wildawati  No Data
32                         Mukri  No Data
33                   Abdurrahman  No Data
34                         Hasbi  No Data

In [47]:
df.to_csv("./DPRD TK II/Jambi/Tanjung_Jabung_Barat.csv", index=False)

### Kabupaten Tanjung Jabung Timur

In [51]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Tanjung_Jabung_Timur"
df = pd.read_html(url)[11]
df = df.rename(columns={"Nama":"nama"})
df["alamat"] = "No Data"
df = df[["nama", "alamat"]]
df

                     nama   alamat
0           Muhammad Aris  No Data
1            Reza Fahlevi  No Data
2                Zilawati  No Data
3                Ernawati  No Data
4             Jamil Akbar  No Data
5       Firmansyah Ayusda  No Data
6             Syamsu Alam  No Data
7              Kaharuddin  No Data
8        Nugraha Setiawan  No Data
9            Agus Pranata  No Data
10                Saihata  No Data
11              Musabakoh  No Data
12                 Mahrup  No Data
13                Ariandi  No Data
14               Kurnaini  No Data
15                 Harmah  No Data
16   Tri Astuti Handayani  No Data
17          Dewi Julianti  No Data
18                Hasniba  No Data
19             Alam Bakri  No Data
20         Saidina Hamzah  No Data
21        Muhammad Guntur  No Data
22  Ermeida Siringo Ringo  No Data
23          Gatot Sumarto  No Data
24     Yudi Hariyanto. EY  No Data
25             Joyo Kamin  No Data
26         Muhammad Nasir  No Data
27              Ambo Acok  No Data
28         Ahmad Fadillah  No Data
29                 Hamzah  No Data

In [52]:
df.to_csv("./DPRD TK II/Jambi/Tanjung_Jabung_Timur.csv", index=False)

### Kabupaten Tebo

### Kota Jambi

In [ ]:
url = "https://dprd-jambiprov.go.id/dewan"

### Kota Sungai Penuh

# Bengkulu

### Kabupaten Bengkulu Selatan

### Kabupaten Bengkulu Tengah

### Kabupaten Bengkulu Utara

### Kabupaten Kaur

### Kabupaten Kepahiang

### Kabupaten Lebong

### Kabupaten Mukomuko

### Kabupaten Rejang Lebong

### Kabupaten Seluma

### Kota Bengkulu

In [53]:
url = "https://dprd.bengkulukota.go.id/daftar-anggota-dprd/"
soup = get_url(url)

In [58]:
spans = soup.find_all("div", {"class":"elementor-element elementor-element-4b6d6e5 elementor-widget elementor-widget-text-editor"})

In [55]:
soup.find_all("p", {"style" : "text-align"})

[]

In [80]:
list_nama = []
for span in spans:
    a = span.find_all("p", {"style" : "text-align: center;"})
    for child in a:
        extract_text = child.text
        if extract_text.strip() == "":
            pass
        elif extract_text == "———————————————————————————":
            pass
        elif extract_text == "ANGGOTA":
            pass
        else:
            list_nama.append(child.text)

In [85]:
list_nama = list_nama[2:]

In [86]:
df = pd.DataFrame.from_dict({"nama" : nama_list})
df["alamat"] = "No Data"
df

                              nama   alamat
0                           JUMARI  No Data
1                    JUMIWAN AGUZA  No Data
2                   MARTUNIS, A.Md  No Data
3                     ANDRI SANUSI  No Data
4                           SUGINI  No Data
5   MARWANSYAH PUTRA SIREGAR, S.Ds  No Data
6     H.SYAIFUL ACIK BILAL, S.Pd.I  No Data
7                         DARWANDI  No Data
8                       ALFIAN, SM  No Data
9              MART FRIDA YANI, SP  No Data
10               LENI ELVIRA.Z, SE  No Data
11       H. DJUSRI RAMLI, SE. M.Si  No Data
12                       SUMARYONO  No Data
13                         HAMBALI  No Data
14                  ROZALI, SE, ME  No Data
15                          ASNADI  No Data
16               GUSRIYANDI RIFA'I  No Data
17                AL JUPRI, S.Pd.I  No Data
18                        SUGIYONO  No Data
19                    AHMADI, S.HI  No Data
20   H. ROSIHAN ANUAR, S.Sos, M.Si  No Data
21                 MARHONI SUGANDA  No Data
22            DEDET JUMICO, SH, MH  No Data
23                  Drs. H. KHOLIL  No Data
24                          TAMRIN  No Data
25                   HOZIN, S.Pd.I  No Data
26             ABDUL QODIR, S.Pd.I  No Data
27                 DHARMAWAN F, SH  No Data
28                 ROSMALA DEWI,SE  No Data
29           SYAIFUL BAKHRI,S.Pd.I  No Data

In [87]:
df.to_csv("./DPRD TK II/Bengkulu/Bengkulu.csv", index=False)

# Bangka Belitung

### Kabupaten Bangka

### Kabupaten Bangka Barat

### Kabupaten Bangka Selatan

### Kabupaten Bangka Tengah

### Kabupaten Belitung

### Kabupaten Belitung Timur

### Kota Pangkal Pinang

In [ ]:
url = "https://setwan.pangkalpinangkota.go.id/statis-18-daftar-anggota-dprd-pangkalpinang.html"

# Lampung

### Kabupaten Lampung Tengah

In [64]:
base_url = "https://dprd.lampungtengahkab.go.id/"
url_1 = "https://dprd.lampungtengahkab.go.id/data-anggota?page=1"
url_2 = "https://dprd.lampungtengahkab.go.id/data-anggota?page=2"
url_3 = "https://dprd.lampungtengahkab.go.id/data-anggota?page=3"
url_4 = "https://dprd.lampungtengahkab.go.id/data-anggota?page=4"
url_5 = "https://dprd.lampungtengahkab.go.id/data-anggota?page=5"
url_6 = "https://dprd.lampungtengahkab.go.id/data-anggota?page=6"

urls = [url_1, url_2, url_3, url_4, url_5, url_6]

In [65]:
list_link = []
for url in urls:
    soup = get_url(url)
    for span in soup.find_all("div", {"class":"col-lg-4 col-sm-6 mb-25"}):
        for child in span.find_all('a', href=True):
            list_link.append(child["href"])

In [66]:
li = []
for url_child in list_link:
    url = base_url + url_child
    soup = get_url(url)
    
    list_nama = []
    soup = get_url(url)
    list_nama.append(soup.find_all("figcaption")[0].find("h3").text)
    
    try:
        df = pd.read_html(url)[0].T
        df.columns = df.iloc[1]
        df = df.iloc[[4]]
        df["nama"] = list_nama
        df = df.rename(columns={"Alamat" : "alamat"})
        df["tempat lahir"] = [x[0] for x in df["Tempat, Tanggal Lahir"].str.split(",")]
        df["tanggal lahir"] = [x[1] for x in df["Tempat, Tanggal Lahir"].str.split(",")]
        df = df[["nama", "alamat", "tempat lahir", "tanggal lahir"]].reset_index(drop=True)
    except:
        df = pd.DataFrame.from_dict({"nama" : list_nama})
        df["alamat"] = "No Data"
        df["tempat lahir"] = "No Data"
        df["tanggal lahir"] = "No Data"
    li.append(df)

In [68]:
df = pd.concat(li, ignore_index=True)

In [69]:
df.to_csv("./DPRD TK II/Lampung/Lampung_Tengah.csv", index=False)

### Kabupaten Lampung Utara

### Kabupaten Lampung Selatan

In [70]:
url = "https://www.lampungselatankab.go.id/web/badan-dprd/"
soup = get_url(url)

In [76]:
list_nama = []
for span in soup.find("div", {"class" : "entry"}).find_all("li"):
    list_nama.append(span.text)

In [81]:
df = pd.DataFrame.from_dict({"nama" : [x.split("(")[0] for x in list_nama]})
df["alamat"] = "No Data"
df

                              nama   alamat
0   H. Hendry Rosyadi, S.H., M.H.   No Data
1             Agus Sartono, A.Md.   No Data
2              Agus Sutanto, S.T.   No Data
3          H. Darol Kutni, S.Sos.   No Data
4                      Sulastiono   No Data
..                             ...      ...
66                          Kodri   No Data
67     Syaiful Azumar, S.H., M.H.   No Data
68                         Asmara   No Data
69                Ir. Halim Nasai   No Data
70              Farizal Purba, SE   No Data

[71 rows x 2 columns]

In [82]:
df.to_csv("./DPRD TK II/Lampung/Lampung_Selatan.csv", index=False)

### Kabupaten Lampung Barat

In [99]:
base_url = "https://dprd-lampungbaratkab.go.id/"
# url = "https://dprd-lampungbaratkab.go.id/profil-dewan.html"
url_1 = "https://dprd-lampungbaratkab.go.id/profil-dewan-page1.html"
url_2 = "https://dprd-lampungbaratkab.go.id/profil-dewan-page2.html"
url_3 = "https://dprd-lampungbaratkab.go.id/profil-dewan-page3.html"
url_4 = "https://dprd-lampungbaratkab.go.id/profil-dewan-page4.html"

urls = [url_1, url_2, url_3, url_4]

In [101]:
list_link = []
for url in urls:
    soup = get_url(url)
    for span in soup.find("div", {"class" : "isi"}).find_all("a", href=True):
        list_link.append(base_url + span["href"])
list_link = list(set(list_link))

In [107]:
remove_ele = urls.copy()
remove_ele.append('https://dprd-lampungbaratkab.go.id/')
list_link = list(set(list_link) - set(remove_ele))
len(list_link), list_link

(35,
 ['https://dprd-lampungbaratkab.go.id/profil-dewan3.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan63.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan46.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan53.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan69.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan68.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan72.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan65.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan16.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan64.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan25.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan67.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan52.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan33.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan71.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan73.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan55.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan56.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan13.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan60.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan62.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan66.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan24.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan57.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan75.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan21.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan58.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan36.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan59.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan61.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan50.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan7.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan70.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan48.html',
  'https://dprd-lampungbaratkab.go.id/profil-dewan14.html'])

In [117]:
li = []
for child_url in tqdm(list_link):
    df = pd.read_html(child_url)[0].T
    df.columns = df.iloc[1]
    df = df.iloc[[3]]
    
    df["tempat lahir"] = [x[0] for x in df["Tempat Tgl Lahir"].str.split(",")]
    df["tanggal lahir"] = [x[1] for x in df["Tempat Tgl Lahir"].str.split(",")]
    df = df.rename(columns={"Nama" : "nama",
                           "Alamat" : "alamat"})

    df = df[["nama", "alamat", "tempat lahir", "tanggal lahir"]].reset_index(drop=True)
    li.append(df)

In [118]:
df = pd.concat(li, ignore_index=True)
df

1,nama,alamat,tempat lahir,tanggal lahir
0,"HERI GUNAWAN, ST",Jl. KH. M. Sufi Padang Cahaya Kec. Balik Bukit,Lampung Utara,23 September 1967
1,"LINA MARLINA, SH",SIDO MULYO RT 004 RW 001 PEKON SIDOMULYO KEC. ...,SUMBERJAYA,22 Oktober 1977
2,SRI NURWIJAYANTI,"Wonosari, Gedung Surian, Lampung Barat",Gedung Surian,03 Januari 1987
3,"BAMBANG DUWI SAPUTRA, SH","SUKA MENANTI, RT 001 RW 005 KEL. WAY MENGAKU K...",LIWA,14 Agustus 1983
4,"TOMI ARDI, SH","PURAJAYA, RT 000 RW 000 PEKON PURAJAYA KEC. KE...",PURAWIWITAN,15 Januari 1985
5,"DEDEH ROHAYATI, SE","SETIA WARAS, RT 001 RW 001 PEKON TRI BUDI SYUK...",BANDUNG,20 Juli 1962
6,"WINARSIH, M.Phil","ROWOREJO, RT 004 RW 002 PEKON ROWOREJO KEC. SU...",BANDAR LAMPUNG,21 Juli 1984
7,EDI APRIYANTO,"SINAR SARI RT 000 RW 000 PEKON PAMPANGAN, SEKI...",SEKINCAU,20 April 1986
8,"ISMUN ZANI, S. Ip",Pekon Sebarus Kec. Balik Bukit Lambar,Sumber Jaya,07 Mei 1980
9,Hi. UNTUNG,LINGKUNGAN IV REJOSARI RT 002 RW 004 PEKON SEK...,TANGGAMUS,14 Februari 1970
10,"Hi. HERWAN, SH",Way Petai. RT. 03. RW.03 No. 207 Kec.Sumber Jaya,Semendo,20 Mei 1969
11,"JUHARTONO, S.Sos","AGUNG RAYA, RT 002 RW 006 PEKON PURAJAYA KEC. ...",PURAJAYA,10 Februari 1973
12,SUGENG HARI KINARYO ADI,"Bandar Agung, Bandar Negeri Suoh, Lampung Barat",Tanjung Harapan,01 April 1975
13,"B. DONI KURNIAWAN, ST",Jl. Raden Intan. No. 69 Garpu No. 58 Kec.Balik...,Solo,07 Oktober 1981
14,"ROVIE KOMSEN, S.Pd",BUNGIN I RT 000 RW 000 PEKON PURAMEKAR KEC. KE...,KOTABUMI,01 Juli 1989
15,Ir. MARGA JAYA DININGRAT,JL. WAY MESUJI NO.17 Lk 1 RT 009 RW 000 PAHOMA...,JAKARTA,21 Mei 1961
16,SUMYATI,"BAHWAY, RT 000 RW 000 PEKON BAHWAY KEC. BALIK ...",KOTA BANJARMASIN,29 Juni 1978
17,"ERWANSYAH, S.H","GUNUNG SUGIH, RT 000 RW 000 PEKON GUNUNG SUGIH...",KEDATON,12 Maret 1973
18,"AZHARI, SH",Pura Mekar Kec. Gedung Surian Lampung Barat,Gedung Surian,12 Juli 1967
19,MAWARDI,"KENALI. RT 000 RW 000 PEKON KENALI, KEC. BELAL...",SERUNGKUK,05 Oktober 1970
20,"AHMAD ALI AKBAR, SH","CIPTA MULYA, TR 001 RW 003 PEKON PURAWIWITAN K...",SINARJAYA,13 Januari 1995
21,SARJONO,"TANJUNG RAYA, RT 000 RW 000 PEKON TANJUNG RAYA...",SUKANANTI,14 Mei 1972
22,"ERWIN SUHENDRA, SE",Kenali Kec. Belalau. Kab. Lambar,Surabaya,01 Januari 1968
23,"NOPIYADI, S.Ip","SUKA MENANTI, RT 001 RW 004 KEL. WAY MENGAKU K...",PAGAR DEWA,22 November 1981
24,"SUHARLAN, S.Ag","Mekar Jaya, Kecamatan Way Tenong",,03 Juni 1974
25,SARWANI,"Banjar Negri Pekon Suoh, Kec.Bandar Negri Suoh",Negri ratu,05 Maret 1975
26,"ANGGI ROMANDO, S.Hut","PASAR LIWA, RT 001 RW 002 KEL. PASAR LIWA, KEC...",LIWA,11 April 1992
27,SUTIKNO,Sido Mulyo Kec. Pagar Dewa,Muji Rahayu,03 Juni 1967
28,"Drs. NUSYIRWAN, MM",JL. BLORA Gg. SANTOSA 2 NO 41C RT 002 RW 000 K...,LUMBOK,12 Agustus 1959
29,"Hi. BAHRIN AYUB, SH","KENALI. RT 000 RW 000 PEKON KENALI, KEC. BELAL...",BANJAR AGUNG,01 Juli 1969
30,SYAIFUL ABADI,"Tanjung Raya, Way Tenong, Lampung Barat, Lampu...",Kota Bumi,03 Oktober 1959
31,"EDI NOVIAL, S. Kom","Pekon Pura Jaya, Kecamatan Kebun Tebu",Tanjung Karang,17 Juli 1980
32,"SAKRI, S.Ag","PURAJAYA, RT 000 RW 000 PEKON PURAJAYA KEC. KE...",PURAWIWITAN,15 Januari 1985
33,TRI BUDI WAHYUNI,Sido Mulyo Kec. Pagar Dewa,Lampung Tengah,25 Agustus 1975
34,"SURYADI, S.Sos","Pekon Kenali, Kec.Belalau, Kab. Lambar",Way Semangka,13 Desember 1971

In [119]:
df.to_csv("./DPRD TK II/Lampung/Lampung_Barat.csv", index=False)

### Kabupaten Lampung Timur

### Kabupaten Mesuji

### Kabupaten Pesawaran

In [122]:
url = "https://id.wikipedia.org/wiki/Dewan_Perwakilan_Rakyat_Daerah_Kabupaten_Pesawaran"
df = pd.read_html(url)[4]
df = df.rename(columns={"Nama Anggota" : "nama"})
df["alamat"] = "No Data" 
df

,nama,Partai Politik,Daerah Pemilihan,Suara Sah,alamat
0,Devita Sahara,PKB,PESAWARAN 1,1.880,No Data
1,Zulkarnain,PKB,PESAWARAN 2,1.470,No Data
2,Firdayana,PKB,PESAWARAN 3,1.110,No Data
3,Rudi Andriansyah,PKB,PESAWARAN 5,1.700,No Data
4,"Rohimah Rahman, S.Ag.",PKB,PESAWARAN 5,1.677,No Data
5,"Evi Susina, S.H.",Gerindra,PESAWARAN 1,1.542,No Data
6,"Lenida Putri, S.IP.",Gerindra,PESAWARAN 2,2.142,No Data
7,"Rudi Agus Sunandar, S.E.",Gerindra,PESAWARAN 3,1.211,No Data
8,"H. Syaipurrohman, S.E.",Gerindra,PESAWARAN 5,1.564,No Data
9,"Aria Guna, S.Sos.I., M.M.",PDI-P,PESAWARAN 1,1.786,No Data
10,"M. Nasir, S.I.Kom., M.M.",PDI-P,PESAWARAN 2,6.196,No Data
11,"Sucipto, S.A.P.",PDI-P,PESAWARAN 2,2.778,No Data
12,"F.X. Bambang D.S.L.P., S.H., S.Kep.",PDI-P,PESAWARAN 2,1.922,No Data
13,Suprapto,PDI-P,PESAWARAN 3,2.440,No Data
14,Evi Dwiyana Lestari,PDI-P,PESAWARAN 3,1.521,No Data
15,Masnayati,PDI-P,PESAWARAN 4,1.787,No Data
16,Heri Yurizal Efendi,PDI-P,PESAWARAN 5,1.612,No Data
17,Harno Irawan,PDI-P,PESAWARAN 5,1.593,No Data
18,"Drs. Erlinda Widiastuti, M.Pd.I.",Golkar,PESAWARAN 1,1.177,No Data
19,"Yusak, S.H., M.H.",Golkar,PESAWARAN 2,2.894,No Data
20,"Bambang Suheri, S.H.",Golkar,PESAWARAN 3,2.278,No Data
21,"Mustika Bahrum, S.E., M.M.",Golkar,PESAWARAN 5,2.277,No Data
22,Hamsinar,NasDem,PESAWARAN 1,1.549,No Data
23,A. Gunawan,NasDem,PESAWARAN 3,1.364,No Data
24,"Fahmi Fahlevi, S.Pd.",NasDem,PESAWARAN 4,2.270,No Data
25,"Roliyansyah, S.E.",NasDem,PESAWARAN 5,894.000,No Data
26,"Atut Widiarti, S.Sos.",PKS,PESAWARAN 1,1.221,No Data
27,"Tati, S.E.",PKS,PESAWARAN 2,2.250,No Data
28,Widada,PKS,PESAWARAN 3,1.881,No Data
29,Agung Prasetia Baktiana,PKS,PESAWARAN 5,2.187,No Data
30,Andi Supratman,PPP,PESAWARAN 2,1.904,No Data
31,"Rifky Assofani, S.H.",PPP,PESAWARAN 5,1.372,No Data
32,Muklis,PAN,PESAWARAN 1,2.417,No Data
33,Paisaludin,PAN,PESAWARAN 2,4.666,No Data
34,"Umroni, A.Md.",PAN,PESAWARAN 3,898.000,No Data
35,Saifudin,PAN,PESAWARAN 4,2.336,No Data
36,Saptoni,PAN,PESAWARAN 5,2.841,No Data
37,Supriyadi,Hanura,PESAWARAN 1,1.884,No Data
38,Rohman,Hanura,PESAWARAN 5,1.037,No Data
39,Bumairo,Demokrat,PESAWARAN 1,1.394,No Data
40,Olan Fitrionando,Demokrat,PESAWARAN 2,5.179,No Data
41,"Irfani, S.P.",Demokrat,PESAWARAN 2,2.398,No Data
42,Musannif Yasser Syamsurya,Demokrat,PESAWARAN 3,1.646,No Data
43,"Subhan Wijaya, S.Kom.",Demokrat,PESAWARAN 5,1.795,No Data
44,"Muzakkar, S.Sos.",PBB,PESAWARAN 3,1.998,No Data

In [123]:
df.to_csv("./DPRD TK II/Lampung/Pesawaran.csv", index=False)

### Kabupaten Pesisir Barat

### Kabupaten Pringsewu

### Kabupaten Tulang Bawang

### Kabupaten Tulang Bawang Barat

### Kabupaten Tanggamus

### Kabupaten Way Kanan

### Kota Bandar Lampung

### Kota Metro

In [143]:
url = "https://dprd.metrokota.go.id/anggota.html"
df_list = pd.read_html(url)

In [144]:
li = []
for child in tqdm(df_list):
    df = child.T
    df.columns = df.iloc[1]
    df = df.rename(columns={"Nama" : "nama",
                           "Alamat" : "alamat"})
    df = df.iloc[[2]]
    df["tempat lahir"] = [x[0] for x in df["TTL"].str.split(",")]
    df["tanggal lahir"] = [x[1] for x in df["TTL"].str.split(",")]
    df = df[["nama", "alamat", "tempat lahir", "tanggal lahir"]].reset_index(drop=True)
    li.append(df)

100%|█████████████████████████████████████████| 25/25 [00:00<00:00, 208.33it/s]

In [146]:
df = pd.concat(li, ignore_index=True)
df

1,nama,alamat,tempat lahir,tanggal lahir
0,TONDI MUAMMAR GADDAFI NASUTION,Jl. Mawar Barat No. 10 Kota Metro,Metro,
1,"BASUKI, S.Pd",Jl. Ki Hajar Dewantara No. 31 Iringmulyo Metro...,Metro,
2,"AHMAD KUSEINI, M.Pd.jpg",Jl. Patimura Gg. Ambon Rt. 02 Rw. 01 Kel. Banj...,Bandar Jaya,1985-12-09
3,DIDIK ISNANTO,Jl. Patimura No. 175 Banjarsari Metro Utara Ko...,Metro,1980-08-28
4,"INDRA JAYA,SE",Jl. Jendral Sudirman No. 178 Metro Pusat Kota ...,Metro,1969-12-05
5,"AMRULLOH,SH.MH","Perumnas, 24 Tejo Agung Blok K No. 3 Metro Tim...",Teluk Betung,1982-07-27
6,"H. FAHMI ANWAR, SE",Jl. Duku No. 2 Metro Pusat Kota Metro,Palembang,
7,"ANCILLA HERNANI, SE.,S.Psi.,M.Pd",Jl. Jambu No. 33 Rt. 016 Rw. 006 Yosomulyo 21c...,Metro,1970-09-12
8,"MARYATI,S.KM.,M.Kes",Jl. Veteran No. 27 Kelurahan Hadimulyo Barat M...,Bengkulu,1958-08-05
9,"SUBHAN,SE",Jl. Gunung Lawu No. 33 Kelurahan Yosorejo Metr...,Metro,1973-07-05
10,AHMADI,Jl. Sumbawa No. 50 Ganjar Asri Metro Barat Kot...,Metro,1982-11-06
11,"RIA HARTINI, S. Sos",Jl. Hasanudin No. 37 RT/RW 027/005 Imopuro Met...,Komering Putih,
12,Ir. H. D. SHANTORY,Jl. Teratai No. 19 RT/RW 021/05 Mulyojati Metr...,Sungai Gerong,
13,"KUN KOMARIYATI,SE",Jl. Lele No. 56 Metro Timur Kota Metro,Banyuwangi,1971-02-02
14,"WASIS RIYADI,S.SoS.,SH",Jl. Ki Hajar Dewantara No. 39 Metro Timur Kota...,Metro,1961-09-16
15,BASUKI RAHMAT,Rt. 019 Rw. 005 Mulyosari Metro Barat Kota Metro,Bojonegoro,1968-06-15
16,"H ANSORI, SE.,MM",Jl. Poksai IV No 1 Komplek Pemda Hadimulyo Bar...,Menggala,1958-10-05
17,"Hj. RATNI MAKARAU, SE",Jl. Kunang No. 55 Kauman Metro,Donggala,
18,"H ADULHAK,SH.,MM",Jl. Brigjen Katamso No. 29 Ganjar Asri Metro B...,Bumi Aji,1958-07-03
19,"IIN DWI ASTUTI, SE",Jl. Gelatik Rt. 19 Rw. 05 Kelurahan Purwoasri ...,Purwosari,1980-04-14
20,Ir. DESWAN,Jl. Unyi No 3 Rt. 29 Rw. 10 Ganjar Agung Metro...,Kenali,1965-12-31
21,"M. FERMANTO, SE",Jl. DR. Sutomo No. 46 Purwosari Metro Utara Ko...,Palembang,
22,"YULIANTO, SE",Jl. Way Lalaan No. 9A Yosorejo Metro Timur Kot...,Metro,
23,"WAHID ASNGARI, S.Pd.I, M.Pd.I",Jl. Pesantren Rt. 007 Rw. 002 Kel. Mulyojati K...,Balerejo,1981-05-31
24,ADI PRASETYO S.IP,Jl.Sastro Rt 09 Rw 02 Kel. Ganjar Asri Kec. Me...,Metro,1963-05-15

In [147]:
df.to_csv("./DPRD TK II/Lampung/Metro.csv", index=False)